{% extends 'FastSisdikBundle::layout.html.twig' %}

{% block page_heading %}{% trans from "headings" %}presence.schedule.list{% endtrans %}{% endblock %}

{% block content %}
<style type="text/css">
.control-group {
    display: inline-block;
    margin-right: 0.4em;
}
</style>

<div class="filter-section">
    <div>
        {%- for key, value in schools -%}
        <a class="{% if key == sekolah %}current{% endif %}" href="{{ path('presence_schedule_list', {'sekolah': key}) }}">{{ value }}</a>{% if not loop.last %} | {% endif %}
        {%- endfor -%}
    </div>
    <div style="padding-top: 10px;">
        <form method="GET" action="{{ path('presence_schedule_list', {'sekolah': sekolah, 'repetition': repetition}) }}" id="{{ searchform.get('id') }}" class="form-search form-inline">
            {{ form_widget(searchform) }}
            <button type="submit" class="btn primary alternative icon search">{{ 'label.view'|trans }}</button>
            <button class="btn" type="reset" onclick="window.location.href='{{ path('presence_schedule_list', {'sekolah': sekolah}) }}'">{{ 'label.reset'|trans }}</button>
        </form>
    </div>
</div>

{% if displayresult %}

    <h4>{{ 'label.year.entry'|trans }} {{ searchdata.tahun.nama }}
    {{ 'label.class.entry'|trans }} {{ searchdata.kelas.nama }}
    {{ 'label.repetition'|trans }} {{ searchdata.perulangan }}
    {% if searchdata.mingguanHariKe is defined %}{{ 'label.day'|trans }} {{ daynames[searchdata.mingguanHariKe] }}{% endif %}
    {% if searchdata.bulananHariKe is defined %}{{ 'label.dayno'|trans }} {{ searchdata.bulananHariKe }}{% endif %}
    </h4>

    {% if is_expr_granted("hasRole('ROLE_SUPER_ADMIN')") %}
    <div class="clearfix"></div>

    <div class="add-link">
    {% image '@FastSisdikBundle/Resources/public/images/forms/icon_plus.gif' %}
    	<a href="{{ path('presence_schedule_new', {'sekolah' : sekolah}) }}" class="add-link-a">
    	    <img src="{{ asset_url }}" alt="{{ 'alt.add'|trans }}" border="0" width="21" height="21" style="vertical-align: middle;" />
    	    {{ 'label.presence.schedule.add'|trans }}
    	</a>
    {% endimage %}
    </div>

    <div class="clearfix"></div>
    {% else %}
    <div class="clearfix" style="margin-top: 20px;"></div>
    {% endif %}

<table class="table zebra-striped bordered-table" id="no-more-tables">
    <thead>
    	<tr>
    		<th>{{ 'label.school'|trans }}</th>
    		<th>{{ 'label.presence.status.entry'|trans }}</th>
    		<th>{{ 'label.parameter'|trans }}</th>
    		<th>{{ 'label.sms.realtime'|trans }}</th>
    		<th>{{ 'label.sms.massive'|trans }}</th>
    		<th>{{ 'label.attendance'|trans }}</th>
    		<th>{{ 'label.actions'|trans }}</th>
    	</tr>
	</thead>
	<tbody>
    {% for data in pagination %}
        <tr>
            <td data-title="{{ 'label.school'|trans }}">{% if data.tahun is not null %}{{ data.tahun.sekolah.nama }}{% endif %}</td>
    		<td data-title="{{ 'label.presence.status.entry'|trans }}">
    		    {% if data.statusKehadiranKepulangan is not null %}
    		        {{ data.statusKehadiranKepulangan.nama }}
    		    {% endif %}
    		    {% if data.templatesms is not null %}
    		        <br />[{{ data.templatesms.nama }}]
    		    {% endif %}
    	    </td>
    		<td data-title="{{ 'label.parameter'|trans }}">
    		    {% if data.paramstatusDariJam is empty %}
    		        &mdash;
    	        {% else %}
    	            {{ data.paramstatusDariJam }}
                {% endif %}
                <span class="separator">-</span>
    		    {% if data.paramStatusHinggaJam is empty %}
    		        &mdash;
    	        {% else %}
    	            {{ data.paramStatusHinggaJam }}
                {% endif %}
            </td>
    		<td data-title="{{ 'label.sms.realtime'|trans }}">
    		    {% if data.smsRealtimeDariJam is empty %}
    		        &mdash;
    	        {% else %}
    	            {{ data.smsRealtimeDariJam }}
                {% endif %}
                <span class="separator">|</span>
    		    {% if data.smsRealtimeHinggaJam is empty %}
    		        &mdash;
    	        {% else %}
    	            {{ data.smsRealtimeHinggaJam }}
                {% endif %}
                <span class="separator">|</span>
    		    {% if data.kirimSmsRealtime is empty %}
    	            {% image '@FastSisdikBundle/Resources/public/images/cross.png' %}
    		        <img src="{{ asset_url }}" border="0" height="20" style="vertical-align: middle;" />
    		        {% endimage %}
    	        {% else %}
    		        {% image '@FastSisdikBundle/Resources/public/images/check2.png' %}
    		        <img src="{{ asset_url }}" border="0" height="20" style="vertical-align: middle;" />
    		        {% endimage %}
                {% endif %}
                <span class="separator">|</span>
    		    {% if data.commandRealtime is empty %}
    		        &mdash;
    	        {% else %}
    	            {{ data.commandRealtime }}
                {% endif %}
            </td>
    		<td data-title="{{ 'label.sms.massive'|trans }}">
    		    {% if data.smsMassalJam is empty %}
    		        &mdash;
    	        {% else %}
    	            {{ data.smsMassalJam }}
                {% endif %}
                <span class="separator">|</span>
    		    {% if data.kirimSmsMassal is empty %}
    	            {% image '@FastSisdikBundle/Resources/public/images/cross.png' %}
    		        <img src="{{ asset_url }}" border="0" height="20" style="vertical-align: middle;" />
    		        {% endimage %}
    	        {% else %}
    		        {% image '@FastSisdikBundle/Resources/public/images/check2.png' %}
    		        <img src="{{ asset_url }}" border="0" height="20" style="vertical-align: middle;" />
    		        {% endimage %}
                {% endif %}
                <span class="separator">|</span>
    		    {% if data.commandMassal is empty %}
    		        &mdash;
    	        {% else %}
    	            {{ data.commandMassal }}
                {% endif %}
            </td>
    		<td data-title="{{ 'label.attendance'|trans }}">
    		    {% if data.dariJam is empty %}
    		        &mdash;
    	        {% else %}
    	            {{ data.dariJam }}
                {% endif %}
{#                 <span class="separator">|</span>#}
{#     		    {% if data.hinggaJam is empty %}#}
{#     		        &mdash;#}
{#     	        {% else %}#}
{#     	            {{ data.hinggaJam }}#}
{#                 {% endif %}#}
                <span class="separator">|</span>
    		    {% if data.commandJadwal is empty %}
    		        &mdash;
    	        {% else %}
    	            {{ data.commandJadwal }}
                {% endif %}
            </td>
    		<td data-title="{{ 'label.actions'|trans }}" class="row-actions">
        		<a href="{{ path('presence_schedule_show', {'sekolah': sekolah, 'id': data.id, 'page': pagination.paginationData.current}) }}" title="{{ 'tip.detail'|trans }}" class="icon-arrow-right"></a>
        		<a href="{{ path('presence_schedule_edit', {'sekolah': sekolah, 'id': data.id, 'page': pagination.paginationData.current}) }}" title="{% trans %}tip.edit{% endtrans %}" class="icon-edit"></a>
    		</td>
    	</tr>
    {% endfor %}
    </tbody>
</table>
{{ knp_pagination_render(pagination) }}

    {% if is_expr_granted("hasRole('ROLE_SUPER_ADMIN')") %}
        <div>{{ 'shortinfo.duplicate.schedule'|trans }}</div>
        <div>
            <form method="post" action="{{ path('presence_schedule_duplicate', {'sekolah': sekolah}) }}" class="form-search form-inline">
                {{ form_widget(duplicateform) }}
                <button type="submit" class="btn success alternative icon share">{{ 'label.duplicate'|trans }}</button>
            </form>
        </div>

        <div class="clearfix"></div>

        <form method="post" action="{{ path('presence_schedule_populatecommand') }}" class="form-inline">
            {{ form_widget(populatecommandform) }}
            <button type="submit" class="btn success alternative icon link">{{ 'label.updatecommand'|trans }}</button>&nbsp; ({{ 'shortinfo.onlyforactiveyear'|trans }})
        </form>
    {% endif %}

{% endif %}

<script language="javascript" type="text/javascript">
$(document).ready(function() {
	var url = "{{ path('data_class_ajax_updateclass_schooldefined', {'sekolah': sekolah}) }}";
	$.get(url, {tahun: $(".selectyear").val(){% if searchdata.kelas is not null %}, kelas: {{ searchdata.kelas.id }}{% endif %}}, function(data) {
    	var options = '';
        for (var i = 0; i < data.length; i++) {
            options += '<option value="' + data[i].optionValue + '"'
                + (data[i].optionSelected == 'selected' ? 'selected="selected"' : '') + '>'
                + data[i].optionDisplay + '</option>';
        }
        $(".selectclass").html(options);
    });

    $(".selectyear").change(function() {
        // clear class select box content
        $(".selectclass").empty();
        $(".selectclass").html('<option>{{ 'alt.loading'|trans }}</option>');


        $.get(url, {tahun: $(this).val()}, function(data) {
        	var options = '';
            for (var i = 0; i < data.length; i++) {
                options += '<option value="' + data[i].optionValue + '"'
                + (data[i].optionSelected == 'selected' ? 'selected="selected"' : '') + '>'
                + data[i].optionDisplay + '</option>';
            }
            $(".selectclass").html(options);
        });
    });

	$.get(url, {tahun: $(".selectyearduplicate").val()}, function(data) {
    	var options = '';
        for (var i = 0; i < data.length; i++) {
            options += '<option value="' + data[i].optionValue + '"'
                + (data[i].optionSelected == 'selected' ? 'selected="selected"' : '') + '>'
                + data[i].optionDisplay + '</option>';
        }
        $(".selectclassduplicate").html(options);
    });

    $(".selectyearduplicate").change(function() {
        // clear class select box content
        $(".selectclassduplicate").empty();
        $(".selectclassduplicate").html('<option>{{ 'alt.loading'|trans }}</option>');

        $.get(url, {tahun: $(this).val()}, function(data) {
        	var options = '';
            for (var i = 0; i < data.length; i++) {
                options += '<option value="' + data[i].optionValue + '"'
                + (data[i].optionSelected == 'selected' ? 'selected="selected"' : '') + '>'
                + data[i].optionDisplay + '</option>';
            }
            $(".selectclassduplicate").html(options);
        });
    });
});
</script>
{% endblock content %}
