{% extends 'FastSisdikBundle::layout.html.twig' %}

{% block page_heading %}{% trans from "headings" %}presence.schedule.creation{% endtrans %}{% endblock %}

{% block content %}
{% if sekolah is not null %}
<h3>{{ sekolah.nama }}</h3>
{% endif %}
<form action="{{ path('presence_schedule_create', {'sekolah': sekolah.id}) }}" method="post" {{ form_enctype(form) }} class="form-horizontal">
    {{ form_widget(form) }}
	<div class="form-actions">
	    <button type="submit" class="btn primary">{{ 'label.submit.add'|trans }}</button>
    </div>
</form>
<ul class="pills">
    <li>
        <a href="{{ path('presence_schedule_list', {'sekolah': sekolah.id}) }}">{{ 'link.backtolist'|trans }}</a>
{#         <a href="{{ app.request.headers.get('referer') }}">{{ 'link.backtolist'|trans }}</a>#}
    </li>
</ul>
{% endblock content %}