{% extends 'LanggasSisdikBundle::layout.html.twig' %}

{% block page_heading %}{% trans from "headings" %}smspendaftaran.detail{% endtrans %}{% endblock %}
{% block content %}
<ul class="nav nav-pills pull-right">
    <li>
        <a href="{{ path('smspendaftaran_new') }}" class="add-link-a">
            <i class="fa fa-plus-square fa-lg fa-fw"></i>{{ 'label.smspendaftaran.tambah'|trans }}
        </a>
    </li>
</ul>

<dl>
    <dt>{{ 'label.school'|trans }}</dt>
    <dd>{{ entity.sekolah.nama }}</dd>
    <dt>{{ 'label.layanansms.jenis'|trans }}</dt>
    <dd>{{ daftarJenisLayanan[entity.jenisLayanan]|trans }}</dd>
    <dt>{{ 'label.sms.template.entry'|trans }}</dt>
    <dd>{{ entity.templatesms.nama }} &raquo; {{ entity.templatesms.teks }}</dd>
</dl>

<div class="clearfix"></div>

<form id="delete-form" action="{{ path('smspendaftaran_delete', {'id': entity.id}) }}" method="post" class="form-inline pull-right">
    {{ form_widget(delete_form) }}
    <div class="form-actions">
        <button type="submit" class="btn alternative icon danger remove">{{ 'label.delete'|trans }}</button>
    </div>
</form>

<ul class="nav nav-pills">
    <li>
        <a href="{{ path('smspendaftaran') }}">{{ 'link.backtolist'|trans }}</a>
    </li>
    <li>
        <a href="{{ path('smspendaftaran_edit', {'id': entity.id}) }}">{{ 'link.edit'|trans }}</a>
    </li>
</ul>
{% endblock content %}

{% block javascripts_custom %}
<script language="javascript" type="text/javascript">
$(document).ready(function() {
    $("#delete-form").submit(function(){
        var confirmtext = "{{ 'confirm.drop.smspendaftaran'|trans }}";
        confirmtext = confirmtext.replace(/&#039;/g, "'");
        return confirmDropButton(confirmtext);
    });
});
</script>
{% endblock javascripts_custom %}
