{% extends 'LanggasSisdikBundle::layout.html.twig' %}

{% block page_heading %}{% trans from "headings" %}layanansms.detail{% endtrans %}{% endblock %}

{% block content %}
<dl>
    <dt>{{ 'label.school'|trans }}</dt>
    <dd>{{ sekolah.nama }}</dd>
    <dt>{{ 'label.layanansms.jenis'|trans }}</dt>
    <dd>
    {% if entity|length > 0 %}
        {% for layanan in entity %}
            <ul><li>{{ daftarJenisLayanan[layanan.jenisLayanan]|trans }}</li></ul>
        {% endfor %}
    {% else %}
        <p>Tidak ada layanan sms yang aktif</p>
    {% endif %}
    </dd>
</dl>

<div class="clearfix"></div>

<ul class="nav nav-pills">
    <li><a href="{{ path('layanansms') }}">{{ 'link.backtolist'|trans }}</a></li>
</ul>
{% endblock content %}
