{% extends "FOSUserBundle::layout.html.twig" %}

{% block page_heading %}{% trans from "headings" %}profile.change.password{% endtrans %}{% endblock %}
{% block content %}
<h3>{{ app.user.username }}</h3>
<div class="span7">
    <form action="{{ path('fos_user_change_password') }}" {{ form_enctype(form) }} method="POST" class="fos_user_change_password form-horizontal">
		{{ form_widget(form) }}
        <div class="form-actions">
            <button type="submit" class="btn primary">{{ 'change_password.submit'|trans({}, 'FOSUserBundle') }}</button>
        </div>
    </form>
</div>
{% endblock content %}