<h1>CalonPembayaranSekali</h1>

<table class="record_properties">
    <tbody>
        <tr>
            <th>Id</th>
            <td>{{ entity.id }}</td>
        </tr>
        <tr>
            <th>Nominalpembayaran</th>
            <td>{{ entity.nominalPembayaran }}</td>
        </tr>
        <tr>
            <th>Keterangan</th>
            <td>{{ entity.keterangan }}</td>
        </tr>
        <tr>
            <th>Waktusimpan</th>
            <td>{{ entity.waktuSimpan|date('Y-m-d H:i:s') }}</td>
        </tr>
        <tr>
            <th>Waktuubah</th>
            <td>{{ entity.waktuUbah|date('Y-m-d H:i:s') }}</td>
        </tr>
    </tbody>
</table>

<ul class="record_actions">
    <li>
        <a href="{{ path('applicant-payment-oncefee') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('applicant-payment-oncefee_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>
        <form action="{{ path('applicant-payment-oncefee_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button type="submit">Delete</button>
        </form>
    </li>
</ul>
