{% extends 'FastSisdikBundle::layout.html.twig' %}

{% block page_heading %}{% trans from "headings" %}academic.calendar{% endtrans %}{% endblock %}

{% block content %}
<style type="text/css">
.control-group {
    display: inline-block;
    margin-right: 0.4em;
}
#no-more-tables .checkbox {
    padding: 0;
    margin: 0;
}
#no-more-tables .checkbox input {
    margin-left: 5px;
    margin-top: 10px;
}
#no-more-tables th {
    width: 14.2%;
}
#no-more-tables td {
    height: 5em;
}
#no-more-tables label {
    display: block;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}
#no-more-tables td {
    border-top: 1px solid #DDDDDD;
    vertical-align: top;
}
.inactive {
    background-color: #F5CBCB;
}
.check {
    background-color: #FFFFAA;
}
p.day-num {
    font-weight: bold;
    font-size: 1.2em;
    text-align: right;
    padding: 0 5px 0 0;
}
.link-actions {
    margin-bottom: 20px;
}
</style>
<div class="filter-section">
    <form method="POST" action="{{ path('data_kaldemik_process') }}" class="form-search form-inline">
        {{ form_widget(searchform) }}
        <button type="submit" class="btn primary alternative icon search">{{ 'label.view'|trans }}</button>
        <button class="btn" type="reset" onclick="window.location.href='{{ path('data_kaldemik') }}'">{{ 'label.reset'|trans }}</button>
    </form>
</div>

<h2 style="text-align: center;">{{ calendar.months[calendar.month] }}, {{ calendar.year }}</h2>
<p style="line-height: 1.2em; margin-bottom: 0.5em;">
Centang tanggal untuk menandai sebagai hari KBM aktif.<br />
Perubahan baru akan tersimpan setelah mengklik tombol Simpan.
</p>
<form id="calendar-form" method="post" action="{{ path('data_kaldemik_update', {'year': calendar.year, 'month': calendar.month}) }}" class="form-horizontal">
    <table class="bordered-table" id="no-more-tables">
        <thead>
            <tr>
                {% for item in calendar.days %}
                <th>
                    {{ item }}
                </th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for items in calendar.cal %}
            <tr>
                {% set dayindex = 1 %}
                {% for item in items %}
                    {% if item.num is null %}
                        <td data-title="{{ calendar.days[loop.index0] }}" class="inactive">&nbsp;</td>
                    {% elseif item.off is not null %}
                        <td data-title="{{ calendar.days[loop.index0] }}" class="inactive">
                            <p class="day-num">{{ item.num }}</p>
                        </td>
                    {% else %}
                        <td data-title="{{ calendar.days[loop.index0] }}" class="active dates">
                            <label>
                            <p class="day-num">{{ item.num }}</p>
                            {{ form_widget(form['kbm_' ~ item.num]) }}
                            </label>
                        </td>
                    {% endif %}
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <div class="link-actions">
        {% image '@FastSisdikBundle/Resources/public/images/arrow_ltr.png' %}
        <img src="{{ asset_url }}" border="0" style="vertical-align: bottom;" />
        {% endimage %}
        <a onclick="if (markAllDates('calendar-form')) return false;" href="" class="additional-link">{{ 'label.checkall'|trans }}</a>
        /
        <a onclick="if (unMarkAllDates('calendar-form')) return false;" href="" class="additional-link">{{ 'label.uncheckall'|trans }}</a>
    </div>

    <div class="form-actions">
        <button type="submit" class="btn primary">{{ 'label.save'|trans }}</button>
    </div>
    {{ form_rest(form) }}
</form>
{% endblock content %}

{% block javascripts_custom %}
<script language="javascript" type="text/javascript">
$(document).ready(function(){
    $('.dates').each(function(){
        $(this).click(function(e){
            if (e.target === this) {
                var checkstate = $(this).find('input:checkbox').is(':checked');
                if (!checkstate) {
                    $(this).find('input:checkbox').attr('checked', 'checked');
                } else {
                    $(this).find('input:checkbox').removeAttr('checked');
                }
                if (checkstate) {
                    $(this).removeClass('check');
                } else {
                    $(this).addClass('check');
                }
            }
        });
    });
    $('.dates input:checkbox').each(function() {
        $(this).change(function(e) {
            if ($(this).is(':checked')) {
                $(this).parents('td.active').addClass('check');
            } else {
                $(this).parents('td.active').removeClass('check');
            }
        });

        if ($(this).is(':checked')) {
            $(this).parents('td.active').addClass('check');
        } else {
            $(this).parents('td.active').removeClass('check');
        }
    });
});

function markAllDates( container_id ) {
    $('#' + container_id).find("input:checkbox:enabled").attr("checked","checked").parents("td").addClass("check");
    return true;
}

function unMarkAllDates( container_id ) {
    $('#' + container_id).find("input:checkbox:enabled").removeAttr("checked").parents("td").removeClass("check");
    return true;
}
</script>
{% endblock javascripts_custom %}
