{% extends 'LanggasSisdikBundle::layout.html.twig' %}

{% block page_heading %}{% trans from "headings" %}riwayat.penyakit.daftar{% endtrans %} {{ siswa.namaLengkap }}{% endblock %}

{% block content %}
<dl>
    <dt>{{ 'label.name.full'|trans }}</dt>
    <dd>{{ siswa.namaLengkap }}</dd>
    <dt>{{ 'label.year.entry'|trans }}</dt>
    <dd>{% if siswa.tahun is not null %}{{ siswa.tahun.tahun }}{% endif %}</dd>
    <dt>{{ 'label.admissiongroup.entry'|trans }}</dt>
    <dd>{% if siswa.gelombang is not null %}{{ siswa.gelombang.nama }}{% endif %}</dd>
    <dt>{{ 'label.gender'|trans }}</dt>
    <dd>{% if siswa.jenisKelamin == 'L' %}{{ 'male'|trans }}{% elseif siswa.jenisKelamin == 'P' %}{{ 'female'|trans }}{% endif %}</dd>
</dl>

<div class="clearfix" style="margin-bottom: 2em;"></div>

<ul class="nav nav-pills">
    <li>
        <a href="{{ path('riwayat-penyakit-' ~ ruteasal ~ '_new', {'sid': siswa.id}) }}" class="add-link-a">
            <i class="fa fa-plus-square fa-lg fa-fw"></i>{{ 'label.riwayat.penyakit.tambah'|trans }}
        </a>
    </li>
</ul>

<div class="clearfix"></div>

<table class="table zebra-striped bordered-table" id="no-more-tables">
    <thead>
        <tr>
            <th>{{ 'label.nama.penyakit'|trans }}</th>
            <th>{{ 'label.tahun.sakit'|trans }}</th>
            <th>{{ 'label.lama.sakit'|trans }}</th>
            <th>{{ 'label.actions'|trans }}</th>
        </tr>
    </thead>
    <tbody>
    {% for data in pagination %}
        <tr>
            <td data-title="{{ 'label.penyakit.nama'|trans }}">{{ data.nama }}</td>
            <td data-title="{{ 'label.tahun.sakit'|trans }}">{{ data.tahun }}</td>
            <td data-title="{{ 'label.lama.sakit'|trans }}">{{ data.lamasakit }}</td>
            <td data-title="{{ 'label.actions'|trans }}" class="row-actions">
                <a href="{{ path('riwayat-penyakit-' ~ ruteasal ~ '_show', {'sid': siswa.id, 'id': data.id}) }}" title="{{ 'tip.detail'|trans }}"><i class="fa fa-arrow-right"></i></a>
                <a href="{{ path('riwayat-penyakit-' ~ ruteasal ~ '_edit', {'sid': siswa.id, 'id': data.id}) }}" title="{{ 'tip.edit'|trans }}"><i class="fa fa-pencil"></i></a>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{{ knp_pagination_render(pagination) }}

<div class="clearfix"></div>

<ul class="nav nav-pills">
    <li>
    {% if ruteasal == 'pendaftar' %}
        <a href="{{ path('applicant_show', {'id': siswa.id}) }}">{{ 'link.backto'|trans }} {{ 'link.info.pendaftar'|trans }}</a>
    {% else %}
        <a href="{{ path('siswa_show', {'id': siswa.id}) }}">{{ 'link.backto'|trans }} {{ 'link.info.siswa'|trans }}</a>
    {% endif %}
    </li>
</ul>
{% endblock content %}
