{% extends 'FastSisdikBundle::layout.html.twig' %}

{% block page_heading %}{% trans from "headings" %}presence.student.list{% endtrans %}{% endblock %}

{% block content %}
<style type="text/css">
.control-group {
    display: inline-block;
    margin-right: 0.4em;
}
.nav .active > a {
    background-color: yellow;
}
.nav a:hover, .nav .active a:hover {
    color: inherit;
    text-decoration: none;
}
.nav > li > a:hover, .nav > li.active > a:hover {
    text-decoration: none;
    background-color: yellow;
}
.form-inline .radio {
    padding-left: 3em;
}
.form-inline .checked label {
    color: #ff0000;
}
.accordion-toggle:hover {
    text-decoration: none;
}
.arrow-down-lanjut {
	width: 0;
	height: 0;
	border-left: 4px solid transparent;
	border-right: 4px solid transparent;
	border-top: 4px solid #555;
	display: inline-block;
	margin-left: 0.3em;
	vertical-align: middle;
}
#proses-kehadiran {
    display: none;
}
#anchor-proses-kehadiran {
    outline: none;
    text-decoration: none;
}
.anchor-proses-kehadiran {
    color: #555;
    white-space: nowrap;
}
.anchor-proses-kehadiran-sel {
    color: #999;
    white-space: nowrap;
}
.anchor-proses-kehadiran, .anchor-proses-kehadiran-sel {
    padding: 4px 8px;
    border: 1px solid transparent;
    border-radius: 5px;
}
.anchor-proses-kehadiran:hover {
    background-color: #F8F8F8;
    background-image: -moz-linear-gradient(center top, #F8F8F8, #F1F1F1);
    border: 1px solid #C6C6C6;
    color: #222222;
    border-radius: 5px;
}
.anchor-proses-kehadiran-sel {
    border: 1px solid rgb(215, 215, 215);
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.1) inset;
    background: -moz-linear-gradient(center top , rgb(238, 238, 238), rgb(224, 224, 224)) repeat scroll 0% 0% transparent;
    color: rgb(102, 102, 102);
    border-radius: 5px;
}
.anchor-proses-kehadiran-sel:hover {
    color: #222;
}
.accordion a:focus {
    outline: none;
}
#form-inisiasi {
    margin-bottom: 0px;
}
.ajax-loader {
    color: #003EB0;
}
</style>

<div class="filter-section">
    <form id="searchform" method="get" action="{{ path('studentspresence_edit') }}" {{ form_enctype(searchform) }} class="form-search form-inline">
        {{ form_widget(searchform) }}
        <button type="submit" class="btn primary alternative icon log">{{ 'label.view'|trans }}</button>
        <button class="btn" type="reset" onclick="window.location.href='{{ path('studentspresence') }}'">{{ 'label.reset'|trans }}</button>
    </form>
</div>

<div class="clearfix"></div>

<h4>{{ 'kehadiran'|trans }} {{ 'di'|trans }} {{ 'kelas'|trans }} {{ kelas.nama }} {{ 'tanggal'|trans }} {{ tanggal|date('d/m/Y') }}</h4>

<a href="" id="anchor-proses-kehadiran" class="anchor-proses-kehadiran" onclick="return false;">{{ 'link.rincian.proses.kehadiran'|trans }}<span class="arrow-down-lanjut"></span></a>

<div class="clearfix" style="margin-bottom: 1em;"></div>

<div id="proses-kehadiran">
    <div class="accordion" id="proses-kehadiran-accordion">
        <div class="accordion-group">
            <div class="accordion-heading">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#proses-kehadiran-accordion" href="#collapseOne">
                    <span class="badge {% spaceless %}
                        {% if prosesKehadiranSiswa is not null %}
                            {% if prosesKehadiranSiswa.berhasilInisiasi == 1 %}badge-success{% else %}badge-warning{% endif %}
                        {% else %}badge-warning{% endif %}{% endspaceless %}"></span>
                    &nbsp; {{ 'info.inisiasi.kehadiran'|trans }}
                </a>
            </div>
            <div id="collapseOne" class="accordion-body collapse">
                <div class="accordion-inner">
                {% if prosesKehadiranSiswa is not null %}
                    {% if prosesKehadiranSiswa.berhasilInisiasi == 1 %}
                        {{ 'info.pesan.piket.inisiasi.berhasil'|trans({'%tanggal%': tanggal|date('d/m/Y')}) }}
                    {% else %}
                        {{ 'info.pesan.piket.inisiasi.gagal'|trans({'%tanggal%': tanggal|date('d/m/Y')}) }}
                    {% endif %}
                {% else %}
                    {{ 'info.pesan.piket.inisiasi.lainnya'|trans({'%tanggal%': tanggal|date('d/m/Y')}) }}
                {% endif %}
                    <form id="form-inisiasi" method="post" action="{{ path('studentspresence_inisiasi', {kelas_id: kelas.id, tanggal: tanggal|date('Y-m-d')}) }}" {{ form_enctype(formInisiasi) }} class="form-horizontal">
                        {{ form_widget(formInisiasi) }}
                        <button type="submit" class="btn success alternative icon play">
                    {% if prosesKehadiranSiswa is not null %}
                        {% if prosesKehadiranSiswa.berhasilInisiasi == 1 %}
                            {{ 'label.inisiasi.ulang'|trans }}
                        {% else %}
                            {{ 'label.inisiasi'|trans }}
                        {% endif %}
                    {% else %}
                        {{ 'label.inisiasi'|trans }}
                    {% endif %}
                        </button>
                        <div id="loader-inisiasi" class="ajax-loader"></div>
                    </form>
                </div>
            </div>
        </div>

        <div class="accordion-group">
            <div class="accordion-heading">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#proses-kehadiran-accordion" href="#collapseTwo">
                    <span class="badge {% spaceless %}
                    {% if prosesKehadiranSiswa is not null %}
                        {% if prosesKehadiranSiswa.berhasilDiperbaruiMesin == 1 %}badge-success{% else %}badge-warning{% endif %}
                    {% else %}badge-warning{% endif %}{% endspaceless %}"></span>
                    &nbsp; {{ 'info.pembaruan.dari.mesin.kehadiran'|trans }}
                </a>
            </div>
            <div id="collapseTwo" class="accordion-body collapse">
                <div class="accordion-inner">
                    Anim pariatur cliche...
                </div>
            </div>
        </div>

        <div class="accordion-group">
            <div class="accordion-heading">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#proses-kehadiran-accordion" href="#collapseThree">
                    <span id="warna-validasi" class="badge {% spaceless %}
                    {% if prosesKehadiranSiswa is not null %}
                        {% if prosesKehadiranSiswa.berhasilValidasi == 1 %}badge-success{% else %}badge-warning{% endif %}
                    {% else %}badge-warning{% endif %}{% endspaceless %}"></span>
                    &nbsp; {{ 'info.validasi.kehadiran'|trans }}
                </a>
            </div>
            <div id="collapseThree" class="accordion-body collapse">
                <div class="accordion-inner">
                    {{ 'info.cara.validasi.kehadiran'|trans }}
                </div>
            </div>
        </div>

        <div class="accordion-group">
            <div class="accordion-heading">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#proses-kehadiran-accordion" href="#collapseFour">
                    <span class="badge {% spaceless %}
                    {% if prosesKehadiranSiswa is not null %}
                        {% if prosesKehadiranSiswa.berhasilKirimSmsManual == 1 %}badge-success{% else %}badge-warning{% endif %}
                    {% else %}badge-warning{% endif %}{% endspaceless %}"></span>
                    &nbsp; {{ 'info.sms.kehadiran.manual'|trans }}
                </a>
            </div>
            <div id="collapseFour" class="accordion-body collapse">
                <div class="accordion-inner">
                    Anim pariatur cliche...
                </div>
            </div>
        </div>

        <div class="accordion-group">
            <div class="accordion-heading">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#proses-kehadiran-accordion" href="#collapseFive">
                    <span class="badge {% spaceless %}
                    {% if prosesKehadiranSiswa is not null %}
                        {% if prosesKehadiranSiswa.berhasilKirimSmsOtomatis == 1 %}badge-success{% else %}badge-warning{% endif %}
                    {% else %}badge-warning{% endif %}{% endspaceless %}"></span>
                    &nbsp; {{ 'info.sms.kehadiran.otomatis'|trans }}
                </a>
            </div>
            <div id="collapseFive" class="accordion-body collapse">
                <div class="accordion-inner">
                    Anim pariatur cliche...
                </div>
            </div>
        </div>
    </div>
</div>

{% if entities %}
<form method="post" action="{{ path('studentspresence_update') }}" class="form-inline" id="presenceform">
<dl>
{% for kehadiran in entities %}
    <dt>{{ kehadiran.siswa.namaLengkap }}<br /><span style="font-weight: normal;">{{ kehadiran.siswa.nomorInduk }}</span></dt>
    <dd>{{ form_widget(form['kehadiran_' ~ kehadiran.id]) }}</dd>
{% endfor %}
</dl>

<div class="clearfix"></div>

<div class="form-actions">
    <button type="submit" class="btn primary alternative icon approve">{{ 'label.save'|trans }}</button>
    <div id="output" class="ajax-loader"></div>
</div>
</form>
{% else %}
<p class="shortinfo">{{ 'shortinfo.tidak.ada.data.kehadiran.siswa'|trans({'%tanggal%': tanggal|date('d/m/Y')}) }}</p>
{% endif %}

<div class="clearfix"></div>
<script language="javascript" type="text/javascript">
var duration = 300;

$(document).ready(function() {
	$('.date').datepicker({
	    dateFormat: 'dd/mm/yy',
    	changeMonth: true,
        changeYear: true
    });

	$("#anchor-proses-kehadiran").click(function(){
		if ($("#proses-kehadiran").is(":visible")) {
			$("#proses-kehadiran").hide(duration);
			$(this).removeClass("anchor-proses-kehadiran-sel");
			$(this).addClass("anchor-proses-kehadiran");
		} else {
			$("#proses-kehadiran").show(duration);
			$(this).addClass("anchor-proses-kehadiran-sel");
			$(this).removeClass("anchor-proses-kehadiran");
		}
		return false;
	});

	var url = "{{ path('data_class_ajax_updateclass_bylevel') }}";

	$.get(url, {tahunAkademik: {{ tahunAkademik.id }}, tingkat: $(".pilih-tingkat").val(), kelas: $(".pilih-kelas").val()}, function(data) {
        $(".pilih-kelas").empty();
        $(".pilih-kelas").html('<option>{{ 'alt.loading'|trans }}</option>');

    	var options = '';
        for (var i = 0; i < data.length; i++) {
            options += '<option value="' + data[i].optionValue + '"'
                + (data[i].optionSelected == 'selected' ? 'selected="selected"' : '') + '>'
                + data[i].optionDisplay + '</option>';
        }
        $(".pilih-kelas").html(options);
    });

    $(".pilih-tingkat").change(function() {
        var kelasval = $(".pilih-kelas").val();
        $(".pilih-kelas").empty();
        $(".pilih-kelas").html('<option>{{ 'alt.loading'|trans }}</option>');

        $.get(url, {tahunAkademik: {{ tahunAkademik.id }}, tingkat: $(this).val(), kelas: kelasval}, function(data) {
        	var options = '';
            for (var i = 0; i < data.length; i++) {
                options += '<option value="' + data[i].optionValue + '"'
                + (data[i].optionSelected == 'selected' ? 'selected="selected"' : '') + '>'
                + data[i].optionDisplay + '</option>';
            }
            $(".pilih-kelas").html(options);
        });
    });

    $("#presenceform").submit(function() {
        var url = $("#presenceform").attr("action");
        //alert($("#presenceform").serialize());

        {% image '@FastSisdikBundle/Resources/public/images/ajax-loader.gif' %}
        $('#output').html('<img src="{{ asset_url }}" />' + "  {{ 'alt.loading'|trans }}");
        {% endimage %}

        $.post(url, $("#presenceform").serialize(),
            function(data) {
                if (data.responseCode == 200) {
                    $('#output').html(data.responseText);
                    if (data.berhasilValidasi == 1) {
                        $('#warna-validasi').removeClass('badge-warning');
                        $('#warna-validasi').addClass('badge-success');
                    }
                } else {
                    // if we got to this point we know that the controller
                    // did not return a json_encoded array. We can assume that
                    // an unexpected PHP error occured
                    // alert("An unexpected error occured.");
                    $('#output').html("An unexpected error occured");
                }
            }
        );

        return false;
    });

    $("#form-inisiasi").submit(function() {
    	var url = $(this).attr("action");

    	{% image '@FastSisdikBundle/Resources/public/images/ajax-loader.gif' %}
        $('#loader-inisiasi').html('<img src="{{ asset_url }}" />' + "  {{ 'alt.loading'|trans }}");
        {% endimage %}

        $.post(url, $(this).serialize(),
                function(data) {
                    if (data.responseCode == 200) {
                        $('#loader-inisiasi').html(data.responseText);
                        location.reload();
                    } else {
                        $('#loader-inisiasi').html("An unexpected error occured.");
                    }
                }
            );

        return false;
    });
});
</script>
{% endblock content %}