{% extends 'LanggasSisdikBundle::layout.html.twig' %}

{% block page_heading %}{% trans from "headings" %}mengubah.vendor.sekolah{% endtrans %}{% endblock %}

{% block content %}
<style type="text/css">
.form-horizontal .radio {
    padding-top: 0;
}
</style>

{{ form_start(edit_form) }}
    {{ form_widget(edit_form) }}
    <div class="form-group">
        <div class="col-sm-offset-4 col-sm-8 col-md-offset-4 col-md-7 col-lg-offset-3 col-lg-9">
            <button type="submit" class="btn primary">{{ 'label.save'|trans }}</button>
        </div>
    </div>
    {{ form_rest(edit_form) }}
{{ form_end(edit_form) }}

{{ form_start(delete_form, {'attr': {'id': 'delete-form', 'class': 'form-inline pull-right'}}) }}
{{ form_widget(delete_form) }}
{{ form_end(delete_form) }}

<ul class="nav nav-pills">
    <li>
        <a href="{{ path('vendor_sekolah') }}">{{ 'link.backtolist'|trans }}</a>
    </li>
</ul>
{% endblock content %}

{% block javascripts_custom %}
<script type="text/javascript">
$(function() {
    if ($('input:radio:checked').val() == 'standar') {
        $("input:text").prop('disabled', true);
    } else {
        $("input:text").prop('disabled', false);
    }

    $('input:radio').change(function() {
        if ($(this).val() == 'standar') {
            $("input:text").prop('disabled', true);
        } else {
            $("input:text").prop('disabled', false);
        }
    });
});

$(document).ready(function() {
    $("#delete-form").submit(function(){
        var confirmtext = "{{ 'confirm.drop.vendor.sekolah'|trans({ '%sekolah%': entity.sekolah.nama }) }}";
        confirmtext = confirmtext.replace(/&#039;/g, "'");
        return confirmDropButton(confirmtext);
    });
});
</script>
{% endblock %}
