{% extends 'FastSisdikBundle::layout.html.twig' %}

{% block page_heading %}{% trans from "headings" %}jenis.dokumen.siswa.edit{% endtrans %}{% endblock %}

{% block content %}
<div class="clearfix" style="margin-bottom: 1em;"></div>

<form action="{{ path('jenisdokumensiswa_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }} class="form-horizontal">
    {{ form_widget(edit_form) }}
	<div class="form-actions">
	    <button type="submit" class="btn primary">{{ 'label.submit.update'|trans }}</button>
    </div>
</form>

<form id="delete-form" action="{{ path('jenisdokumensiswa_delete', { 'id': entity.id }) }}" method="post" class="form-inline">
    {{ form_widget(delete_form) }}
    <button type="submit" class="btn alternative icon danger remove">{{ 'label.delete'|trans }}</button>
</form>

<ul class="pills">
    <li>
        <a href="{{ path('jenisdokumensiswa') }}">{{ 'link.backtolist'|trans }} {{ 'link.jenis.dokumen.siswa'|trans }}</a>
    </li>
</ul>
<script language="javascript" type="text/javascript">
$(document).ready(function() {
	$("#delete-form").submit(function(){
		var confirmtext = "{{ 'confirm.drop.jenis.dokumen.siswa'|trans({ '%nama%': entity.namaDokumen, '%tahun%': entity.tahun.tahun }) }}";
		confirmtext = confirmtext.replace(/&#039;/g, "'");
		return confirmDropButton(confirmtext);
	});
});
</script>
{% endblock content %}