{% extends 'FastSisdikBundle::layout.html.twig' %}

{% block page_heading %}{% trans from "headings" %}jenis.dokumen.siswa.pembuatan{% endtrans %}{% endblock %}

{% block content %}

<div class="clearfix" style="margin-bottom: 1em;"></div>

<form action="{{ path('jenisdokumensiswa_create') }}" method="post" {{ form_enctype(form) }} class="form-horizontal">
    {{ form_widget(form) }}
	<div class="form-actions">
	    <button type="submit" class="btn primary">{{ 'label.submit.add'|trans }}</button>
    </div>
</form>
<ul class="pills">
    <li>
        <a href="{{ path('jenisdokumensiswa') }}">{{ 'link.backtolist'|trans }} {{ 'link.jenis.dokumen.siswa'|trans }}</a>
    </li>
</ul>
{% endblock content %}