{% extends 'FastSisdikBundle::layout.html.twig' %}

{% block page_heading %}{% trans from "headings" %}parentguard.edit{% endtrans %}<br />{{ 'untuk'|trans }} {{ siswa.namaLengkap }}{% endblock %}

{% block content %}
<style type="text/css">
.add-on {
    z-index: -10;
}
</style>

<div class="clearfix" style="margin-bottom: 1em;"></div>

<form action="{{ path('parentguard_update', { 'sid': siswa.id, 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }} class="form-horizontal">
    {{ form_widget(edit_form) }}
	<div class="form-actions">
	    <button type="submit" class="btn primary">{{ 'label.submit.update'|trans }}</button>
    </div>
</form>

<form id="delete-form" action="{{ path('parentguard_delete', { 'sid': siswa.id, 'id': entity.id }) }}" method="post" class="form-inline">
    {{ form_widget(delete_form) }}
    <button type="submit" class="btn alternative icon danger remove">{{ 'label.delete'|trans }}</button>
</form>

<ul class="pills">
    <li>
        <a href="{{ path('parentguard', { 'sid': siswa.id }) }}">{{ 'link.backtolist'|trans }}</a>
    </li>
</ul>
<script language="javascript" type="text/javascript">
$(document).ready(function() {
	$('.date').datepicker({
	    dateFormat: 'dd/mm/yy',
    	changeMonth: true,
        changeYear: true,
        maxDate: "-15Y"
    });

	$("#delete-form").submit(function(){
		var confirmtext = "{{ 'confirm.drop.parentguard'|trans({ '%name%': entity.nama , '%studentname%': siswa.namaLengkap }) }}";
		confirmtext = confirmtext.replace(/&#039;/g, "'");
		return confirmDropButton(confirmtext);
	});
});
</script>
{% endblock content %}