{% extends 'FastSisdikBundle::layout.html.twig' %}

{% block page_heading %}{% trans from "headings" %}ortuwali.daftar{% endtrans %} {{ 'label.from'|trans }} {{ siswa.namaLengkap }}{% endblock %}

{% block content %}

<dl>
    <dt>{{ 'label.name.full'|trans }}</dt>
    <dd>{{ siswa.namaLengkap }}</dd>
    <dt>{{ 'label.year.entry'|trans }}</dt>
    <dd>{% if siswa.tahun is not null %}{{ siswa.tahun.tahun }}{% endif %}</dd>
    <dt>{{ 'label.admissiongroup.entry'|trans }}</dt>
    <dd>{% if siswa.gelombang is not null %}{{ siswa.gelombang.nama }}{% endif %}</dd>
    <dt>{{ 'label.gender'|trans }}</dt>
    <dd>{% if siswa.jenisKelamin == 'L' %}{{ 'male'|trans }}{% elseif siswa.jenisKelamin == 'P' %}{{ 'female'|trans }}{% endif %}</dd>
</dl>

<div class="clearfix" style="margin-bottom: 2em;"></div>

<ul class="nav nav-pills">
    <li>
        <a href="{{ path('ortuwali-' ~ ruteasal ~ '_new', {'sid': siswa.id}) }}" class="add-link-a">
            <i class="fa fa-plus-square fa-lg fa-fw"></i>{{ 'label.ortuwali.tambah'|trans }}
        </a>
    </li>
</ul>

<div class="clearfix"></div>

<table class="table zebra-striped bordered-table" id="no-more-tables">
    <thead>
        <tr>
            <th>{{ 'label.ortuwali.nama'|trans }}</th>
            <th>{{ 'label.relation.tostudent'|trans }}</th>
            <th>{{ 'label.mobilephone'|trans }}</th>
            <th>{{ 'label.active'|trans }}</th>
            <th>{{ 'label.actions'|trans }}</th>
        </tr>
    </thead>
    <tbody>
    {% for data in pagination %}
        <tr>
            <td data-title="{{ 'label.ortuwali.nama'|trans }}">{{ data.nama }}</td>
            <td data-title="{{ 'label.relation.tostudent'|trans }}">{{ data.hubunganDenganSiswa }}</td>
            <td data-title="{{ 'label.mobilephone'|trans }}">{{ data.ponsel }}</td>
            <td data-title="{{ 'label.active'|trans }}">
                {% if data.aktif == 1 %}
                    {% image '@FastSisdikBundle/Resources/public/images/check2.png' %}
                    <img src="{{ asset_url }}" border="0" height="25" style="vertical-align: middle;" />
                    {% endimage %}
                {% else %}
                    {% image '@FastSisdikBundle/Resources/public/images/cross.png' %}
                    <img src="{{ asset_url }}" border="0" height="25" style="vertical-align: middle; margin-right: 10px;" />
                    {% endimage %}
                    <a href="{{ path('ortuwali-' ~ ruteasal ~ '_activate', {'sid': siswa.id, 'id': data.id}) }}">{{ 'label.activate'|trans }}</a>
                {% endif %}
            </td>
            <td data-title="{{ 'label.actions'|trans }}" class="row-actions">
                <a href="{{ path('ortuwali-' ~ ruteasal ~ '_show', {'sid': siswa.id, 'id': data.id}) }}" title="{{ 'tip.detail'|trans }}"><i class="fa fa-arrow-right"></i></a>
                <a href="{{ path('ortuwali-' ~ ruteasal ~ '_edit', {'sid': siswa.id, 'id': data.id}) }}" title="{{ 'tip.edit'|trans }}"><i class="fa fa-pencil"></i></a>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{{ knp_pagination_render(pagination) }}

<p style="font-style: italic;">* {{ 'shortinfo.ortuwali.hanya.satu.aktif'|trans }}</p>

<div class="clearfix"></div>

<ul class="nav nav-pills">
    <li>
    {% if ruteasal == 'pendaftar' %}
        <a href="{{ path('applicant_show', {'id': siswa.id}) }}">{{ 'link.backto'|trans }} {{ 'link.info.pendaftar'|trans }}</a>
    {% else %}
        <a href="{{ path('siswa_show', {'id': siswa.id}) }}">{{ 'link.backto'|trans }} {{ 'link.info.siswa'|trans }}</a>
    {% endif %}
    </li>
</ul>

{% endblock content %}
