{% extends 'FastSisdikBundle::layout.html.twig' %}

{% block page_heading %}{% trans from "headings" %}ortuwali.detail{% endtrans %}<br />{{ entity.siswa.namaLengkap }}{% endblock %}
{% block content %}
<dl>
    <dt>{{ 'label.nama.siswa'|trans }}</dt>
    <dd>{{ entity.siswa.namaLengkap }}</dd>
    <dt>{{ 'label.year.entry'|trans }}</dt>
    <dd>{% if entity.siswa.tahun is not null %}{{ entity.siswa.tahun.tahun }}{% endif %}</dd>
    <dt>{{ 'label.admissiongroup.entry'|trans }}</dt>
    <dd>{% if entity.siswa.gelombang is not null %}{{ entity.siswa.gelombang.nama }}{% endif %}</dd>
    <dt>{{ 'label.gender'|trans }}</dt>
    <dd>{% if entity.siswa.jenisKelamin == 'L' %}{{ 'male'|trans }}{% elseif entity.siswa.jenisKelamin %}{{ 'female'|trans }}{% endif %}</dd>
    <dt>{{ 'label.nama.ortuwali'|trans }}</dt>
    <dd>{{ entity.nama }}</dd>
    <dt>{{ 'label.ponsel'|trans }}</dt>
    <dd>{{ entity.ponsel }}</dd>
    <dt>{{ 'label.tempat.lahir'|trans }}</dt>
    <dd>{{ entity.tempatLahir }}</dd>
    <dt>{{ 'label.tanggal.lahir'|trans }}</dt>
    <dd>{{ entity.tanggalLahir|localeDate('long') }}</dd>
    <dt>{{ 'label.kewarganegaraan'|trans }}</dt>
    <dd>{{ entity.kewarganegaraan }}</dd>
    <dt>{{ 'label.hubungan.terhadap.siswa'|trans }}</dt>
    <dd>{{ entity.hubunganDenganSiswa }}</dd>
    <dt>{{ 'label.pendidikan.tertinggi'|trans }}</dt>
    <dd>{{ entity.pendidikanTertinggi }}</dd>
    <dt>{{ 'label.pekerjaan'|trans }}</dt>
    <dd>{{ entity.pekerjaan }}</dd>
    <dt>{{ 'label.penghasilan.bulanan'|trans }}</dt>
    <dd>{% if entity.penghasilanBulanan != 0 %}{{ currencySymbol(locale) }}. {{ entity.penghasilanBulanan|number_format(0, ',', '.') }}{% endif %}</dd>
    <dt>{{ 'label.penghasilan.tahunan'|trans }}</dt>
    <dd>{% if entity.penghasilanTahunan != 0 %}{{ currencySymbol(locale) }}. {{ entity.penghasilanTahunan|number_format(0, ',', '.') }}{% endif %}</dd>
    <dt>{{ 'label.alamat'|trans }}</dt>
    <dd>{{ entity.alamat }}</dd>
    <dt>{{ 'label.keterangan'|trans }}</dt>
    <dd>{{ entity.keterangan }}</dd>
</dl>

<div class="clearfix"></div>

<form id="delete-form" action="{{ path('ortuwali-' ~ ruteasal ~ '_delete', { 'sid': entity.siswa.id, 'id': entity.id }) }}" method="post" class="form-inline">
    {{ form_widget(delete_form) }}
    <div class="form-actions">
        <button type="submit" class="btn alternative icon danger remove">{{ 'label.delete'|trans }}</button>
    </div>
</form>

<ul class="pills">
    <li>
        <a href="{{ path('ortuwali-' ~ ruteasal, { 'sid': entity.siswa.id }) }}">{{ 'link.backtolist'|trans }} {{ 'link.ortuwali'|trans }}</a>
    </li>
    <li>
        <a href="{{ path('ortuwali-' ~ ruteasal ~ '_edit', { 'sid': entity.siswa.id, 'id': entity.id }) }}">{{ 'link.edit'|trans }}</a>
    </li>
</ul>

<div class="clearfix"></div>

<div class="add-link pull-right">
{% image '@FastSisdikBundle/Resources/public/images/forms/icon_plus.gif' %}
	<a href="{{ path('ortuwali-' ~ ruteasal ~ '_new', { 'sid': entity.siswa.id }) }}" class="add-link-a">
	    <img src="{{ asset_url }}" alt="{{ 'alt.add'|trans }}" border="0" width="21" height="21" style="vertical-align: middle;" />
	    {{ 'label.ortuwali.tambah'|trans }}
	</a>
{% endimage %}
</div>
<script language="javascript" type="text/javascript">
$(document).ready(function() {
	$("#delete-form").submit(function(){
		var confirmtext = "{{ 'confirm.drop.ortuwali'|trans({ '%nama%': entity.nama, '%siswa%': entity.siswa.namaLengkap }) }}";
		confirmtext = confirmtext.replace(/&#039;/g, "'");
		return confirmDropButton(confirmtext);
	});
});
</script>
{% endblock content %}