{% extends 'LanggasSisdikBundle::layout.html.twig' %}

{% block page_heading %}
{# {{ 'welcome'|trans({}, 'headings') }}#}
{% endblock %}

{% block content %}
<style type="text/css">
h3 {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 0;
    text-align: center;
}
.info-kehadiran-kelas {
    display: inline-block;
}
.hari {
    margin: 0 2em;
}
#grafik-container-total {
    border: 1px solid #ddd;
    padding: 5px;
    margin: 0 auto;
    width: 430px;
    height: 215px;
}
.grafik-total-slides {
    display: none
}
#grafik-kehadiran-siswa-total,
#grafik-kepulangan-siswa-total {
    margin: 0 auto;
    width: 400px;
    height: 200px;
}
#grafik-kehadiran-siswa-total .legendLabel,
#grafik-kepulangan-siswa-total .legendLabel {
    padding: 4px;
}
@media screen and (max-width: 320px) {
    #grafik-container-total {
        width: 280px;
        height: 150px;
    }
    #grafik-kehadiran-siswa-total,
    #grafik-kepulangan-siswa-total {
        width: 260px;
        height: 130px;
    }
}
.grafik-container-perkelas {
    border: 1px solid #ddd;
    padding: 5px 5px 0;
    width: 220px;
    height: 110px;
    margin-right: 5px;
}
.grafik-kehadiran-siswa-perkelas,
.grafik-kepulangan-siswa-perkelas {
    width: 200px;
    height: 95px;
}
.grafik-kehadiran-siswa-perkelas .legendLabel,
.grafik-kepulangan-siswa-perkelas .legendLabel {
    padding: 2px;
}
.grafik-total-slides a:link,
.grafik-total-slides a:visited {
    color: #333;
}
.grafik-total-slides .slidesjs-navigation {
    margin-top:3px;
}
.slidesjs-pagination {
    margin: 6px 0 0;
    float: right;
    list-style: none;
}
.slidesjs-pagination li {
    float: left;
    margin: 0 3px;
    cursor: pointer;
}
.slidesjs-pagination li a {
    background-color: transparent;
    border-radius: 50%;
    box-shadow: 0 0 0 1px black inset;
    transition: background 0.3s ease 0s;
    display: block;
    float: left;
    height: 0;
    overflow: hidden;
    padding-top: 10px;
    width: 10px;
}
.slidesjs-pagination li a.active,
.slidesjs-pagination li a:hover.active {
    background-color: #000;
}
.slidesjs-pagination li a:hover {
}
.grafik-total-slides a:link,
.grafik-total-slides a:visited {
}
.grafik-total-slides a:hover,
.grafik-total-slides a:active {
}
</style>

<h3 style="margin-bottom: 0;">{{ 'informasi.kehadiran.siswa'|trans({}, 'headings')|desc("Informasi Kehadiran") }}</h3>
<h3 style="margin-top: 0;">
    <a href="{{ path('siswa__kehadiran_grafik', {'tanggal': tanggalSebelumnya}) }}"><i class="fa fa-arrow-circle-left"></i></a>
    <span class="hari">{{ tanggalTampil|localizeddate('full', 'none') }}</span>
    <a href="{{ path('siswa__kehadiran_grafik', {'tanggal': tanggalBerikutnya}) }}"><i class="fa fa-arrow-circle-right"></i></a>
</h3>

<h4 style="text-align: center;">{{ 'informasi.kehadiran.siswa.total'|trans({}, 'headings')|desc("Informasi Kehadiran Total") }}</h4>
<div id="grafik-container-total">
    <div class="grafik-total-slides">
        <div id="grafik-kehadiran-siswa-total"></div>
        <div id="grafik-kepulangan-siswa-total"></div>
    </div>
</div>

{% for key,daftarKelas in daftarKelasPerTingkat %}
    {% for tingkat in daftarTingkat %}
        {% if tingkat.id == key %}<h4 style="margin-top: 10px;">{{ tingkat.nama }}</h4>{% endif %}
    {% endfor %}
    {% for kelas in daftarKelas %}
        <div class="info-kehadiran-kelas">
            <div class="nama-kelas">{{ kelas.nama }}</div>
            <div class="grafik-container-perkelas">
                <div class="grafik-perkelas-slides">
                    <div class="grafik-kehadiran-siswa-perkelas" id="grafik-kehadiran-siswa-perkelas-{{ kelas.id }}"></div>
                    <div class="grafik-kepulangan-siswa-perkelas" id="grafik-kepulangan-siswa-perkelas-{{ kelas.id }}"></div>
                </div>
            </div>
            <span class="link-info-tabulasi"><a href="{{ path('kehadiran-siswa_edit') }}" class="lihat-tabulasi" data-tingkat="{{ kelas.tingkat.id }}" data-kelas="{{ kelas.id }}"><i class="fa fa-list-ul fa-fw"></i></a></span>
        </div>
    {% endfor %}
    <div class="clearfix"></div>
{% endfor %}

<div class="clearfix" style="margin-top: 20px;"></div>

{% if tahunAkademikAktif %}
    <h3 style="margin-bottom: 0;">{{ 'label.tahun.akademik.aktif'|trans|desc("Tahun Akademik Aktif") }}: {{ tahunAkademikAktif.nama }}</h3>
{% endif %}

{% if panitiaPendaftaranAktif %}
    <h3 style="margin-bottom: 0;">{{ 'label.active.regcommittee'|trans }}</h3>
    <p style="text-align: center;">
        {{ 'leader'|trans }}: {{ panitiaPendaftaranAktif.ketuaPanitia.name }}<br />
        {{ 'member'|trans }}: {{ personilPanitiaPendaftaranAktif }}
    </p>
{% endif %}

<div style="display: none;">
    <form id="form-kehadiran" method="get" action="{{ path('kehadiran-siswa_edit') }}" {{ form_enctype(searchform) }} class="form-search form-inline" target="_blank">
        {{ form_widget(searchform) }}
    </form>
</div>

{% endblock content %}

{% block javascripts_custom %}
{% javascripts
    '@LanggasSisdikBundle/Resources/public/js/libraries/flot/jquery.flot.min.js'
    '@LanggasSisdikBundle/Resources/public/js/libraries/flot/jquery.flot.pie.min.js'
    '@LanggasSisdikBundle/Resources/public/js/libraries/slidejs/jquery.slides.min.js'
%}
<script type="text/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}

<script type="text/javascript">
function getLabelColor(key) {
    switch (key) {
        case 'a-hadir-tepat':
            return 'green';
        case 'b-hadir-telat':
            return 'magenta';
        case 'c-alpa':
            return 'red';
        case 'd-izin':
            return 'purple';
        case 'e-sakit':
            return 'orange';
        case 'a-pulang-tercatat':
            return '#86D3FF';
        case 'b-pulang-tak-tercatat':
            return '#0040FF';
        default:
            return 'red';
    }
}

function labelFormatter(label, series) {
    return "<div style='font-size:11px; text-align:center; padding:2px; color:#333;'>" + label + "<br/></div>";
}

$(function () {
    var dataGrafikTotalKehadiran = [];
    var dataGrafikTotalKepulangan = [];
    var jumlahStatusKehadiran = {{ daftarStatusKehadiran|length }};
    var jumlahStatusKepulangan = {{ daftarStatusKepulangan|length }};

    {% for key,value in daftarStatusKehadiran %}
    dataGrafikTotalKehadiran.push({
        label: "{{ value|trans }} ({{ kehadiranSiswaTotal[key] }})",
        data: {{ kehadiranSiswaTotal[key] }},
        color: getLabelColor("{{ key }}")
    });
    {% endfor %}

    {% for key,value in daftarStatusKepulangan %}
    dataGrafikTotalKepulangan.push({
        label: "{{ value|trans }} ({{ kepulanganSiswaTotal[key] }})",
        data: {{ kepulanganSiswaTotal[key] }},
        color: getLabelColor("{{ key }}")
    });
    {% endfor %}

    $.plot($("#grafik-kehadiran-siswa-total"), dataGrafikTotalKehadiran, {
        series: {
            pie: {
                show: true
            }
        }
    });

    $.plot($("#grafik-kepulangan-siswa-total"), dataGrafikTotalKepulangan, {
        series: {
            pie: {
                show: true
            }
        },
        legend: {
            show: true
        }
    });

{% for daftarKelas in daftarKelasPerTingkat %}
    {% for kelas in daftarKelas %}

    var dataGrafikKehadiranKelas_{{ kelas.id }} = [];
    {% for key,value in daftarStatusKehadiran %}
    dataGrafikKehadiranKelas_{{ kelas.id }}.push({
        label: "{{ value|trans }} ({{ kehadiranSiswaPerKelas[kelas.id][key] }})",
        data: {{ kehadiranSiswaPerKelas[kelas.id][key] }},
        color: getLabelColor("{{ key }}")
    });
    {% endfor %}

    var dataGrafikKepulanganKelas_{{ kelas.id }} = [];
    {% for key,value in daftarStatusKepulangan %}
    dataGrafikKepulanganKelas_{{ kelas.id }}.push({
        label: "{{ value|trans }} ({{ kepulanganSiswaPerKelas[kelas.id][key] }})",
        data: {{ kepulanganSiswaPerKelas[kelas.id][key] }},
        color: getLabelColor("{{ key }}")
    });
    {% endfor %}

    $.plot($("#grafik-kehadiran-siswa-perkelas-{{ kelas.id }}"), dataGrafikKehadiranKelas_{{ kelas.id }}, {
        series: {
            pie: {
                show: true
            }
        }
    });

    $.plot($("#grafik-kepulangan-siswa-perkelas-{{ kelas.id }}"), dataGrafikKepulanganKelas_{{ kelas.id }}, {
        series: {
            pie: {
                show: true,
                radius: 1,
                label: {
                    show: true,
                    radius: 3/4,
                    formatter: labelFormatter,
                    background: {
                        color: "#ffffff",
                        opacity: 0.5
                    }
                }
            }
        },
        legend: {
            show: false
        }
    });

    {% endfor %}
{% endfor %}

    $(".lihat-tabulasi").click(function(e){
        $("#sisdik_kehadiransiswasearch_tingkat").val($(this).attr("data-tingkat"));
        $("#sisdik_kehadiransiswasearch_kelas").val($(this).attr("data-kelas"));
        $("#form-kehadiran").submit();
        return false;
    });

    $(".grafik-total-slides").slidesjs({
        width: 430,
        height: 215,
        navigation: false
    });

    $(".grafik-perkelas-slides").slidesjs({
        width: 220,
        height: 110,
        navigation: false
    });

    $('ol li').bind('click', function(){
        $(".grafik-total-slides").removeClass("active");
        $(this).addClass("active");
    });
});
</script>
{% endblock %}
