{% extends 'LanggasSisdikBundle::layout.html.twig' %}

{% block page_heading %}{% trans from "headings" %}applicant.edit.regphoto{% endtrans %}<br>{{ entity.namaLengkap }}{% endblock %}

{% block content %}
<form id="edit-form" action="{{ path('applicant_updateregphoto', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }} class="form-horizontal">
    <div class="col-lg-12">
        <div id="webcam" style="width: 320px; height: 240px; margin: 0 auto;"></div>
        <div style="clear: both; padding-top: 10px; width: 320px; height: 30px; margin: 0 auto;">
            {% image '@LanggasSisdikBundle/Resources/public/images/capture.jpg' %}
                <a href="#" id="webcam-freeze"><img src="{{ asset_url }}" style="float: left;" /></a>
            {% endimage %}
            {% image '@LanggasSisdikBundle/Resources/public/images/reload.gif' %}
                <a href="#" id="webcam-reset"><img src="{{ asset_url }}" style="float: right;" /></a>
            {% endimage %}
        </div>
        {{ form_widget(edit_form) }}
    </div>
    <div class="col-lg-12">
        <div style="width: 320px; margin: 0 auto; text-align: center;">
            <button id="submit-button" type="submit" class="btn primary">{{ 'label.save'|trans }}</button>
            <div id="output" style="color: #003EB0; "></div>
        </div>
    </div>
</form>

<ul class="nav nav-pills">
    <li>
        <a href="{{ path('applicant') }}">{{ 'link.backtolist'|trans }}</a>
    </li>
    <li>
        <a href="{{ path('applicant_show', {'id': entity.id}) }}">{{ 'label.applicant.show'|trans }}</a>
    </li>
</ul>
{% endblock content %}

{% block javascripts_custom %}
{% javascripts '@LanggasSisdikBundle/Resources/public/js/libraries/jpegcam/webcam.min.js' %}
<script type="text/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}
<script language="javascript" type="text/javascript">
webcam.set_api_url("{{ path('applicant_webcam_uploadhandler', {'tahun': entity.tahun.tahun}) }}");
webcam.set_hook('onComplete', 'webcamUploadCompleteHandler');
webcam.set_quality(100);
{% image '@LanggasSisdikBundle/Resources/public/js/libraries/jpegcam/shutter.mp3' %}
webcam.set_shutter_sound(true, "{{ asset_url }}");
{% endimage %}
{% image '@LanggasSisdikBundle/Resources/public/js/libraries/jpegcam/webcam.swf' %}
webcam.set_swf_url("{{ asset_url }}");
{% endimage %}

var isfreezed = false;

function webcamUploadCompleteHandler(data) {
    if (data.substr(data.length - 4) == ".jpg") {
        $(".foto-pendaftaran").val(data);
        $("#edit-form").submit();
    } else {
        alert(data);
    }
}

$(document).ready(function() {
    $("#webcam").html(webcam.get_html(320, 240));

    $("#webcam-freeze").click(function() {
        if (isfreezed === false) {
            webcam.freeze();
            isfreezed = true;
        }
        return false;
    });

    $("#webcam-reset").click(function() {
        if (isfreezed === true) {
            webcam.reset();
            isfreezed = false;
        }
        return false;
    });

    $("#submit-button").click(function() {
        if (isfreezed == true) {

            {% image '@LanggasSisdikBundle/Resources/public/images/ajax-loader.gif' %}
            $('#output').html('<img src="{{ asset_url }}" />');
            {% endimage %}

            webcam.upload();
        } else {
            alert("{{ 'shortinfo.capturefirst'|trans }}");
        }
        return false;
    });
});
</script>
{% endblock javascripts_custom %}
