{% extends 'LanggasSisdikBundle::layout.html.twig' %}

{% block page_heading %}{% trans from "headings" %}applicant.list{% endtrans %} {{ 'tahun'|trans }} {{ panitiaAktif[3] }}{% endblock %}

{% block content %}
<style type="text/css">
.control-group {
    display: inline-block;
    margin-right: 0.4em;
}
.tertahkik td {
    color: green;
    font-style: italic;
}
</style>

<div class="filter-section">
    <form method="GET" action="{{ path('applicant') }}" class="form-search form-inline">
        {{ form_widget(searchform) }}
        <button type="submit" class="btn primary alternative icon search">{{ 'label.search'|trans }}</button>
        <button class="btn" type="reset" onclick="window.location.href='{{ path('applicant') }}'">{{ 'label.reset'|trans }}</button>
    </form>
</div>

<ul class="nav nav-pills">
    <li>
        <a href="{{ path('applicant_new') }}" class="add-link-a">
            <i class="fa fa-plus-square fa-lg fa-fw"></i>{{ 'label.applicant.add'|trans }}
        </a>
    </li>
</ul>

<div class="clearfix"></div>

<div class="pull-left info-jumlah">
    {{ 'label.jumlah.pendaftar.total'|trans }}: {{ pendaftarTotal }}<br>
    {{ 'label.jumlah.pendaftar.tertahkik'|trans }}: {{ pendaftarTertahkik }}
</div>

{% if tampilkanTercari %}
<div class="pull-right info-jumlah">
    {{ 'label.jumlah.pendaftar.tercari'|trans }}: {{ pendaftarTercari }}
</div>
{% endif %}

<div class="clearfix">&nbsp;</div>

<table class="table zebra-striped bordered-table" id="no-more-tables">
    <thead>
        <tr>
            <th>{{ 'label.admissiongroup.entry'|trans }}, {{ 'label.application.number'|trans }}</th>
            <th class="{% if pagination.isSorted('siswa.namaLengkap') %}sorted{% endif %}">
                {{ knp_pagination_sortable(pagination, 'label.name.full'|trans, 'siswa.namaLengkap') }}
            </th>
            <th>{{ 'label.name.parent.or.guardian'|trans }}</th>
            <th>{{ 'label.mobilephone.parent'|trans }}</th>
            <th>{{ 'label.actions'|trans }}</th>
        </tr>
    </thead>
    <tbody>
    {% for data in pagination %}
        <tr{% if data.calonSiswa == false %} class="tertahkik" title="{{ 'label.tertahkik'|trans }}"{% endif %}>
            <td data-title="{{ 'label.admissiongroup.entry'|trans }}, {{ 'label.application.number'|trans }}">
                {% if data.calonSiswa == false %}<i class="fa fa-thumbs-o-up" style="cursor: default;"></i>{% endif %}
                {% if data.gelombang %}{{ data.gelombang.nama }}, {% endif %}{{ highlightResult(data.nomorPendaftaran, searchkey)|raw -}}
            </td>
            <td data-title="{{ 'label.name.full'|trans }}">{{ highlightResult(data.namaLengkap, searchkey)|raw }}</td>
            <td data-title="{{ 'label.name.parent.or.guardian'|trans }}">{{ highlightResult(data.orangtuaWali[0].nama, searchkey)|raw }}</td>
            <td data-title="{{ 'label.mobilephone.parent'|trans }}">{{ highlightResult(data.orangtuaWali[0].ponsel, searchkey)|raw }}</td>
            <td data-title="{{ 'label.actions'|trans }}" class="row-actions">
                <a href="{{ path('applicant_show', {'id': data.id}) }}" title="{{ 'tip.detail'|trans }}"><i class="fa fa-arrow-right"></i></a>
                <a href="{{ path('applicant_editregphoto', {'id': data.id}) }}" title="{% trans %}tip.edit.regphoto{% endtrans %}"><i class="fa fa-camera"></i></a>
                <a href="{{ path('applicant_edit', {'id': data.id}) }}" title="{% trans %}tip.edit.full.form{% endtrans %}"><i class="fa fa-pencil"></i></a>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{{ knp_pagination_render(pagination) }}
{% endblock content %}
