{% extends 'FastSisdikBundle::layout.html.twig' %}

{% block page_heading %}{% trans from "headings" %}fee.once.detail{% endtrans %}{% endblock %}
{% block content %}
<ul class="nav nav-pills pull-right">
    <li>
        <a href="{{ path('fee_once_new') }}" class="add-link-a">
            <i class="fa fa-plus-square fa-lg fa-fw"></i>{{ 'label.fee.once.add'|trans }}
        </a>
    </li>
</ul>

<dl>
    <dt>{{ 'label.school'|trans }}</dt>
    <dd>{{ entity.tahun.sekolah.nama }}</dd>
    <dt>{{ 'label.year.entry'|trans }}</dt>
    <dd>{{ entity.tahun.tahun }}</dd>
    <dt>{{ 'label.fee.type.entry'|trans }}</dt>
    <dd>{{ entity.jenisbiaya.nama }}</dd>
    <dt>{{ 'label.nominal'|trans }}</dt>
    <dd>{{ entity.nominal|number_format(0, ',', '.') }}</dd>
    <dt>{{ 'label.order'|trans }}</dt>
    <dd>{{ entity.urutan }}</dd>
</dl>

<div class="clearfix"></div>

<form id="delete-form" action="{{ path('fee_once_delete', {'id': entity.id}) }}" method="post" class="form-inline pull-right">
    {{ form_widget(delete_form) }}
    <div class="form-actions">
        <button type="submit" class="btn alternative icon danger remove">{{ 'label.delete'|trans }}</button>
    </div>
</form>

<ul class="nav nav-pills">
    <li>
        <a href="{{ path('fee_once') }}">{{ 'link.backtolist'|trans }}</a>
    </li>
    <li>
        <a href="{{ path('fee_once_edit', {'id': entity.id}) }}">{{ 'link.edit'|trans }}</a>
    </li>
</ul>
{% endblock content %}

{% block javascripts_custom %}
<script language="javascript" type="text/javascript">
$(document).ready(function() {
    $("#delete-form").submit(function(){
        {% set namaJenisBiaya = entity.jenisbiaya is not null ? entity.jenisbiaya.nama : '' %}
        var confirmtext = "{{ 'confirm.drop.fee.once'|trans({ '%fee%': namaJenisBiaya, '%nominal%': entity.nominal|number_format(0, ',', '.') }) }}";
        confirmtext = confirmtext.replace(/&#039;/g, "'");
        return confirmDropButton(confirmtext);
    });
});
</script>
{% endblock javascripts_custom %}
