<!DOCTYPE html>
<html>
<body>
{% form_theme form 'AcmeTaskBundle:Form:fields.html.twig' %}
<form action="{{ path('task_new') }}" method="post" {{ form_enctype(form) }}>
    {{ form_errors(form) }}
    {{ form_row(form.task) }}
    {{ form_row(form.dueDate) }}
    {{ form_row(form.category) }}
    {{ form_rest(form) }}
    <input type="submit" />
</form>
</body>
</html>