{% extends 'FastSisdikBundle::layout.html.twig' %}

{% block page_heading %}
    {{ 'data.studentclass.creation'|trans({}, 'headings') }}
    <br /><span class="emphasis">{{ siswa.namaLengkap }}{% if siswa.nomorInduk is not null %}, {{ siswa.nomorInduk }}{% endif %}</span>
{% endblock %}

{% block content %}
<div class="form-container" id="div-siswakelas">
    <form action="{{ path('siswa-kelas_create', {'idsiswa': siswa.id}) }}" method="post" {{ form_enctype(form) }} class="form-horizontal">
    {{ form_widget(form) }}
	<div class="form-actions">
	    <button type="submit" class="btn primary">{{ 'label.submit.add'|trans }}</button>
    </div>
</form>
<ul class="pills">
    <li>
        <a href="{{ path('siswa-kelas', {'idsiswa': siswa.id}) }}">{{ 'link.backtolist'|trans }}</a>
    </li>
</ul>

<script language="javascript" type="text/javascript">
$(document).ready(function() {
	var url = "{{ path('data_class_ajax_updateclass') }}";
    $.get(url, {tahunAkademik: $(".selectyear").val()}, function(data) {
    	var options = '';
        for (var i = 0; i < data.length; i++) {
            options += '<option value="' + data[i].optionValue + '">' + data[i].optionDisplay + '</option>';
        }
        $(".selectclass").html(options);
    });

    $(".selectyear").change(function() {
        // clear class select box content
        $(".selectclass").empty();
        $(".selectclass").html('<option>{{ 'alt.loading'|trans }}</option>');

        $.get(url, {tahunAkademik: $(this).val()}, function(data) {
        	var options = '';
            for (var i = 0; i < data.length; i++) {
                options += '<option value="' + data[i].optionValue + '">' + data[i].optionDisplay + '</option>';
            }
            $(".selectclass").html(options);
        });
    });
});
</script>
{% endblock content %}