{% extends 'LanggasSisdikBundle::layout.html.twig' %}

{% block page_heading %}{% trans from "headings" %}data.student.import{% endtrans %}{% endblock %}

{% block content %}
<style type="text/css">
.download-section .control-group {
    display: inline-block;
    margin-right: 0.4em;
}
#filename {
    line-height: 1.5em;
    min-width: 5em;
    min-height: 15px;
}
.loading {
    {% image '@LanggasSisdikBundle/Resources/public/images/ajax-loader.gif' %}
    background: white url('{{ asset_url }}') left center no-repeat;
    {% endimage %}
}
.peringatan {
    font-size: 1em;
    color: #ff0000;
}
</style>

<form action="{{ path('siswa_mengimporbaru') }}" method="post" {{ form_enctype(form) }} class="form-horizontal">
    {{ form_errors(form) }}
    {{ form_widget(form) }}
    <div class="form-group">
        <div class="col-sm-offset-4 col-sm-8 col-md-offset-4 col-md-7 col-lg-offset-3 col-lg-9">
            <button type="submit" class="btn primary">{{ 'label.import'|trans }}</button>
        </div>
    </div>
</form>

<div class="clearfix"></div>

<div class="peringatan">
    {{ 'peringatan.impor.baru'|trans|raw }}<br>
</div>

<div class="clearfix" style="margin-top: 2em;"></div>

<div class="download-section">
    <h4>{{ 'download.file.template'|trans({}, 'headings') }}:</h4>
    <form method="get" action="{{ path('siswa_file_template') }}" id="dl-template" class="form-inline">
        <button type="submit" class="btn success alternative icon log">{{ 'label.download'|trans }}</button>
        <div id="filename"></div>
    </form>
</div>

<div class="clearfix"></div>

<div class="knowledgebase">
    <a href="{{ path('_index') }}" class="a-kb">
        <i class="fa fa-lightbulb-o fa-2x fa-fw"></i>{{ 'link.student.import'|trans({}, 'kb') }}
    </a>
</div>

<div class="clearfix"></div>

<ul class="nav nav-pills">
    <li>
        <a href="{{ path('siswa') }}">{{ 'link.backtolist'|trans }} {{ 'label.student.entry'|trans }}</a>
    </li>
</ul>
{% endblock content %}

{% block javascripts_custom %}
<script language="javascript" type="text/javascript">
$(document).ready(function() {
    $("#dl-template").submit(function() {
        var url = $(this).attr("action");
        $("#filename").html("&nbsp;");
        $("#filename").addClass("loading");
        $.get(url, function(response) {
            if (response.redirectUrl) {
                window.location.href = response.redirectUrl;
                $("#filename").html('<a href="' + response.redirectUrl + '">' + response.filename + '</a>'
                        + '<br>({{ 'label.klik.jika.tak.otomatis'|trans }})');
                $("#filename").removeClass("loading");
            }
        });
        return false;
    });
});
</script>
{% endblock javascripts_custom %}
