{% extends 'LanggasSisdikBundle::layout.html.twig' %}

{% block page_heading %}{% trans from "headings" %}data.student.list{% endtrans %}{% endblock %}

{% block content %}
<style type="text/css">
.control-group {
    display: inline-block;
    margin-right: 0.4em;
}
#filename {
    line-height: 1.5em;
    min-width: 5em;
    min-height: 15px;
}
.loading {
    {% image '@LanggasSisdikBundle/Resources/public/images/ajax-loader.gif' %}
    background: white url('{{ asset_url }}') left center no-repeat;
    {% endimage %}
}
</style>

<div class="filter-section">
    <form method="GET" action="{{ path('siswa') }}" class="form-search form-inline">
        {{ form_widget(searchform) }}
        <button type="submit" class="btn primary alternative icon search">{{ 'label.search'|trans }}</button>
        <button class="btn" type="reset" onclick="window.location.href='{{ path('siswa') }}'">{{ 'label.reset'|trans }}</button>
    </form>
</div>

<ul class="nav nav-pills">
    <li>
        <a href="{{ path('siswa_new') }}"><i class="fa fa-plus-square fa-lg fa-fw"></i>{{ 'label.student.add'|trans }}</a>
    </li>
{% if is_expr_granted("hasRole('ROLE_ADMIN')") %}
    <li>
        <a href="{{ path('siswa_imporbaru') }}"><i class="fa fa-upload fa-lg fa-fw"></i>{{ 'label.student.import'|trans }}</a>
    </li>
    <li>
        <a href="{{ path('siswa_imporgabung') }}"><i class="fa fa-upload fa-lg"></i><i class="fa fa-level-down fa-lg" style="margin-right: 5px;"></i>{{ 'label.student.merge'|trans }}</a>
    </li>
{% endif %}
</ul>

<div class="clearfix"></div>

<table class="table zebra-striped bordered-table" id="no-more-tables">
    <thead>
        <tr>
            <th>{{ 'label.number'|trans }}</th>
            <th>{{ 'label.year.entry'|trans }}</th>
            <th class="{% if pagination.isSorted('t.namaLengkap') %}sorted{% endif %}">
                {{ knp_pagination_sortable(pagination, 'label.name.full'|trans, 't.namaLengkap') }}
            </th>
            <th class="{% if pagination.isSorted('t.nomorInduk') %}sorted{% endif %}">
                {{ knp_pagination_sortable(pagination, 'label.idnumber'|trans, 't.nomorInduk') }}
            </th>
            <th class="{% if pagination.isSorted('t.jenisKelamin') %}sorted{% endif %}">
                {{ knp_pagination_sortable(pagination, 'label.gender'|trans, 't.jenisKelamin') }}
            </th>
            <th>{{ 'label.kelas.aktif'|trans }}</th>
            <th>{{ 'label.ortuwali.entri'|trans }}</th>
            <th>{{ 'label.actions'|trans }}</th>
        </tr>
    </thead>
    <tbody>
    {% for data in pagination %}
        <tr>
            <td data-title="{{ 'label.number'|trans }}">{{ pagination.paginationData.firstItemNumber + loop.index - 1 }}</td>
            <td data-title="{{ 'label.year.entry'|trans }}">{% if data.tahun.tahun is defined %}{{ data.tahun.tahun }}{% endif %}</td>
            <td data-title="{{ 'label.name.full'|trans }}">{{ data.namaLengkap }}</td>
            <td data-title="{{ 'label.idnumber'|trans }}">{{ data.nomorInduk }}</td>
            <td data-title="{{ 'label.gender'|trans }}">{% if data.jenisKelamin == 'L' %}{{ 'male'|trans }}{% elseif data.jenisKelamin == 'P' %}{{ 'female'|trans }}{% endif %}</td>
            <td data-title="{{ 'label.kelas.aktif'|trans }}">{% if data.siswaKelasAktif %}{{ data.siswaKelasAktif.kelas.nama }}{% endif %}</td>
            <td data-title="{{ 'label.ortuwali.entri'|trans }}">
            {% if data.orangtuaWali %}
                {% for orangtua in data.orangtuaWali %}
                    {% if orangtua %}
                        {% if orangtua.aktif == 1 %}
                            {% if orangtua.nama != "" %}{{ orangtua.nama }},{% endif %}
                            {{ orangtua.ponsel }}
                        {% endif %}
                    {% endif %}
                {% endfor %}
            {% endif %}
            </td>
            <td data-title="{{ 'label.actions'|trans }}" class="row-actions">
                <a href="{{ path('siswa_show', {'id': data.id}) }}" title="{{ 'tip.detail'|trans }}"><i class="fa fa-arrow-right"></i></a>
                <a href="{{ path('siswa_edit', {'id': data.id}) }}" title="{% trans %}tip.edit{% endtrans %}"><i class="fa fa-pencil"></i></a>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{{ knp_pagination_render(pagination) }}

<div class="clearfix"></div>

<ul class="nav nav-pills">
    <li>
        <a href="{{ path('penempatan-siswa-kelas') }}">
            <i class="fa fa-random fa-lg fa-fw"></i>{{ 'links.penempatan.siswa.kelas'|trans({}, 'navigations') }}
        </a>
    </li>
{% if is_expr_granted("hasRole('ROLE_ADMIN')") %}
    <li>
        <a href="{{ path('siswa_generate_username') }}">
            </i><i class="fa fa-cogs fa-lg fa-fw"></i>{{ 'label.student.generate.username'|trans }}
        </a>
    </li>
{% endif %}
</ul>


<div class="clearfix" style="margin-top: 3em;"></div>

<div class="download-section">
    <h4>{{ 'heading.download.studentdata'|trans }}:</h4>
    <form method="post" action="{{ path('siswa_export') }}" id="export-form" class="form-search form-inline">
        {{ form_widget(dlform) }}
        <button type="submit" class="btn success alternative icon log">{{ 'label.download'|trans }}</button>
        <div id="filename"></div>
    </form>
</div>
{% endblock content %}

{% block javascripts_custom %}
<script language="javascript" type="text/javascript">
$(document).ready(function() {
    $("#export-form").submit(function() {
        var url = $(this).attr("action");
        $("#filename").html("&nbsp;");
        $("#filename").addClass("loading");
        $.post(url, $(this).serialize(), function(response) {
            if (response.redirectUrl) {
                window.location.href = response.redirectUrl;
                $("#filename").html('<a href="' + response.redirectUrl + '">' + response.filename + '</a>'
                        + '<br>({{ 'label.klik.jika.tak.otomatis'|trans }})');
                $("#filename").removeClass("loading");
            }
        });
        return false;
    });
});
</script>
{% endblock javascripts_custom %}
