{% extends 'LanggasSisdikBundle::layout.html.twig' %}

{% block page_heading %}
    {{ 'data.studentclass.list'|trans({}, 'headings') }}
    <br /><span class="emphasis">{{ siswa.namaLengkap }}{% if siswa.nomorInduk is not null %}, {{ siswa.nomorInduk }}{% endif %}</span>
{% endblock %}

{% block content %}
<ul class="nav nav-pills">
    <li>
        <a href="{{ path('siswa_show', {'id': siswa.id}) }}">{{ 'link.backtostudentinfo'|trans }}</a>
    </li>
</ul>

<div class="clearfix"></div>

<ul class="nav nav-pills pull-right">
    <li>
        <a href="{{ path('siswa-kelas_new', {'idsiswa': siswa.id}) }}" class="add-link-a">
            <i class="fa fa-plus-square fa-lg fa-fw"></i>{{ 'label.studentclass.add'|trans }}
        </a>
    </li>
</ul>

<div class="clearfix"></div>

<table class="table">
{% for data in results %}
    <tr>
        <td>
            <dl>
                <dt>{{ 'label.year.entry'|trans }}</dt>
                <dd>{% if data.tahunAkademik is not null %}{{ data.tahunAkademik.nama }}{% endif %}</dd>
                <dt>{{ 'label.class.entry'|trans }}</dt>
                <dd>{% if data.kelas is not null %}{{ data.kelas.nama }}{% endif %}</dd>
                <dt>{{ 'label.placement.study'|trans }}</dt>
                <dd>{% if data.penjurusan is not null %}{{ data.penjurusan.nama }} ({{ data.penjurusan.kode }}){% endif %}</dd>
                <dt>{{ 'label.active'|trans }} ({{ 'shortinfo.inselectedyear'|trans }})</dt>
                <dd>
                    {% if data.aktif != 1 %}
                        <i class="fa fa-times fa-lg uncheck"></i>
                    {% elseif data.aktif == 1 %}
                        <i class="fa fa-check fa-lg check"></i>
                    {% endif %}
                </dd>
                <dt>{{ 'label.description'|trans }}</dt>
                <dd>{{ data.keterangan }}</dd>
                <dt>{{ 'label.actions'|trans }}</dt>
                <dd>
                    <a href="{{ path('siswa-kelas_edit', {'idsiswa': siswa.id, 'id': data.id}) }}" title="{{ 'tip.edit'|trans }}"><i class="fa fa-pencil"></i></a>
                </dd>
            </dl>
        </td>
    </tr>
{% endfor %}
</table>
{% endblock content %}
