{% extends 'FastSisdikBundle::layout.html.twig' %}

{% block page_heading %}{% trans from "headings" %}pendidikan.sebelumnya.daftar{% endtrans %}<br />{{ siswa.namaLengkap }}{% endblock %}

{% block content %}
<dl>
    <dt>{{ 'label.name.full'|trans }}</dt>
    <dd>{{ siswa.namaLengkap }}</dd>
    <dt>{{ 'label.year.entry'|trans }}</dt>
    <dd>{% if siswa.tahun is not null %}{{ siswa.tahun.tahun }}{% endif %}</dd>
    <dt>{{ 'label.admissiongroup.entry'|trans }}</dt>
    <dd>{% if siswa.gelombang is not null %}{{ siswa.gelombang.nama }}{% endif %}</dd>
    <dt>{{ 'label.gender'|trans }}</dt>
    <dd>{% if siswa.jenisKelamin == 'L' %}{{ 'male'|trans }}{% elseif siswa.jenisKelamin == 'P' %}{{ 'female'|trans }}{% endif %}</dd>
</dl>

<div class="clearfix" style="margin-bottom: 2em;"></div>

<ul class="nav nav-pills">
    <li>
        <a href="{{ path('pendidikan-sebelumnya-' ~ ruteasal ~ '_new', {'sid': siswa.id}) }}" class="add-link-a">
            <i class="fa fa-plus-square fa-lg fa-fw"></i>{{ 'label.pendidikan.sebelumnya.tambah'|trans }}
        </a>
    </li>
</ul>

<div class="clearfix"></div>

<table class="table zebra-striped bordered-table" id="no-more-tables">
    <thead>
        <tr>
            <th>{{ 'label.jenjang'|trans }}</th>
            <th>{{ 'label.nama.lembaga'|trans }}</th>
            <th>{{ 'label.nomor.ijazah'|trans }}</th>
            <th>{{ 'label.file.ijazah'|trans }}</th>
            <th>{{ 'label.actions'|trans }}</th>
        </tr>
    </thead>
    <tbody>
    {% for data in pagination %}
        <tr>
            <td data-title="{{ 'label.jenjang'|trans }}">{{ daftarPilihanJenjangSekolah[data.jenjang] }}</td>
            <td data-title="{{ 'label.nama.lembaga'|trans }}">{{ data.nama }}</td>
            <td data-title="{{ 'label.nomor.ijazah'|trans }}">{{ data.ijazahNomor }}</td>
            <td data-title="{{ 'label.file.ijazah'|trans }}">
                {% if data.ijazahFile != '' %}
                    <a href="{% if proxypass == 1 %}/{{ proxypassname }}{% endif %}/{{ data.webPathIjazahFileDisk }}">{{ data.ijazahFile }}</a> ({{ data.filesizeIjazahFileDisk }})
                {% endif %}
            </td>
            <td data-title="{{ 'label.actions'|trans }}" class="row-actions">
                <a href="{{ path('pendidikan-sebelumnya-' ~ ruteasal ~ '_show', {'sid': siswa.id, 'id': data.id}) }}" title="{{ 'tip.detail'|trans }}"><i class="fa fa-arrow-right"></i></a>
                <a href="{{ path('pendidikan-sebelumnya-' ~ ruteasal ~ '_edit', {'sid': siswa.id, 'id': data.id}) }}" title="{{ 'tip.edit'|trans }}"><i class="fa fa-pencil"></i></a>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{{ knp_pagination_render(pagination) }}

<div class="clearfix"></div>

<ul class="nav nav-pills">
    <li>
    {% if ruteasal == 'pendaftar' %}
        <a href="{{ path('applicant_show', {'id': siswa.id}) }}">{{ 'link.backto'|trans }} {{ 'link.info.pendaftar'|trans }}</a>
    {% else %}
        <a href="{{ path('siswa_show', {'id': siswa.id}) }}">{{ 'link.backto'|trans }} {{ 'link.info.siswa'|trans }}</a>
    {% endif %}
    </li>
</ul>

{% endblock content %}
