{% extends 'FastSisdikBundle::layout.html.twig' %}

{% block page_heading %}{% trans from "headings" %}pendidikan.sebelumnya.pembuatan{% endtrans %}<br />{{ siswa.namaLengkap }}{% endblock %}

{% block content %}
<form action="{{ path('pendidikan-sebelumnya-' ~ ruteasal ~ '_create', { 'sid': siswa.id }) }}" method="post" {{ form_enctype(form) }} class="form-horizontal">
    {{ form_widget(form) }}
    <div class="form-group">
        <div class="col-sm-offset-4 col-sm-8 col-md-offset-4 col-md-7 col-lg-offset-3 col-lg-9">
            <button type="submit" class="btn primary">{{ 'label.submit.add'|trans }}</button>
        </div>
    </div>
</form>

<ul class="nav nav-pills">
    <li>
        <a href="{{ path('pendidikan-sebelumnya-' ~ ruteasal, {'sid': siswa.id}) }}">{{ 'link.backto'|trans }} {{ 'link.ortuwali'|trans }}</a>
    </li>
</ul>
{% endblock content %}

{% block javascripts_custom %}
<script language="javascript" type="text/javascript">
$(document).ready(function() {
    $('.date-ijazah').datepicker({
        dateFormat: 'dd/mm/yy',
        changeMonth: true,
        changeYear: true,
    });

    $('.date-kelulusan').datepicker({
        dateFormat: 'dd/mm/yy',
        changeMonth: true,
        changeYear: true,
    });
});
</script>
{% endblock javascripts_custom %}
