{% extends 'FastSisdikBundle::layout.html.twig' %}

{% block page_heading %}{% trans from "headings" %}pendidikan.sebelumnya.detail{% endtrans %}<br />{{ entity.siswa.namaLengkap }}{% endblock %}
{% block content %}
<dl>
    <dt>{{ 'label.nama.siswa'|trans }}</dt>
    <dd>{{ entity.siswa.namaLengkap }}</dd>
    <dt>{{ 'label.year.entry'|trans }}</dt>
    <dd>{% if entity.siswa.tahun is not null %}{{ entity.siswa.tahun.tahun }}{% endif %}</dd>
    <dt>{{ 'label.admissiongroup.entry'|trans }}</dt>
    <dd>{% if entity.siswa.gelombang is not null %}{{ entity.siswa.gelombang.nama }}{% endif %}</dd>
    <dt>{{ 'label.gender'|trans }}</dt>
    <dd>{% if entity.siswa.jenisKelamin == 'L' %}{{ 'male'|trans }}{% elseif entity.siswa.jenisKelamin == 'P' %}{{ 'female'|trans }}{% endif %}</dd>
    <dt>&nbsp;</dt>
    <dd>&nbsp;</dd>
    <dt>{{ 'label.jenjang'|trans }}</dt>
    <dd>{{ daftarPilihanJenjangSekolah[entity.jenjang] }}</dd>
    <dt>{{ 'label.nama.lembaga'|trans }}</dt>
    <dd>{{ entity.nama }}</dd>
    <dt>{{ 'label.alamat'|trans }}</dt>
    <dd>{{ entity.alamat }}</dd>
    <dt>{{ 'label.tanggal.ijazah'|trans }}</dt>
    <dd>{{ entity.ijazahTanggal|localeDate('long') }}</dd>
    <dt>{{ 'label.nomor.ijazah'|trans }}</dt>
    <dd>{{ entity.ijazahNomor }}</dd>
    {% if entity.ijazahFile != '' %}
    <dt>{{ 'label.file.ijazah'|trans }}</dt>
    <dd><a href="{% if proxypass == 1 %}/{{ proxypassname }}{% endif %}/{{ entity.webPathIjazahFileDisk }}">{{ entity.ijazahFile }}</a> ({{ entity.filesizeIjazahFileDisk }})</dd>
    {% endif %}
    <dt>{{ 'label.tahun.masuk'|trans }}</dt>
    <dd>{{ entity.tahunmasuk }}</dd>
    <dt>{{ 'label.tahun.keluar'|trans }}</dt>
    <dd>{{ entity.tahunkeluar }}</dd>
    <dt>{{ 'label.tanggal.sttb'|trans }}</dt>
    <dd>{{ entity.sttbTanggal|localeDate('long') }}</dd>
    <dt>{{ 'label.nomor.sttb'|trans }}</dt>
    <dd>{{ entity.sttbNomor }}</dd>
    {% if entity.sttbFile != '' %}
    <dt>{{ 'label.file.sttb'|trans }}</dt>
    <dd><a href="{% if proxypass == 1 %}/{{ proxypassname }}{% endif %}/{{ entity.webPathSttbFileDisk }}">{{ entity.sttbFile }}</a> ({{ entity.filesizeSttbFileDisk }})</dd>
    {% endif %}
    <dt>{{ 'label.keterangan'|trans }}</dt>
    <dd>{{ entity.keterangan }}</dd>
</dl>

<div class="clearfix"></div>

<form id="delete-form" action="{{ path('pendidikan-sebelumnya-' ~ ruteasal ~ '_delete', { 'sid': entity.siswa.id, 'id': entity.id }) }}" method="post" class="form-inline">
    {{ form_widget(delete_form) }}
    <div class="form-actions">
        <button type="submit" class="btn alternative icon danger remove">{{ 'label.delete'|trans }}</button>
    </div>
</form>

<ul class="pills">
    <li>
        <a href="{{ path('pendidikan-sebelumnya-' ~ ruteasal, { 'sid': entity.siswa.id }) }}">{{ 'link.backtolist'|trans }} {{ 'link.pendidikan.sebelumnya'|trans }}</a>
    </li>
    <li>
        <a href="{{ path('pendidikan-sebelumnya-' ~ ruteasal ~ '_edit', { 'sid': entity.siswa.id, 'id': entity.id }) }}">{{ 'link.edit'|trans }}</a>
    </li>
</ul>

<div class="clearfix"></div>

<div class="add-link pull-right">
{% image '@FastSisdikBundle/Resources/public/images/forms/icon_plus.gif' %}
	<a href="{{ path('pendidikan-sebelumnya-' ~ ruteasal ~ '_new', { 'sid': entity.siswa.id }) }}" class="add-link-a">
	    <img src="{{ asset_url }}" alt="{{ 'alt.add'|trans }}" border="0" width="21" height="21" style="vertical-align: middle;" />
	    {{ 'label.pendidikan.sebelumnya.tambah'|trans }}
	</a>
{% endimage %}
</div>
<script language="javascript" type="text/javascript">
$(document).ready(function() {
	$("#delete-form").submit(function(){
		var confirmtext = "{{ 'confirm.drop.pendidikan.sebelumnya'|trans({ '%nama%': entity.nama, '%siswa%': entity.siswa.namaLengkap }) }}";
		confirmtext = confirmtext.replace(/&#039;/g, "'");
		return confirmDropButton(confirmtext);
	});
});
</script>
{% endblock content %}