{% extends 'FastSisdikBundle::layout.html.twig' %}

{% block page_heading %}{% trans from "headings" %}reward.amount.edit{% endtrans %}{% endblock %}

{% block content %}
<form action="{{ path('rewardamount_update', { 'id': entity.id, 'page': app.request.get('page') }) }}" method="post" {{ form_enctype(edit_form) }} class="form-horizontal">
    {{ form_widget(edit_form) }}
	<div class="form-actions">
	    <button type="submit" class="btn primary">{{ 'label.submit.update'|trans }}</button>
    </div>
</form>

<form id="delete-form" action="{{ path('rewardamount_delete', { 'id': entity.id, 'page': app.request.get('page') }) }}" method="post" class="form-inline">
    {{ form_widget(delete_form) }}
    <button type="submit" class="btn alternative icon danger remove">{{ 'label.delete'|trans }}</button>
</form>

<ul class="pills">
    <li>
        {% if page is defined %}
        <a href="{{ path('rewardamount', {'page': page}) }}">{{ 'link.backtolist'|trans }}</a>
        {% else %}
        <a href="{{ path('rewardamount', {'page': app.request.get('page')}) }}">{{ 'link.backtolist'|trans }}</a>
        {% endif %}
    </li>
</ul>
<script language="javascript" type="text/javascript">
$(document).ready(function() {
	$("#delete-form").submit(function(){
		var confirmtext = "{{ 'confirm.drop.reward.amount'|trans({ '%year%': entity.tahun.tahun, '%admissiongroup%': entity.gelombang.nama, '%rewardtype%': entity.jenisImbalan.nama, '%nominal%': entity.nominal|number_format(0, ',', '.') }) }}";
		confirmtext = confirmtext.replace(/&#039;/g, "'");
		return confirmDropButton(confirmtext);
	});
});
</script>
{% endblock content %}
