{% extends 'FastSisdikBundle::layout.html.twig' %}

{% block page_heading %}{% trans from "headings" %}settings.placement.list{% endtrans %}{% endblock %}

{% block content %}
<div class="add-link">
{% image '@FastSisdikBundle/Resources/public/images/forms/icon_plus.gif' %}
	<a href="{{ path('settings_placement_new') }}" class="add-link-a">
	    <img src="{{ asset_url }}" alt="{{ 'alt.add'|trans }}" border="0" width="21" height="21" style="vertical-align: middle;" />
	    {{ 'label.placement.add'|trans }}
	</a>
{% endimage %}
</div>

<div class="clearfix"></div>

<table class="table zebra-striped bordered-table" id="no-more-tables">
    <thead>
    	<tr>
    		<th class="{% if pagination.isSorted('t.nama') %}sorted{% endif %}">
    		    {{ pagination.sortable('label.placement.name'|trans, 't.nama')|raw }}
    	    </th>
    		<th class="{% if pagination.isSorted('t.kode') %}sorted{% endif %}">
                {{ pagination.sortable('label.code'|trans, 't.kode')|raw }}
    	    </th>
    		<th class="{% if pagination.isSorted('t.kepala') %}sorted{% endif %}">
                {{ pagination.sortable('label.chief'|trans, 't.kepala')|raw }}
    	    </th>
    		<th>{{ 'label.movement'|trans }}</th>
    	    <th>{{ 'label.actions'|trans }}</th>
    	</tr>
	</thead>
	<tbody>
    {% for data in pagination %}
        <tr>
    		<td data-title="{{ 'label.placement.name'|trans }}">
    		    {% if data.parent is not null %}
    	            <i>{{ data.parent }}</i><br />&rarr;
    		    {% endif %}
    		    {{ data.nama }}
    		</td>
    		<td data-title="{{ 'label.code'|trans }}">{{ data.kode }}</td>
    		<td data-title="{{ 'label.chief'|trans }}">{{ data.kepala }}</td>
    		<td data-title="{{ 'label.movement'|trans }}">
        		{% if data.lvl != 0 %}
        		    <a href="{{ path('settings_placement_moveup', {'id': data.id, 'page': pagination.paginationData.current}) }}" title="{{ 'tip.moveup'|trans }}" style="width: 50%; display: inline-block; text-align: center;">{{ 'label.moveup'|trans }} &uarr;</a>
        		    <a href="{{ path('settings_placement_movedown', {'id': data.id, 'page': pagination.paginationData.current}) }}" title="{{ 'tip.movedown'|trans }}" style="width: 40%; display: inline-block; text-align: center;">&darr; {{ 'label.movedown'|trans }}</a>
        	    {% endif %}
    	    </td>
    		<td data-title="{{ 'label.actions'|trans }}" class="row-actions">
        		<a href="{{ path('settings_placement_show', {'id': data.id, 'page': pagination.paginationData.current}) }}" title="{{ 'tip.detail'|trans }}" class="icon-arrow-right"></a>
        		<a href="{{ path('settings_placement_edit', {'id': data.id, 'page': pagination.paginationData.current}) }}" title="{% trans %}tip.edit{% endtrans %}" class="icon-edit"></a>
    		</td>
    	</tr>
    {% endfor %}
    </tbody>
</table>
{{ pagination.render()|raw }}
{% endblock content %}