{% extends 'FastSisdikBundle::layout.html.twig' %}

{% block page_heading %}{% trans from "headings" %}presence.status.list{% endtrans %}{% endblock %}

{% block content %}
<style type="text/css">
.control-group {
    display: inline-block;
    margin-right: 0.4em;
}
</style>

<div class="filter-section">
    <div style="padding-top: 1em;">
        <form method="GET" action="{{ path('presence_status') }}" class="form-search form-inline">
            {{ form_widget(form) }}
            <button type="submit" class="btn primary alternative icon search">{{ 'label.search'|trans }}</button>
            <button class="btn" type="reset" onclick="window.location.href='{{ path('presence_status') }}'">{{ 'label.reset'|trans }}</button>
        </form>
    </div>
</div>

<div class="clearfix"></div>

<div class="add-link">
{% image '@FastSisdikBundle/Resources/public/images/forms/icon_plus.gif' %}
	<a href="{{ path('presence_status_new') }}" class="add-link-a">
	    <img src="{{ asset_url }}" alt="{{ 'alt.add'|trans }}" border="0" width="21" height="21" style="vertical-align: middle;" />
	    {{ 'label.presence.status.add'|trans }}
	</a>
{% endimage %}
</div>

<div class="clearfix"></div>

<table class="table zebra-striped bordered-table" id="no-more-tables">
    <thead>
    	<tr>
    		<th>{{ 'label.school'|trans }}</th>
    		<th class="{% if pagination.isSorted('t.nama') %}sorted{% endif %}">
                {{ knp_pagination_sortable(pagination, 'label.presence.status.entry'|trans, 't.nama') }}
    	    </th>
    		<th class="{% if pagination.isSorted('t.keterangan') %}sorted{% endif %}">
                {{ knp_pagination_sortable(pagination, 'label.description'|trans, 't.keterangan') }}
    	    </th>
    		<th>{{ 'label.actions'|trans }}</th>
    	</tr>
	</thead>
	<tbody>
    {% for data in pagination %}
        <tr>
            <td data-title="{{ 'label.school'|trans }}">{% if data.sekolah is not null %}{{ data.sekolah.nama }}{% endif %}</td>
    		<td data-title="{{ 'label.presence.status.entry'|trans }}">{{ data.nama }}</td>
    		<td data-title="{{ 'label.description'|trans }}">{{ data.keterangan }}</td>
    		<td data-title="{{ 'label.actions'|trans }}" class="row-actions">
        		<a href="{{ path('presence_status_show', {'id': data.id, 'page': pagination.paginationData.current}) }}" title="{{ 'tip.detail'|trans }}" class="icon-arrow-right"></a>
        		<a href="{{ path('presence_status_edit', {'id': data.id, 'page': pagination.paginationData.current}) }}" title="{% trans %}tip.edit{% endtrans %}" class="icon-edit"></a>
    		</td>
    	</tr>
    {% endfor %}
    </tbody>
</table>
{{ knp_pagination_render(pagination) }}
{% endblock content %}
