{% extends '::base.html.twig' %}

{% block stylesheets %}
    {% stylesheets
        'bundles/fastsisdik/css/screen.css'
        filter='cssrewrite'
    %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
    <!--[if IE]>
    {% stylesheets 'bundles/fastsisdik/css/pro_dropline_ie.css' filter='cssrewrite' %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
    <![endif]-->
    
    
    {% stylesheets
        'bundles/fastsisdik/js/libraries/themes/smoothness/jquery-ui-1.9.1.custom.css'
        filter='cssrewrite'
    %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}

{% block javascripts_top %}

{% javascripts
    '@FastSisdikBundle/Resources/public/js/libraries/jquery-1.8.2.min.js'
    '@FastSisdikBundle/Resources/public/js/libraries/jquery-ui-1.9.1.custom.min.js'
    '@FastSisdikBundle/Resources/public/js/custom.js'
%}
<script type="text/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}

{% javascripts '@FastSisdikBundle/Resources/public/js/libraries/jquery.pngFix.pack.js' %}
<script type="text/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}

{% endblock javascripts_top %}

{% block additional_resources %}
{% block javascripts_add %}{% endblock javascripts_add %}
{% block stylesheets_add %}{% endblock stylesheets_add %}
{% endblock additional_resources %}

{% block custom_body_tag %}<body>{% endblock %}

{% block body %}
<!-- Start: page-top-outer -->
<div id="page-top-outer">    

    <!-- Start: page-top -->
    <div id="page-top">
    
    	<!-- start logo -->
    	<div id="logo">
		{% image '@FastSisdikBundle/Resources/public/images/logo_white.png' %}
        	<a href="{{ path("_index") }}"><img src="{{ asset_url }}" alt="{{ 'alt.logo'|trans }}" border="0">
        	    <span style="color: #fff; font-size: 1.2em; font-style: italic;">&nbsp;&nbsp;{% if app.user.idsekolah is not null %}{{ app.user.idsekolah.nama }}{% endif %}</span>
    	    </a>
        {% endimage %}
    	</div>
    	<!-- end logo -->
        
    	<!--  start top-search -->
    	<div id="top-search">
    		{% image '@FastSisdikBundle/Resources/public/images/kb.png' %}
            	<a href="{{ path("_index") }}">
            	    <span style="font-size: 1em; color: #fff; vertical-align: middle;">bantuan&nbsp;&nbsp;&raquo;&nbsp;</span>
            	    <img style="width: 35px; vertical-align: middle;" title="{{ 'alt.kb'|trans }}" src="{{ asset_url }}" alt="{{ 'alt.kb'|trans }}" border="0" />
        	    </a>
            {% endimage %}
{#     	    <form name="search" method="get" action="searchaction">#}
{#     		<table border="0" cellpadding="0" cellspacing="0">#}
{#         		<tr>#}
{#         		    <td>#}
{#         		        <input type="text" value="Search" onblur="if (this.value=='') { this.value='Search'; }" onfocus="if (this.value=='Search') { this.value=''; }" class="top-search-inp" />#}
{#     		        </td>#}
{#             		<td>#}
{#                 		<select  class="styledselect">#}
{#                 			<option value="">All</option>#}
{#                 			<option value="">Products</option>#}
{#                 			<option value="">Categories</option>#}
{#                 			<option value="">Clients</option>#}
{#                 			<option value="">News</option>#}
{#                 		</select> #}
{#             		</td>#}
{#             		<td>#}
{#             		    <input type="submit" value="Search" class="submit-search" />#}
{#             		</td>#}
{#         		</tr>#}
{#     		</table>#}
{#     		</form>#}
    	</div>
     	<!--  end top-search -->
     	<div class="clear"></div>
    
    </div>
    <!-- End: page-top -->

</div>
<!-- End: page-top-outer -->
	
<div class="clear">&nbsp;</div>
 
<!--  start nav-outer-repeat-->
<div class="nav-outer-repeat"> 

    <!--  start nav-outer -->
    <div class="nav-outer"> 
    	
    	<!-- start nav-right -->
    	<div id="nav-right">
    	
    		<div class="nav-divider">&nbsp;</div>
    		<div class="showhide-account">
    		    <a href="{{ path("fos_user_profile_show") }}" class="nav-right-a">
    		    {% image '@FastSisdikBundle/Resources/public/images/shared/nav/nav_myaccount.gif' %}
                	<img src="{{ asset_url }}" alt="{% trans from "navigations" %}user.myaccount{% endtrans %}" width="10" height="14" border="0" style="display: inline; vertical-align: middle;" />
                {% endimage %}
                    {% trans from "navigations" %}user.myaccount{% endtrans %}
                </a>
		    </div>
    		<div class="nav-divider">&nbsp;</div>
    		<a href="{{ path("logout") }}" class="nav-right-a">
            {% image '@FastSisdikBundle/Resources/public/images/shared/nav/nav_logout.gif' %}
            	<img src="{{ asset_url }}" alt="{% trans from "navigations" %}user.logout{% endtrans %}" width="11" height="14" border="0" style="display: inline; vertical-align: middle;" />
            {% endimage %}
                {% trans from "navigations" %}user.logout{% endtrans %}
    		</a>
    		
    		<div class="clear">&nbsp;</div>
    	
    		<!--  start account-content -->	
    		<div class="account-content">
        		<div class="account-drop-inner">
        			<a href="{{ path("fos_user_profile_show") }}" id="acc-details">{% trans from "navigations" %}user.details{% endtrans %}</a>
        			<div class="clear">&nbsp;</div>
        			
        			<div class="acc-line">&nbsp;</div>
        			<a href="{{ path("fos_user_profile_edit") }}" id="acc-settings">{% trans from "navigations" %}user.edit.profile{% endtrans %}</a>
        			<div class="clear">&nbsp;</div>
        			
        			<div class="acc-line">&nbsp;</div>
        			<a href="{{ path("fos_user_change_password") }}" id="acc-settings">{% trans from "navigations" %}user.edit.password{% endtrans %}</a>
        			<div class="clear">&nbsp;</div>
        			
        			<div class="acc-line">&nbsp;</div>
        			<a href="{{ path("_index") }}" id="acc-inbox">{% trans from "navigations" %}user.messages{% endtrans %}</a>
        		</div>
    		</div>
    		<!--  end account-content -->
    	
        	<div id="log-info">
                &raquo;&raquo; &nbsp;&nbsp; {{ app.user.username }} &nbsp;&nbsp; &laquo;&laquo;
        	</div>
    		
		</div>
    	<!-- end nav-right -->
    	
    	<!--  start nav -->
    	<div class="nav">
        	<div class="table">
        	    
        	    {{ knp_menu_render('topmenu') }}
            	
            	<div class="clear"></div>
    	    </div>
    	    <div class="clear"></div>
        
        </div>
    	<!--  end nav -->
    	
    </div>
    <!--  end nav-outer -->

    <div class="clear"></div>

</div>
<!--  end nav-outer-repeat -->

<div class="clear"></div>
 
<!-- start content-outer -->
<div id="content-outer">
    <!-- start content -->
    <div id="content">
    
    	<!--  start page-heading -->
    	<div id="page-heading">
    		<h1>{% block page_heading %}{% endblock %}</h1>
    	</div>
    	<!-- end page-heading -->
    
    	<table border="0" width="100%" cellpadding="0" cellspacing="0" id="content-table">
        	<tr>
        		<th rowspan="3" class="sized">
    		    {% image '@FastSisdikBundle/Resources/public/images/shared/side_shadowleft.jpg' %}
                	<img src="{{ asset_url }}" alt="" width="20" height="300" border="0" />
                {% endimage %}
    		    </th>
        		<th class="topleft"></th>
        		<td id="tbl-border-top">&nbsp;</td>
        		<th class="topright"></th>
        		<th rowspan="3" class="sized">
    		    {% image '@FastSisdikBundle/Resources/public/images/shared/side_shadowright.jpg' %}
                	<img src="{{ asset_url }}" alt="" width="20" height="300" border="0" />
                {% endimage %}
    		    </th>
        	</tr>
        	<tr>
        		<td id="tbl-border-left"></td>
        		<td>
            		<!--  start content-table-inner -->
            		<div id="content-table-inner">
            			<!--  start table-content  -->
            			<div id="table-content">
                			{% for type, flashMessages in app.session.flashbag.all() %}
                                {% for flashMessage in flashMessages %}
                                    {% if type == 'success' %}
                                        <div id="message-green">
                                            <table border="0" width="100%" cellpadding="0" cellspacing="0">
                                                <tr>
                                                	<td class="green-left">{{ flashMessage|trans }}</td>
                                                	<td class="green-right">
                                            		{% image '@FastSisdikBundle/Resources/public/images/table/icon_close_green.gif' %}
                                                    	<a class="close-green"><img src="{{ asset_url }}" border="0" /></a>
                                                    {% endimage %}
                                                    </td>
                                            	</tr>
                                            </table>
                                            <br>
                                        </div>
                                    {% elseif type == 'error' %}
                                        <div id="message-red">
                                            <table border="0" width="100%" cellpadding="0" cellspacing="0">
                                                <tr>
                                                	<td class="red-left">{{ flashMessage|trans }}</td>
                                                	<td class="red-right">
                                            		{% image '@FastSisdikBundle/Resources/public/images/table/icon_close_red.gif' %}
                                                    	<a class="close-red"><img src="{{ asset_url }}" border="0" /></a>
                                                    {% endimage %}
                                                    </td>
                                            	</tr>
                                            </table>
                                            <br>
                                        </div>
                                    {% elseif type == 'info' %}
                                        <div id="message-yellow">
                                            <table border="0" width="100%" cellpadding="0" cellspacing="0">
                                                <tr>
                                                	<td class="yellow-left">{{ flashMessage|trans }}</td>
                                                	<td class="yellow-right">
                                            		{% image '@FastSisdikBundle/Resources/public/images/table/icon_close_yellow.gif' %}
                                                    	<a class="close-yellow"><img src="{{ asset_url }}" border="0" /></a>
                                                    {% endimage %}
                                                    </td>
                                            	</tr>
                                            </table>
                                            <br>
                                        </div>
                                    {% elseif type == 'greet' %}
                                        <div id="message-blue">
                                            <table border="0" width="100%" cellpadding="0" cellspacing="0">
                                                <tr>
                                                	<td class="blue-left">{{ flashMessage|trans }}</td>
                                                	<td class="blue-right">
                                            		{% image '@FastSisdikBundle/Resources/public/images/table/icon_close_blue.gif' %}
                                                    	<a class="close-blue"><img src="{{ asset_url }}" border="0" /></a>
                                                    {% endimage %}
                                                    </td>
                                            	</tr>
                                            </table>
                                            <br>
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            {% endfor %}
                            
            			    {% block content %}
                			<h2>Sub Heading</h2>
                			<h3>Local Heading</h3>
                			Lorem ipsum dolor sit amet consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et Lorem ipsum dolor sit amet consectetur 
                			adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.  dolore magna aliqua. Lorem ipsum dolor sit amet consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et Lorem ipsum dolor sit amet consectetur 
                			adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.  dolore magna aliqua. 
                			<br /><br />
                			{% endblock content %}
            			</div>
            			<!--  end table-content  -->
            			<div class="clear"></div>
            		</div>
            		<!--  end content-table-inner -->
        		</td>
        		<td id="tbl-border-right"></td>
        	</tr>
        	<tr>
        		<th class="sized bottomleft"></th>
        		<td id="tbl-border-bottom">&nbsp;</td>
        		<th class="sized bottomright"></th>
        	</tr>
    	</table>
    	<div class="clear">&nbsp;</div>
    </div>
    <!--  end content -->
    <div class="clear">&nbsp;</div>
</div>
<!--  end content-outer -->

<div class="clear">&nbsp;</div>
    
<!-- start footer -->         
<div id="footer">
	<div id="footer-left">
    	Skin provided by Internet Dreams Ltd. <a href="http://www.netdreams.co.uk" target="_blank">www.netdreams.co.uk</a>.
	</div>
	<div class="clear">&nbsp;</div>
</div>
<!-- end footer -->
{% endblock body %}

{% block javascripts_bottom %}{% endblock %}

{% block lastresources %}{% endblock %}

