{% from 'MopaBootstrapBundle::flash.html.twig' import session_flash %}
{% extends '::base.html.twig' %}

{% block stylesheets %}
    {% stylesheets
        '@MopaBootstrapBundle/Resources/public/less/mopabootstrapbundle.less'
        'bundles/langgassisdik/css/jqueryui/themes/smoothness/jquery-ui-1.9.1.custom.min.css'
        '@LanggasSisdikBundle/Resources/public/css/tooltipster/tooltipster.css'
        '@LanggasSisdikBundle/Resources/public/css/tooltipster/themes/tooltipster-light.css'
        'bundles/langgassisdik/font/stylesheet.css'
        'bundles/langgassisdik/css/styles.css'
        '@LanggasSisdikBundle/Resources/public/css/media-queries.css'
        '@LanggasSisdikBundle/Resources/public/css/dropkick.css'
        filter='cssrewrite'
    %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}

{% block additional_resources %}
{% block javascripts_add %}{% endblock javascripts_add %}
{% block stylesheets_add %}{% endblock stylesheets_add %}
{% endblock additional_resources %}

{% block body %}

<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ path("_index") }}">
                {% image '@LanggasSisdikBundle/Resources/public/images/logo_white_simple.png' %}
                    <img src="{{ asset_url }}" alt="{{ 'alt.logo'|trans }}" border="0" height="23" style="display: inline-block;">
                {% endimage %}
            </a>
        </div>
        <div class="navbar-collapse collapse">
          {{ mopa_bootstrap_menu('mainMenu') }}
        </div>
    </div>
</div>

<div class="container">
    <div>
        <div style="text-align: right">
          <div id="page-header">
          {% if app.user.sekolah is not null %}
              {% if app.user.sekolah.logo != "" %}
                  <a href="{{ path("_index") }}"><img src="{% if proxypass == 1 %}/{{ proxypassname }}{% endif %}/{{ app.user.sekolah.webPathLogoThumbnailDisk }}" alt="{{ 'alt.logo.sekolah'|trans }}" border="0" class="img-polaroid"></a>
                {% else %}
                    {% image '@LanggasSisdikBundle/Resources/public/images/standar_tutwuri.png' %}
                      <a href="{{ path("_index") }}"><img src="{{ asset_url }}" alt="{{ 'alt.logo.sekolah'|trans }}" border="0" height="80" class="img-polaroid"></a>
                    {% endimage %}
                {% endif %}
            {% else  %}
                {% image '@LanggasSisdikBundle/Resources/public/images/standar_tutwuri.png' %}
                  <a href="{{ path("_index") }}"><img src="{{ asset_url }}" alt="{{ 'alt.logo.sekolah'|trans }}" border="0" height="80" class="img-polaroid"></a>
                {% endimage %}
            {% endif %}
                <div id="school-name">{% spaceless %}
                    {% if app.user is not null %}
                        {% if app.user.sekolah is not null %}{{ app.user.sekolah.nama }}{% endif %}
                    {% endif %}
                {% endspaceless %}</div>
            </div>
            <div id="log-info">
                &raquo; {{ app.user.username }}<br />
            <a href="{{ path("fos_user_profile_show") }}">{% trans from "navigations" %}user.myaccount{% endtrans %}</a> |
            <a href="{{ path("logout") }}">{% trans from "navigations" %}user.logout{% endtrans %}</a>
            </div>
        </div>
    </div>

    <div>
        <div>
            {% if breadcrumb is defined %}
            <div>
                {% for items in breadcrumb %}
                    {% if items.label != 'root' %}
                        <a href="{{ items.uri }}">{{ items.label|trans({}, 'navigations') }}</a>
                        {% if not loop.last %} &raquo; {% endif %}
                    {% endif %}
                {% endfor %}
            </div>
            {% endif %}
            <h2 class="page-title">
                {% block page_heading %}Default Heading{% endblock page_heading %}
            </h2>

            {% block flashes %}
            {% if app.session.flashbag.peekAll|length > 0 %}
                {{ session_flash() }}
            {% endif %}
            {% endblock flashes %}

            <div id="block-content">
                {% block content %}
                <h2>Sub Heading</h2>
                <p>Bootstrap default content</p>
                {% endblock content %}
            </div>
        </div>
    </div>
</div>

<div class="footer container container-fluid">
  <div id="copyright">Copyright &copy; 2012 &ndash; {{ "now"|date("Y") }}<br></div>
</div>

{% endblock body %}

{% block javascripts_bottom %}

<!--[if lt IE 9]>
{% javascripts
    '@LanggasSisdikBundle/Resources/public/js/libraries/css3-mediaqueries.js'
    '@LanggasSisdikBundle/Resources/public/js/libraries/html5.js'
%}
<script type="text/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}
<![endif]-->

{% javascripts
    '@LanggasSisdikBundle/Resources/public/js/libraries/jquery-1.8.3.min.js'
    '@LanggasSisdikBundle/Resources/public/js/libraries/jquery-ui-1.9.1.custom.min.js'
    '@LanggasSisdikBundle/Resources/public/js/libraries/tooltipster/jquery.tooltipster.min.js'
    '@MopaBootstrapBundle/Resources/public/bootstrap/js/tooltip.js'
    '@MopaBootstrapBundle/Resources/public/bootstrap/js/affix.js'
    '@MopaBootstrapBundle/Resources/public/bootstrap/js/alert.js'
    '@MopaBootstrapBundle/Resources/public/bootstrap/js/button.js'
    '@MopaBootstrapBundle/Resources/public/bootstrap/js/carousel.js'
    '@MopaBootstrapBundle/Resources/public/bootstrap/js/collapse.js'
    '@MopaBootstrapBundle/Resources/public/bootstrap/js/dropdown.js'
    '@MopaBootstrapBundle/Resources/public/bootstrap/js/modal.js'
    '@MopaBootstrapBundle/Resources/public/bootstrap/js/popover.js'
    '@MopaBootstrapBundle/Resources/public/bootstrap/js/tab.js'
    '@MopaBootstrapBundle/Resources/public/bootstrap/js/transition.js'
    '@MopaBootstrapBundle/Resources/public/js/mopabootstrap-collection.js'
    '@MopaBootstrapBundle/Resources/public/js/mopabootstrap-subnav.js'
    '@LanggasSisdikBundle/Resources/public/js/custom.js'
%}
<script type="text/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}

{#     '@MopaBootstrapBundle/Resources/public/bootstrap/js/scrollspy.js'#}

{#     '@LanggasSisdikBundle/Resources/public/js/libraries/bootstrap-transition.js'#}
{#     '@LanggasSisdikBundle/Resources/public/js/libraries/bootstrap-dropdown.js'#}
{#     '@LanggasSisdikBundle/Resources/public/js/libraries/bootstrap-tab.js'#}
{#     '@LanggasSisdikBundle/Resources/public/js/libraries/bootstrap-collapse.js'#}
{#     '@LanggasSisdikBundle/Resources/public/js/libraries/bootstrap-tooltip.js'#}
{#     '@LanggasSisdikBundle/Resources/public/js/libraries/bootstrap-popover.js'#}
{#     '@LanggasSisdikBundle/Resources/public/js/libraries/mopabootstrap-collection.js'#}

{#     '@LanggasSisdikBundle/Resources/public/js/libraries/bootstrap.min.js'#}
{#     '@LanggasSisdikBundle/Resources/public/js/libraries/bootstrap-scrollspy.js'#}
{#     '@LanggasSisdikBundle/Resources/public/js/libraries/bootstrap-carousel.js'#}
{#     '@LanggasSisdikBundle/Resources/public/js/libraries/bootstrap-typeahead.js'#}
{#     '@LanggasSisdikBundle/Resources/public/js/libraries/bootstrap-transition.js'#}
{#     '@LanggasSisdikBundle/Resources/public/js/libraries/bootstrap-modal.js'#}
{#     '@LanggasSisdikBundle/Resources/public/js/libraries/bootstrap-alert.js'#}
{#     '@LanggasSisdikBundle/Resources/public/js/libraries/bootstrap-button.js'#}
{% endblock javascripts_bottom %}

{% block javascripts_custom %}{% endblock javascripts_custom %}

{% block lastresources %}{% endblock %}
