{% from 'MopaBootstrapBundle::flash.html.twig' import session_flash %}
{% extends '::base.html.twig' %}

{% block stylesheets %}
    {% stylesheets
        'bundles/fastsisdik/css/bootstrap.min.css'
        '@FastSisdikBundle/Resources/public/css/bootstrap-responsive.min.css'
        '@FastSisdikBundle/Resources/public/css/bootstrap_xtra.min.css'
        'bundles/fastsisdik/css/styles.css'
        '@FastSisdikBundle/Resources/public/css/media-queries.css'
        'bundles/fastsisdik/font/stylesheet.css'
        'bundles/fastsisdik/js/libraries/themes/smoothness/jquery-ui-1.9.1.custom.min.css'
        filter='cssrewrite'
    %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}

{% block javascripts_top %}

<!--[if lt IE 9]>
{% javascripts
    '@FastSisdikBundle/Resources/public/js/libraries/css3-mediaqueries.js'
    '@FastSisdikBundle/Resources/public/js/libraries/html5.js'
%}
<script type="text/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}
<![endif]-->

{% javascripts
    '@FastSisdikBundle/Resources/public/js/libraries/jquery-1.8.2.min.js'
    '@FastSisdikBundle/Resources/public/js/libraries/jquery-ui-1.9.1.custom.min.js'
    '@FastSisdikBundle/Resources/public/js/libraries/bootstrap-dropdown.js'
    '@FastSisdikBundle/Resources/public/js/libraries/bootstrap-tab.js'
    '@FastSisdikBundle/Resources/public/js/libraries/bootstrap-collapse.js'
    '@FastSisdikBundle/Resources/public/js/custom.js'
    '@FastSisdikBundle/Resources/public/js/libraries/custom-mopabootstrap-collection.js'
%}
<script type="text/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}

{#     '@FastSisdikBundle/Resources/public/js/libraries/bootstrap.min.js'#}
{#     '@FastSisdikBundle/Resources/public/js/libraries/bootstrap-scrollspy.js'#}
{#     '@FastSisdikBundle/Resources/public/js/libraries/bootstrap-carousel.js'#}
{#     '@FastSisdikBundle/Resources/public/js/libraries/bootstrap-typeahead.js'#}
{#     '@FastSisdikBundle/Resources/public/js/libraries/bootstrap-transition.js'#}
{#     '@FastSisdikBundle/Resources/public/js/libraries/bootstrap-modal.js'#}
{#     '@FastSisdikBundle/Resources/public/js/libraries/bootstrap-tooltip.js'#}
{#     '@FastSisdikBundle/Resources/public/js/libraries/bootstrap-popover.js'#}
{#     '@FastSisdikBundle/Resources/public/js/libraries/bootstrap-alert.js'#}
{#     '@FastSisdikBundle/Resources/public/js/libraries/bootstrap-button.js'#}
{% endblock javascripts_top %}

{% block additional_resources %}
{% block javascripts_add %}{% endblock javascripts_add %}
{% block stylesheets_add %}{% endblock stylesheets_add %}
{% endblock additional_resources %}

{% block body %}

<!-- TOP MENU NAVIGATION -->
{{ mopa_bootstrap_navbar('frontendNavbar') }}
{# <div class="navbar navbar-fixed-top">#}
{# 	<div class="navbar-inner">#}
{# 		<div class="container">#}
	
{# 			<a class="brand pull-left" href="#">SisDik</a>#}
	
{# 			<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">#}
{# 				<span class="icon-bar"></span>#}
{# 				<span class="icon-bar"></span>#}
{# 				<span class="icon-bar"></span>#}
{# 			</a>#}
		
{# 			<div class="nav-collapse collapse">#}
{# 			    {{ knp_menu_render('mainmenu') }}#}
{# 			</div>#}
		
{# 		</div>#}
{# 	</div>#}
{# </div>#}

<!-- MAIN CONTENT -->
<div class="container content container-fluid" id="home">

	<!-- HOME -->
	<div class="row-fluid">
	    <div class="span12 pull-right" style="text-align: right">
	        <div id="page-header">
        		{% image '@FastSisdikBundle/Resources/public/images/logo_black.png' %}
            	<a href="{{ path("_index") }}"><img src="{{ asset_url }}" alt="{{ 'alt.logo'|trans }}" border="0" width="92"></a>
                {% endimage %}
                <div id="school-name">
                    {% if app.user is not null %}
                        {% if app.user.sekolah is not null %}{{ app.user.sekolah.nama }}{% endif %}
                    {% endif %}
                </div>
            </div>
            <div id="log-info">
                &raquo; {{ app.user.username }}<br />
    		    <a href="{{ path("fos_user_profile_show") }}">{% trans from "navigations" %}user.myaccount{% endtrans %}</a> |
        		<a href="{{ path("logout") }}">{% trans from "navigations" %}user.logout{% endtrans %}</a>
            </div>
        </div>
	</div>
	
	<div class="row-fluid">
        <div class="span12">
            {% if breadcrumb is defined %}
            <div>
                {% for items in breadcrumb %}
                    {% if items.label != 'root' %}
                        <a href="{{ items.uri }}">{{ items.label|trans({}, 'navigations') }}</a>
                        {% if not loop.last %} &raquo; {% endif %}
                    {% endif %}
                {% endfor %}
            </div>
            {% endif %}
    		<h2 class="page-title">
    			{% block page_heading %}Default Heading{% endblock page_heading %}
    		</h2>
    		
            {% block flashes %}
            {% if app.session.flashbag.peekAll|length > 0 %}
                {{ session_flash() }}
            {% endif %}
            {% endblock flashes %}
    	
    	    <div id="block-content">
        	{% block content %}
        		<h2>Sub Heading</h2>
        		<p>FlexApp is a fully responsive HTML/CSS template perfect for marketing your mobile application.
            	The template utilizes responsive CSS3 & jQuery technology to provide a consistent
            	and enjoyable viewing experience across multiple devices.</p>
            	<p>FlexApp is 100% free to use.
            	You may change, edit or modify the template however you wish,
            	for free or commercial projects.</p>
    		{% endblock content %}
    		</div>
		</div>
	</div>
</div>

<!-- FOOTER -->
<div class="footer container container-fluid">
	<div id="copyright">Copyright &copy; 2012 &ndash; {{ "now"|date("Y") }} SisDik oleh Fast Solution<br></div>
</div>

{% endblock body %}

{% block javascripts_bottom %}{% endblock %}

{% block lastresources %}{% endblock %}
