    	
<div class="span7">
	<form class="form-horizontal">
		<fieldset>
			<div class="control-group">
				<label class="control-label" for="name">Name</label>
				<div class="controls">
					<input class="input-xlarge" type="text" id="name" placeholder="John Doe">
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="email">Email</label>
				<div class="controls">
					<input class="input-xlarge" type="text" id="email" placeholder="john@gmail.com">
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="subject">Subject</label>
				<div class="controls">
					<input class="input-xlarge" type="text" id="subject" placeholder="General Inquiry">
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="message">Message</label>
				<div class="controls">
					<textarea class="input-xlarge" rows="3" id="message" placeholder="Your message..."></textarea>
				</div>
			</div>
			<div class="form-actions">
				<button type="submit" class="btn btn-primary">SEND</button>
			</div>
		</fieldset>
	</form>
</div>
    	



-------------------------------------------------------------------------------------------------





{% block checkbox_scripts %}
    {% javascripts
        '@FastSisdikBundle/Resources/public/js/libraries/ui.checkbox.js'
        '@FastSisdikBundle/Resources/public/js/libraries/jquery.bind.js'
        '@FastSisdikBundle/Resources/public/js/custom.js'
    %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

{% block checkbox_elements %}
    <script type="text/javascript">
    $(function(){
    	$('input').checkBox();
    	$('#toggle-all').click(function(){
     	$('#toggle-all').toggleClass('toggle-checked');
    	$('#mainform input[type=checkbox]').checkBox('toggle');
    	return false;
    	});
    });
    </script>
{% endblock %}

{% block selectbox_scripts %}
    <!-- styled select box script -->
    {% javascripts '@FastSisdikBundle/Resources/public/js/libraries/jquery.selectbox-0.5.js' %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

{% block selectbox_elements %}
<script type="text/javascript">
    $(document).ready(function() {
    	$('.styledselect').selectbox({ inputClass: "selectbox_styled" });
    	$('.styledselect_form_1').selectbox({ inputClass: "styledselect_form_1" });
    	$('.styledselect_form_2').selectbox({ inputClass: "styledselect_form_2" });
    });
</script>
{% endblock %}

{% block fileupload_scripts %}
<!--  styled file upload script --> 
    {% javascripts '@FastSisdikBundle/Resources/public/js/libraries/jquery.filestyle.js' %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

{% block fileupload_elements %}
<script type="text/javascript" charset="utf-8">
  $(function() {
      $("input.file_1").filestyle({ 
          image: "images/forms/choose-file.gif",
          imageheight : 21,
          imagewidth : 78,
          width : 310
      });
  });
</script>
{% endblock %}

{% block tooltip_scripts %}
<!-- Tooltips -->
    {% javascripts
        '@FastSisdikBundle/Resources/public/js/libraries/jquery.tooltip.js'
        '@FastSisdikBundle/Resources/public/js/libraries/jquery.dimensions.js'
    %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

{% block tooltip_elements %}
<script type="text/javascript">
$(function() {
	$('a.info-tooltip ').tooltip({
		track: true,
		delay: 0,
		fixPNG: true, 
		showURL: false,
		showBody: " - ",
		top: -35,
		left: 5
	});
});
</script>
{% endblock %}

{% block datepicker_scripts %}
<link rel="stylesheet" href="css/datePicker.css" type="text/css" />
<script src="js/jquery/date.js" type="text/javascript"></script>
<script src="js/jquery/jquery.datePicker.js" type="text/javascript"></script>
<script type="text/javascript" charset="utf-8">
$(function() {
    // initialise the "Select date" link
    $('#date-pick')
    	.datePicker(
    		// associate the link with a date picker
    		{
    			createButton:false,
    			startDate:'01/01/2005',
    			endDate:'31/12/2020'
    		}
    	).bind(
    		// when the link is clicked display the date picker
    		'click',
    		function()
    		{
    			updateSelects($(this).dpGetSelected()[0]);
    			$(this).dpDisplay();
    			return false;
    		}
    	).bind(
    		// when a date is selected update the SELECTs
    		'dateSelected',
    		function(e, selectedDate, $td, state)
    		{
    			updateSelects(selectedDate);
    		}
    	).bind(
    		'dpClosed',
    		function(e, selected)
    		{
    			updateSelects(selected[0]);
    		}
    	);
    	
    var updateSelects = function (selectedDate)
    {
    	var selectedDate = new Date(selectedDate);
    	$('#d option[value=' + selectedDate.getDate() + ']').attr('selected', 'selected');
    	$('#m option[value=' + (selectedDate.getMonth()+1) + ']').attr('selected', 'selected');
    	$('#y option[value=' + (selectedDate.getFullYear()) + ']').attr('selected', 'selected');
    }
    
    // listen for when the selects are changed and update the picker
    $('#d, #m, #y')
    	.bind(
    		'change',
    		function()
    		{
    			var d = new Date(
    						$('#y').val(),
    						$('#m').val()-1,
    						$('#d').val()
    					);
    			$('#date-pick').dpSetSelected(d.asString());
    		}
    	);
    
    // default the position of the selects to today
    var today = new Date();
    updateSelects(today.getTime());
    
    // and update the datePicker to reflect it...
    $('#d').trigger('change');
});
</script>
{% endblock %}

<!-- must be the last script before </head> -->
{% javascripts '@FastSisdikBundle/Resources/public/js/libraries/jquery.pngFix.pack.js' %}
<script type="text/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}







-------------------------------------------------------------------------------------------------



<!--[if lt IE 9]>
{% javascripts
    '@FastSisdikBundle/Resources/public/js/libraries/css3-mediaqueries.js'
    '@FastSisdikBundle/Resources/public/js/libraries/html5.js'
%}
<script type="text/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}
<![endif]-->


<div class="navbar navbar-fixed-top">
	<div class="navbar-inner">
		<div class="container">
	
			<a class="brand pull-left" href="#">{{ 'app.title'|trans }}</a>
			<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</a>
		
			<div class="nav-collapse collapse">
			    {{ knp_menu_render('topmenu') }}
{# 					<li>#}
{#                     	{% image '@FastSisdikBundle/Resources/public/images/kb.png' %}#}
{#                         	<a href="{{ path("_index") }}">#}
{#                         	    <span style="font-size: 1em; vertical-align: middle;" class="visible-desktop">bantuan&nbsp;&nbsp;&raquo;&nbsp;</span>#}
{#                         	    <img style="width: 18px; vertical-align: middle;" title="{{ 'alt.kb'|trans }}" src="{{ asset_url }}" alt="{{ 'alt.kb'|trans }}" border="0" />#}
{#                     	    </a>#}
{#                         {% endimage %}#}
{#                     </li>#}
			</div>
		
		</div>
	</div>
</div>

<div class="container content container-fluid" id="home">

	<div class="row-fluid">
	    <div class="span5">
    		{% image '@FastSisdikBundle/Resources/public/images/logo_black.png' %}
        	<a href="{{ path("_index") }}"><img src="{{ asset_url }}" alt="{{ 'alt.logo'|trans }}" border="0"></a>
            {% endimage %}
            <div id="school-name">
                {% if app.user.idsekolah is not null %}{{ app.user.idsekolah.nama }}{% endif %}
            </div>
        </div>
        
        <div class="span7">
            <div id="log-info" class="pull-right">
                <p style="text-align: right;">
                    &raquo;&nbsp;{{ app.user.username }}&nbsp;&laquo;
                    <br />
        		    <a href="{{ path("fos_user_profile_show") }}">{% trans from "navigations" %}user.myaccount{% endtrans %}</a> |
            		<a href="{{ path("logout") }}">{% trans from "navigations" %}user.logout{% endtrans %}</a>
        		</p>
            </div>
        </div>
        
	</div>
	
	<div class="row-fluid">
        
		<h2 class="page-title">
			{% block page_heading %}{% endblock %}
		</h2>
	
	    <div id="block-content">
    	{% block content %}
    		<h2>Sub Heading</h2>
    		<p>FlexApp is a fully responsive HTML/CSS template perfect for marketing your mobile application.
        	The template utilizes responsive CSS3 & jQuery technology to provide a consistent
        	and enjoyable viewing experience across multiple devices.</p>
        	<p>FlexApp is 100% free to use.
        	You may change, edit or modify the template however you wish,
        	for free or commercial projects.</p>
		{% endblock content %}
		</div>
	</div>
</div>

<!-- FOOTER -->
<div class="footer container container-fluid">
	<div id="copyright">Copyright &copy; 2012 SisDik oleh Fast Solution.</div>
</div>






