{% extends 'FastSisdikBundle::layout.html.twig' %}

{% block page_heading %}{% trans from "headings" %}settings.user.list.main{% endtrans %}{% endblock %}
{% block content %}
<style type="text/css">
.control-group {
    display: inline-block;
    margin-right: 0.4em;
}
</style>

<div class="filter-section">
    <div style="padding-top: 1em;">
        <form method="GET" action="{{ path('settings_user') }}" class="form-search form-inline">
            {{ form_widget(form) }}
            <button type="submit" class="btn primary alternative icon search">{{ 'label.search'|trans }}</button>
            <button class="btn" type="reset" onclick="window.location.href='{{ path('settings_user') }}'">{{ 'label.reset'|trans }}</button>
        </form>
    </div>
</div>

<div class="clearfix"></div>

<div class="add-link">
{% image '@FastSisdikBundle/Resources/public/images/forms/icon_plus.gif' %}
    <a href="{{ path('settings_user_register_noschool') }}" class="add-link-a">
        <img src="{{ asset_url }}" alt="{{ 'alt.adduser.noschool'|trans }}" border="0" width="21" height="21" style="vertical-align: middle;" />
        {{ 'label.add.user.noschool'|trans }}
    </a><br />
    <a href="{{ path('settings_user_register_withschool') }}" class="add-link-a">
        <img src="{{ asset_url }}" alt="{{ 'alt.adduser.withschool'|trans }}" border="0" width="21" height="21" style="vertical-align: middle;" />
        {{ 'label.add.user.withschool'|trans }}
    </a>
{% endimage %}
</div>

<div class="clearfix"></div>

<table class="table zebra-striped bordered-table" id="no-more-tables">
    <thead>
        <tr>
            <th class="{% if pagination.isSorted('u.name') %}sorted{% endif %}">
                {{ knp_pagination_sortable(pagination, 'label.name.full'|trans, 'u.name') }}
            </th>
            <th class="{% if pagination.isSorted('u.username') %}sorted{% endif %}">
                {{ knp_pagination_sortable(pagination, 'label.username'|trans, 'u.username') }}
            </th>
            <th class="{% if pagination.isSorted('u.email') %}sorted{% endif %}">
                {{ knp_pagination_sortable(pagination, 'label.email'|trans, 'u.email') }}
            </th>
            <th class="{% if pagination.isSorted('u.roles') %}sorted{% endif %}">
                {{ knp_pagination_sortable(pagination, 'label.roles'|trans, 'u.roles') }}
            </th>
            <th>{{ 'label.actions'|trans }}</th>
        </tr>
    </thead>
    <tbody>
    {% for user in pagination %}
        <tr>
            <td data-title="{{ 'label.name.full'|trans }}">{{ user.name }}</td>
            <td data-title="{{ 'label.username'|trans }}"><a href="{{ path('_index') }}?_switch_user={{ user.username }}">{{ user.username }}</a></td>
            <td data-title="{{ 'label.email'|trans }}">{{ user.email }}</td>
            <td data-title="{{ 'label.roles'|trans }}">
                {% for role in user.roles %}
                    {{ role|replace({'_': ' '}) }}{% if not loop.last %},{% endif %}
                {% endfor %}
            </td>
            <td data-title="{{ 'label.actions'|trans }}" class="row-actions">
                <a href="{{ path('settings_user_edit', {'id': user.id}) }}" title="{% trans %}tip.edit{% endtrans %}" class="fa fa-pencil"></a>
                <a href="{{ path('settings_user_delete', {'id': user.id}) }}" title="{% trans %}tip.delete{% endtrans %}" class="fa fa-times" onclick='return confirmDrop(this, "{{ 'confirm.drop.user'|trans({'%username%': user.username}) }}");'></a>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{{ knp_pagination_render(pagination) }}
{% endblock %}
