{% extends 'FastSisdikBundle::layout.html.twig' %}

{% block page_heading %}{{ 'welcome'|trans({}, 'headings') }}{% endblock %}

{% block content %}

    {% if tahunaktif != '' %}
        <p><b>{{ 'label.activeyear'|trans }}</b><br />
        {{ tahunaktif }}</p>
    {% endif %}

    {% if panitiaPendaftaranAktif != '' %}
        <p><b>{{ 'label.active.regcommittee'|trans }}</b><br />
        {{ 'leader'|trans }}: {{ ketuaPanitiaPendaftaranAktif }}<br />
        {{ 'member'|trans }}: {{ panitiaPendaftaranAktif }}</p>
    {% endif %}

    <ul>
    {% for role in app.user.roles %}
        <li>{{ role }}</li>
    {% endfor %}
    </ul>
{% endblock content %}