{% extends 'LanggasSisdikBundle::layout.html.twig' %}

{% block page_heading %}{% trans from "headings" %}payment.registrationfee.list{% endtrans %}{% endblock %}

{% block content %}
<style type="text/css">
.form-inline .form-group {
    display: inline-block;
    margin-right: 0.8em;
    margin-bottom: 7px;
}
.form-inline .checkbox input[type="checkbox"] {
    float: left;
    margin-right: 3px;
}
.form-inline #persen-bayar {
    display: inline;
    padding: 0;
    font-weight: normal;
    margin: 0;
}
.form-inline .checkbox-inline {
    padding: 0;
}
.form-inline .input-group-addon .checkbox {
    width: 2em;
}
</style>

<div class="filter-section">
    <form method="GET" action="{{ path('pembayaran_biaya_pendaftaran__daftar') }}" class="form-search form-inline">
        {{ form_widget(searchform) }}
        <button type="submit" class="btn primary alternative icon search">{{ 'label.search'|trans }}</button>
        <button class="btn" type="reset" onclick="window.location.href='{{ path('pembayaran_biaya_pendaftaran__daftar') }}'">{{ 'label.reset'|trans }}</button>
    </form>
</div>

<div class="clearfix" style="margin-top: 10px;"></div>

<div class="pull-left info-jumlah">
    {{ 'label.jumlah.pendaftar.total'|trans }}: {{ pendaftarTotal }}
</div>

<div class="pull-right">
    {% if tampilkanTercari %}<span class="info-jumlah">{{ 'label.jumlah.siswa.tercari'|trans }}: {{ pendaftarTercari }}</span>&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;{% endif %}
    <a href="{{ path(app.request.attributes.get('_route'), app.request.query.all) }}" title="{{ 'label.refresh.searchresult'|trans }}">{{ 'label.refresh'|trans }}<i class="fa fa-refresh fa-fw"></i></a>
</div>

<div class="clearfix">&nbsp;</div>


<table class="table zebra-striped bordered-table" id="no-more-tables">
    <thead>
        <tr>
            <th>{{ 'label.year.entry'|trans }}, {{ 'label.admissiongroup.entry'|trans }}</th>
            <th class="{% if pagination.isSorted('siswa.nomorUrutPendaftaran') %}sorted{% endif %}">
                {{ knp_pagination_sortable(pagination, 'label.application.number'|trans, 'siswa.nomorUrutPendaftaran') }}
            </th>
            <th class="{% if pagination.isSorted('siswa.namaLengkap') %}sorted{% endif %}">
                {{ knp_pagination_sortable(pagination, 'label.name.full'|trans, 'siswa.namaLengkap') }}
            </th>
            <th>{{ 'label.paid.amount'|trans }}</th>
            <th>{{ 'label.payment.remains'|trans }}</th>
            <th>{{ 'label.actions'|trans }}</th>
        </tr>
    </thead>
    <tbody>
    {% for data in pagination %}
        <tr>
            <td data-title="{{ 'label.year.entry'|trans }}, {{ 'label.admissiongroup.entry'|trans }}">{% if data.tahun is not null %}{{ data.tahun.tahun }}{% endif %}, {% if data.gelombang is not null %}{{ data.gelombang.nama }}{% else %}({{ 'label.tanpa.proses.pendaftaran'|trans }}){% endif %}</td>
            <td data-title="{{ 'label.application.number'|trans }}">{{ highlightResult(data.nomorPendaftaran, searchkey)|raw }}</td>
            <td data-title="{{ 'label.name.full'|trans }}">{{ highlightResult(data.namaLengkap, searchkey)|raw }}</td>
            <td data-title="{{ 'label.paid.amount'|trans }}">
                {% set totalBayar = 0 %}
                {% set totalBiayaMasuk = 0 %}
                {% set totalPotongan = 0 %}
                {% set totalBiayaSisa = 0 %}
                {% set totalBiaya = 0 %}
                {% set biayaTersimpan = '' %}

            {% if data.gelombang is not null %}

                {% for pembayaran in data.pembayaranPendaftaran %}
                    {% set totalPotongan = totalPotongan + pembayaran.nominalPotongan + pembayaran.persenPotonganDinominalkan %}
                    {% for biaya in pembayaran.daftarBiayaPendaftaran %}
                        {% set totalBiayaMasuk = totalBiayaMasuk + biaya.nominal %}
                        {% set biayaTersimpan = biaya.biayaPendaftaran.id ~ ',' ~ biayaTersimpan %}
                    {% endfor %}
                    {% for transaksi in pembayaran.transaksiPembayaranPendaftaran %}
                        {% set totalBayar = totalBayar + transaksi.nominalPembayaran %}
                    {% endfor %}
                {% endfor %}

                {% if biayaTersimpan != '' %}
                    {% set remainInfo %}
                        {% if data.penjurusan %}
                            {% render url('fee_registration_remains', {'tahun': data.tahun.id, 'gelombang': data.gelombang.id, 'usedfee': biayaTersimpan, 'penjurusan': data.penjurusan.id, 'json': 1}) %}
                        {% else %}
                            {% render url('fee_registration_remains', {'tahun': data.tahun.id, 'gelombang': data.gelombang.id, 'usedfee': biayaTersimpan, 'json': 1}) %}
                        {% endif %}
                    {% endset %}
                    {% set remainInfo = remainInfo|json_decode %}
                    {% set totalBiayaSisa = remainInfo.biaya %}
                {% else %}
                    {% set remainInfo %}
                        {% if data.penjurusan %}
                            {% render url('fee_registration_totalinfo', {'tahun': data.tahun.id, 'gelombang': data.gelombang.id, 'penjurusan': data.penjurusan.id, 'json': 1}) %}
                        {% else %}
                            {% render url('fee_registration_totalinfo', {'tahun': data.tahun.id, 'gelombang': data.gelombang.id, 'json': 1}) %}
                        {% endif %}
                    {% endset %}
                    {% set remainInfo = remainInfo|json_decode %}
                    {% set totalBiayaSisa = remainInfo.biaya %}
                {% endif %}
                {% set totalBiaya = totalBiayaSisa + (totalBiayaMasuk - totalPotongan) %}

                {{ totalBayar|number_format(0, ',', '.') }} &rarr;
                {% if totalPotongan > 0 %}
                <i class="fa fa-gift"></i>
                {% endif %}
                {{ totalBiaya|number_format(0, ',', '.') }}

            {% endif %}
            </td>
            <td data-title="{{ 'label.payment.remains'|trans }}">
                {% if (totalBiaya - totalBayar) == 0 %}
                    ({{ 'paidoff'|trans }})
                {% else %}
                    {{ (totalBiaya - totalBayar)|number_format(0, ',', '.') }}
                {% endif %}
            </td>
            <td data-title="{{ 'label.actions'|trans }}" class="row-actions">
            {% if data.melaluiProsesPendaftaran == 1 %}
                <a href="{{ path('payment_registrationfee', {'sid': data.id}) }}" title="{{ 'tip.payment.registrationfee'|trans }}"><i class="fa fa-shopping-cart"></i></a>
            {% else %}
                ({{ 'label.tanpa.proses.pendaftaran'|trans }})
            {% endif %}
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

{{ knp_pagination_render(pagination) }}
{% endblock content %}

{% block javascripts_custom %}
<script language="javascript" type="text/javascript">
$(document).ready(function() {
    $(".belum-bayar").change(function() {
        if ($(this).is(':checked')) {
            $(".belum-lunas").removeAttr("checked");
        }
    });

    $(".belum-lunas").change(function() {
        if ($(this).is(':checked')) {
            $(".belum-bayar").removeAttr("checked");
        }
    });
});
</script>
{% endblock javascripts_custom %}
