{% extends 'FastSisdikBundle::layout.html.twig' %}

{% block page_heading %}{% trans from "headings" %}settings.year.list{% endtrans %}{% endblock %}

{% block content %}
<div class="add-link">
{% image '@FastSisdikBundle/Resources/public/images/forms/icon_plus.gif' %}
	<a href="{{ path('settings_year_new') }}" class="add-link-a">
	    <img src="{{ asset_url }}" alt="{{ 'alt.add'|trans }}" border="0" width="21" height="21" style="vertical-align: middle;" />
	    {{ 'label.year.add'|trans }}
	</a>
{% endimage %}
</div>

<div class="clearfix"></div>

<table class="table zebra-striped bordered-table" id="no-more-tables">
    <thead>
    	<tr>
    		<th>
    		    {{ 'label.number'|trans }}
    	    </th>
    		<th class="{% if pagination.isSorted('t.tahun') %}sorted{% endif %}">
    		    {{ knp_pagination_sortable(pagination, 'label.year.entry'|trans, 't.tahun') }}
    	    </th>
    		<th>{{ 'label.actions'|trans }}</th>
    	</tr>
	</thead>
	<tbody>
{% for data in pagination %}
        <tr>
    		<td data-title="{{ 'label.number'|trans }}">{{ pagination.paginationData.firstItemNumber + loop.index - 1 }}</td>
    		<td data-title="{{ 'label.year.entry'|trans }}">{{ data.tahun }}</td>
    		<td data-title="{{ 'label.actions'|trans }}" class="row-actions">
        		<a href="{{ path('settings_year_show', {'id': data.id, 'page': pagination.paginationData.current}) }}" title="{{ 'tip.detail'|trans }}" class="icon-arrow-right"></a>
    		{% for panitia in data.panitiaPendaftaran %}
    		    <a href="{{ path('regcommittee_show', {'id': panitia.id}) }}" title="{{ 'tip.registration.committee'|trans }}" class="icon-tags"></a>
    		{% endfor %}
        		<a href="{{ path('settings_year_edit', {'id': data.id, 'page': pagination.paginationData.current}) }}" title="{% trans %}tip.edit{% endtrans %}" class="icon-edit"></a>
    		</td>
    	</tr>
{% endfor %}
    </tbody>
</table>
{{ knp_pagination_render(pagination) }}
{% endblock content %}

