{% extends 'FastSisdikBundle::layout.html.twig' %}

{% block page_heading %}{% trans from "headings" %}layanansms.detail{% endtrans %}{% endblock %}
{% block content %}
<dl>
    <dt>{{ 'label.school'|trans }}</dt>
    <dd>{{ entity.sekolah.nama }}</dd>
    <dt>{{ 'label.layanansms.jenis'|trans }}</dt>
    <dd>{% if daftarJenisLayanan[entity.jenisLayanan] is defined %}{{ daftarJenisLayanan[entity.jenisLayanan]|trans }}{% endif %}</dd>
    <dt>{{ 'label.aktif'|trans }}</dt>
    <dd>
    {% if entity.status == 1 %}
        {% image '@FastSisdikBundle/Resources/public/images/check2.png' %}
        <img src="{{ asset_url }}" border="0" height="25" style="vertical-align: middle;" />
        {% endimage %}
    {% else %}
        {% image '@FastSisdikBundle/Resources/public/images/cross.png' %}
        <img src="{{ asset_url }}" border="0" height="25" style="vertical-align: middle; margin-right: 10px;" />
        {% endimage %}
    {% endif %}
    </dd>
</dl>

<div class="clearfix"></div>

<form id="delete-form" action="{{ path('layanansms_delete', { 'id': entity.id, 'page': app.request.get('page') }) }}" method="post" class="form-inline">
    {{ form_widget(delete_form) }}
    <div class="form-actions">
        <button type="submit" class="btn alternative icon danger remove">{{ 'label.delete'|trans }}</button>
    </div>
</form>

<ul class="nav nav-pills">
    <li>
        <a href="{{ path('layanansms', {'page': app.request.get('page')}) }}">{{ 'link.backtolist'|trans }}</a>
    </li>
    <li>
        <a href="{{ path('layanansms_edit', { 'id': entity.id, 'page': app.request.get('page') }) }}">{{ 'link.edit'|trans }}</a>
    </li>
</ul>

<div class="clearfix"></div>

<ul class="nav nav-pills pull-right">
    <li>
        <a href="{{ path('layanansms_new') }}" class="add-link-a">
            <i class="fa fa-plus-square fa-lg fa-fw"></i>{{ 'label.layanansms.tambah'|trans }}
        </a>
    </li>
</ul>
{% endblock content %}

{% block javascripts_custom %}
<script language="javascript" type="text/javascript">
$(document).ready(function() {
    $("#delete-form").submit(function(){
        var confirmtext = "{{ 'confirm.drop.layanansms'|trans({ '%sekolah%': entity.sekolah.nama }) }}";
        confirmtext = confirmtext.replace(/&#039;/g, "'");
        return confirmDropButton(confirmtext);
    });
});
</script>
{% endblock javascripts_custom %}
