{% extends 'FastSisdikBundle::layout.html.twig' %}

{% block page_heading %}{% trans from "headings" %}payment.registrationfee.entry{% endtrans %}{% endblock %}

{% block content %}
<style type="text/css">
.gray-out {
    opacity: 0.2;
    filter: alpha(opacity=20); /* msie */
}
.content .popover-content p {
    margin-bottom: 0;
}
.popover-title {
    padding: 6px 15px;
}
.popover-content {
    padding: 10px 15px;
}
.popover h3 {
    text-shadow: none;
    font-size: 1.1em;
}
.popover-inner {
    padding: 1px;
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.2);
    max-width: 160px;
}
#fee-amount {
    cursor: pointer;
}
</style>

<dl>
    <dt>{{ 'label.yearentry.entry'|trans }}</dt>
    <dd>{% if siswa.tahunmasuk is not null %}{{ siswa.tahunmasuk.tahun }}{% endif %}</dd>
    <dt>{{ 'label.admissiongroup.entry'|trans }}</dt>
    <dd>{% if siswa.gelombang is not null %}{{ siswa.gelombang.nama }}{% endif %}</dd>
    <dt>{{ 'label.name.full'|trans }}</dt>
    <dd>{{ siswa.namaLengkap }}</dd>
    <dt>{{ 'label.application.number'|trans }}</dt>
    <dd>{{ siswa.nomorPendaftaran }}</dd>
    <dt>{{ 'label.gender'|trans }}</dt>
    <dd>{% if siswa.jenisKelamin == 'L' %}{{ 'male'|trans }}{% elseif siswa.jenisKelamin %}{{ 'female'|trans }}{% endif %}</dd>
	{% if siswa.orangtuaWali %}
	    {% for orangtua in siswa.orangtuaWali %}
	        {% if orangtua %}
	            {% if orangtua.aktif == 1 %}
    	            <dt>{{ 'label.name.parent.or.guardian'|trans }}</dt>
    	            <dd>{{ orangtua.nama }}</dd>
    	            <dt>{{ 'label.mobilephone.parent'|trans }}</dt>
    	            <dd>{{ orangtua.ponsel }}</dd>
		        {% endif %}
	        {% endif %}
	    {% endfor %}
	{% endif %}
	<dt>{{ 'label.payables.amount'|trans }}</dt>
	<dd>{% render url('fee_registration_totalinfo', {'tahunmasuk': siswa.tahunmasuk.id, 'gelombang': siswa.gelombang.id}) %}</dd>
	<dt>{{ 'label.paid.amount.total'|trans }}</dt>
	<dd>{{ siswa.totalNominalPembayaranPendaftaran|number_format(0, ',', '.') }}</dd>
	<dt>{{ 'label.payment.remains'|trans }}</dt>
	<dd>{% render url('fee_registration_remains', {'tahunmasuk': siswa.tahunmasuk.id, 'gelombang': siswa.gelombang.id, 'paid': siswa.totalNominalPembayaranPendaftaran}) %}</dd>
</dl>

<div class="clearfix" style="margin-bottom: 2em;"></div>

<h4>{{ 'label.fee.registration.paid'|trans }}</h4>

<table class="table zebra-striped bordered-table" id="no-more-tables">
    <thead>
    	<tr>
    		<th>{{ 'label.fee.registration.entry'|trans }}</th>
    		<th style="white-space: nowrap">{{ 'label.payables.amount'|trans }}</th>
    		<th style="white-space: nowrap">{{ 'label.paid.amount'|trans }}</th>
    		<th>{{ 'label.actions'|trans }}</th>
    	</tr>
	</thead>
	<tbody>
    {% for data in entities %}
        <tr>
    		<td data-title="{{ 'label.fee.registration.entry'|trans }}">
		    {% if data.daftarBiayaPendaftaran %}
    		    {% for biaya in data.daftarBiayaPendaftaran %}
    		        {% if biaya != '' %}
    		            {% render url('fee_registration_info', {'id': biaya}) %}{% if not loop.last %}, {% endif %}
    		        {% endif %}
    		    {% endfor %}
		    {% endif %}
		    </td>
    		<td data-title="{{ 'label.payables.amount'|trans }}">{{ totalBiaya[loop.index0]|number_format(0, ',', '.') }}</td>
    		<td data-title="{{ 'label.paid.amount'|trans }}">{{ data.totalNominalTransaksiPembayaranPendaftaran|number_format(0, ',', '.') }}</td>
    		<td data-title="{{ 'label.actions'|trans }}" class="row-actions">
    		    <a href="{{ path('payment_registrationfee_show', { 'sid': siswa.id, 'id': data.id, 'page': app.request.get('page') }) }}" title="{{ 'tip.detail'|trans }}" class="icon-arrow-right"></a>
		    {% if data.transaksiPembayaranPendaftaran|length > 1 %}
		        <a href="#" onclick="return false"
		            title="{{ 'tip.print.receipt'|trans }}"
		            class="icon-print gray-out"
		            id="popover-{{ data.id }}"></a>
	            <script language="javascript" type="text/javascript">
	                var popContent =
	                {% for transaksi in data.transaksiPembayaranPendaftaran %}
                        {% if not loop.last %}
                            "{{ 'label.payment'|trans }} #{{ loop.index }}<a href='{{ path('payment_registrationfee_printreceipt', { 'sid': siswa.id, 'pid': data.id, 'id': transaksi.id }) }}' class='icon-print'></a><br />" +
                        {% else %}
                            "{{ 'label.payment'|trans }} #{{ loop.index }}<a href='{{ path('payment_registrationfee_printreceipt', { 'sid': siswa.id, 'pid': data.id, 'id': transaksi.id }) }}' class='icon-print'></a>"
                        {% endif %}
                    {% endfor %}
	                $("#popover-" + {{ data.id }}).popover({
	                    "placement": "right",
	                    "html": true,
	                    "content": popContent
		            });
	            </script>
	        {% else %}
	            {% for transaksi in data.transaksiPembayaranPendaftaran %}
    		    <a href="{{ path('payment_registrationfee_printreceipt', { 'sid': siswa.id, 'pid': data.id, 'id': transaksi.id }) }}"
    		        title="{{ 'tip.print.receipt'|trans }}" class="icon-print"></a>
		        {% endfor %}
		    {% endif %}
		    {% if editLink[loop.index0] %}
        		<a href="{{ path('payment_registrationfee_edit', { 'sid': siswa.id, 'id': data.id, 'page': app.request.get('page') }) }}" title="{{ 'tip.payment.registrationfee.mortgage'|trans }}" class="icon-shopping-cart"></a>
		    {% endif %}
    		</td>
    	</tr>
    {% endfor %}
    </tbody>
</table>

<div class="clearfix"></div>

{% if jumlahItemBiaya > jumlahItemBiayaTerbayar %}
<form id="pay-form" action="{{ path('payment_registrationfee_create', { 'sid': siswa.id, 'page': app.request.get('page') }) }}" method="post" {{ form_enctype(form) }} class="form-horizontal">
    {{ form_row(form.daftarBiayaPendaftaran) }}
    <div class="control-group">
        <div class="controls">
            {{ 'label.payables.amount'|trans }} <b>{{ currencySymbol(locale) }}. <span id="fee-amount"></span></b>
        </div>
    </div>
    <div class="control-group">
        {{ form_widget(form.transaksiPembayaranPendaftaran) }}
    </div>
    {{ form_rest(form) }}
    <div class="control-group">
        <p style="font-style: italic; font-size: 0.9em;">
            {{ 'shortinfo.pay.notbiggerthan.fee'|trans }}<br />
            {{ 'shortinfo.pay.lessthan.fee.oneitem'|trans }}
        </p>
    </div>
    <div class="form-actions">
    <button type="submit" class="btn primary">{{ 'label.save'|trans }}</button>
    </div>
</form>
{% endif %}

<div class="clearfix"></div>

<ul class="pills">
    <li>
        <a href="{{ path('applicant_payment', {'page': app.request.get('page')}) }}">{{ 'link.backtolist'|trans }}</a>
    </li>
</ul>
<script language="javascript" type="text/javascript">
var total = 0;
var amount;

$(document).ready(function() {
	$(".checkbox").each(function() {
		var checkbox = $(this).find('input:checked');
		if (typeof checkbox.val() !== 'undefined') {
			var num = 0;

			str = $(this).text().split('.').join('');
	        num = str.match(/\d+/);
	        total += parseInt(num);
		}
    });
	amount = total.toString().replace(/(\d)(?=(\d{3})+(?!\d))/g, "$1.");
    $("#fee-amount").text(amount);

    $("#fee-amount").click(function() {
        $(".pay-amount").val($(this).text());
    });

    $("form input:checkbox").change(function() {
    	total = 0;
    	$(".checkbox").each(function() {
    		var checkbox = $(this).find('input:checked');
    		if (typeof checkbox.val() !== 'undefined') {
    			var num = 0;

    			str = $(this).text().split('.').join('');
    	        num = str.match(/\d+/);
    	        total += parseInt(num);
    		}
        });
    	amount = total.toString().replace(/(\d)(?=(\d{3})+(?!\d))/g, "$1.");
        $("#fee-amount").text(amount);
    });

    $("#pay-form").submit(function() {
        var payamount = parseInt($(".pay-amount").val().split('.').join(''));
        var feeamount = parseInt($("#fee-amount").text().split('.').join(''));

        if (payamount > feeamount) {
            alert("{{ 'shortinfo.pay.notbiggerthan.fee'|trans }}");
            return false;
        } else if (payamount < feeamount && $("form input:checked").length > 1) {
            alert("{{ 'shortinfo.pay.lessthan.fee.oneitem'|trans }}");
            return false;
        } else if (payamount == 0 || $("form input:checked").length < 1) {
        	alert("{{ 'shortinfo.pay.nozero'|trans }}");
        	return false;
        }

        return true;
    });

});
</script>

{% endblock content %}
