{% extends 'FastSisdikBundle::layout.html.twig' %}

{% block page_heading %}{% trans from "headings" %}payment.registrationfee.entry{% endtrans %}{% endblock %}

{% block content %}
<style type="text/css">
.gray-out {
    opacity: 0.2;
    filter: alpha(opacity=20); /* msie */
}
.content .popover-content p {
    margin-bottom: 0;
}
.popover-title {
    padding: 6px 15px;
}
.popover-content {
    padding: 10px 15px;
}
.popover h3 {
    text-shadow: none;
    font-size: 1.1em;
}
.popover-inner {
    padding: 1px;
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.2);
    max-width: 160px;
}
#discount-container {
    background-color: #F2F3C9;
}
#fee-amount, #fee-amount-discounted {
    cursor: pointer;
}
</style>

<dl>
    <dt>{{ 'label.yearentry.entry'|trans }}</dt>
    <dd>{% if siswa.tahunmasuk is not null %}{{ siswa.tahunmasuk.tahun }}{% endif %}</dd>
    <dt>{{ 'label.admissiongroup.entry'|trans }}</dt>
    <dd>{% if siswa.gelombang is not null %}{{ siswa.gelombang.nama }}{% endif %}</dd>
    <dt>{{ 'label.name.full'|trans }}</dt>
    <dd>{{ siswa.namaLengkap }}</dd>
    <dt>{{ 'label.application.number'|trans }}</dt>
    <dd>{{ siswa.nomorPendaftaran }}</dd>
    <dt>{{ 'label.gender'|trans }}</dt>
    <dd>{% if siswa.jenisKelamin == 'L' %}{{ 'male'|trans }}{% elseif siswa.jenisKelamin %}{{ 'female'|trans }}{% endif %}</dd>
	{% if siswa.orangtuaWali %}
	    {% for orangtua in siswa.orangtuaWali %}
	        {% if orangtua %}
	            {% if orangtua.aktif == 1 %}
    	            <dt>{{ 'label.name.parent.or.guardian'|trans }}</dt>
    	            <dd>{{ orangtua.nama }}</dd>
    	            <dt>{{ 'label.mobilephone.parent'|trans }}</dt>
    	            <dd>{{ orangtua.ponsel }}</dd>
		        {% endif %}
	        {% endif %}
	    {% endfor %}
	{% endif %}
	<dt>{{ 'label.payables.amount.total'|trans }}</dt>
	<dd>{% if totalAdaPotongan == 1 %}<span class="icon-gift" style="margin: 0;" title="{{ 'label.discounted.fee'|trans }}"></span> {% endif %}{% render url('fee_registration_totalinfo', {'tahunmasuk': siswa.tahunmasuk.id, 'gelombang': siswa.gelombang.id, 'potongan': totalPotongan}) %}</dd>
	<dt>{{ 'label.paid.amount.total'|trans }}</dt>
	<dd>{{ siswa.totalNominalPembayaranPendaftaran|number_format(0, ',', '.') }}</dd>
	<dt>{{ 'label.payment.remains.total'|trans }}</dt>
	<dd>{% render url('fee_registration_remains', {'tahunmasuk': siswa.tahunmasuk.id, 'gelombang': siswa.gelombang.id, 'paid': siswa.totalNominalPembayaranPendaftaran, 'potongan': totalPotongan}) %}</dd>
</dl>

<div class="clearfix" style="margin-bottom: 2em;"></div>

<h4>{{ 'label.fee.registration.paid'|trans }}</h4>

<table class="table zebra-striped bordered-table" id="no-more-tables">
    <thead>
    	<tr>
    		<th>{{ 'label.fee.registration.entry'|trans }}</th>
    		<th style="white-space: nowrap">{{ 'label.payables.amount'|trans }}</th>
    		<th style="white-space: nowrap">{{ 'label.paid.amount'|trans }}</th>
    		<th>{{ 'label.actions'|trans }}</th>
    	</tr>
	</thead>
	<tbody>
    {% for data in entities %}
        <tr>
    		<td data-title="{{ 'label.fee.registration.entry'|trans }}">
		    {% if data.daftarBiayaPendaftaran %}
    		    {% for biaya in data.daftarBiayaPendaftaran %}
    		        {% if biaya != '' %}
    		            {% render url('fee_registration_info', {'id': biaya}) %}{% if not loop.last %}, {% endif %}
    		        {% endif %}
    		    {% endfor %}
		    {% endif %}
		    </td>
    		<td data-title="{{ 'label.payables.amount'|trans }}">
        		{% if adaPotongan[loop.index0] == 1 %}<span class="icon-gift" style="margin: 0;" title="{{ 'label.discounted.fee'|trans }}"></span> {% endif %}
        		{{ totalBiaya[loop.index0]|number_format(0, ',', '.') }}
    		</td>
    		<td data-title="{{ 'label.paid.amount'|trans }}">{{ data.totalNominalTransaksiPembayaranPendaftaran|number_format(0, ',', '.') }}</td>
    		<td data-title="{{ 'label.actions'|trans }}" class="row-actions">
    		    <a href="{{ path('payment_registrationfee_show', { 'sid': siswa.id, 'id': data.id }) }}" title="{{ 'tip.detail'|trans }}" class="icon-arrow-right"></a>
		    {% if data.transaksiPembayaranPendaftaran|length > 1 %}
		        <a href="#" onclick="return false"
		            title="{{ 'tip.print.receipt'|trans }}"
		            class="icon-print gray-out"
		            id="popover-{{ data.id }}"></a>
	            <script language="javascript" type="text/javascript">
	                var popContent =
	                {% for transaksi in data.transaksiPembayaranPendaftaran %}
                        {% if not loop.last %}
                            "{{ 'label.payment'|trans }} #{{ loop.index }}<a href='{{ path('payment_registrationfee_printreceipt', { 'sid': siswa.id, 'pid': data.id, 'id': transaksi.id }) }}' class='icon-print'></a><br />" +
                        {% else %}
                            "{{ 'label.payment'|trans }} #{{ loop.index }}<a href='{{ path('payment_registrationfee_printreceipt', { 'sid': siswa.id, 'pid': data.id, 'id': transaksi.id }) }}' class='icon-print'></a>"
                        {% endif %}
                    {% endfor %}
	                $("#popover-" + {{ data.id }}).popover({
	                    "placement": "right",
	                    "html": true,
	                    "content": popContent
		            });
	            </script>
	        {% else %}
	            {% for transaksi in data.transaksiPembayaranPendaftaran %}
    		    <a href="{{ path('payment_registrationfee_printreceipt', { 'sid': siswa.id, 'pid': data.id, 'id': transaksi.id }) }}"
    		        title="{{ 'tip.print.receipt'|trans }}" class="icon-print"></a>
		        {% endfor %}
		    {% endif %}
		    {% if editLink[loop.index0] %}
        		<a href="{{ path('payment_registrationfee_edit', { 'sid': siswa.id, 'id': data.id }) }}" title="{{ 'tip.payment.registrationfee.mortgage'|trans }}" class="icon-shopping-cart"></a>
		    {% endif %}
    		</td>
    	</tr>
    {% endfor %}
    </tbody>
</table>

<div class="clearfix"></div>

{% if jumlahItemBiaya > jumlahItemBiayaTerbayar %}
<form id="pay-form" action="{{ path('payment_registrationfee_create', { 'sid': siswa.id }) }}" method="post" {{ form_enctype(form) }} class="form-horizontal">
    {{ form_row(form.daftarBiayaPendaftaran) }}
    <div class="control-group">
        <div class="controls">
            {{ 'label.payables.amount'|trans }} <b>{{ currencySymbol(locale) }}. <span id="fee-amount"></span></b>
        </div>
    </div>
    {{ form_row(form.adaPotongan) }}
    <div id="discount-container">
        <div id="discount-type">{{ form_row(form.jenisPotongan) }}</div>
        <div id="discount-percentage">{{ form_row(form.persenPotongan) }}</div>
        <div id="discount-amount">{{ form_row(form.nominalPotongan) }}</div>
        <div class="control-group">
            <div class="controls">
                {{ 'label.payables.amount.discounted'|trans }} <b>{{ currencySymbol(locale) }}. <span id="fee-amount-discounted"></span></b>
            </div>
        </div>
    </div>
    <div class="control-group">
        {{ form_widget(form.transaksiPembayaranPendaftaran) }}
    </div>
    {{ form_rest(form) }}
    <div class="control-group">
        <p style="font-style: italic; font-size: 0.9em;">
            {{ 'shortinfo.pay.notbiggerthan.fee'|trans }}<br />
            {{ 'shortinfo.pay.lessthan.fee.oneitem'|trans }}
        </p>
    </div>
    <div class="form-actions">
    <button type="submit" class="btn primary">{{ 'label.save'|trans }}</button>
    </div>
</form>
{% endif %}

<div class="clearfix"></div>

<ul class="pills">
    <li>
        <a href="{{ path('applicant_payment') }}">{{ 'link.backtolist'|trans }}</a>
    </li>
</ul>
<script language="javascript" type="text/javascript">
var duration = 400;
var total = 0;
var amount;
var totaldiscounted = 0;
var amountdiscounted;
var withdiscount = false;
var type;
var discountpercent = 0;
var discountnominal = 0;

function getTotalFee(index, element) {
	var checkbox = $(this).find('input:checked');
	if (typeof checkbox.val() !== 'undefined') {
		var num = 0;

		str = $(this).text().split('.').join('');
        num = str.match(/\d+/);
        total += parseInt(num);
	}
}

function getTotalFeeDiscounted() {
	if ($(".discount-check").is(":checked")) {
        type = $("#discount-type input[type='radio']:checked").val();
        if (type == 'nominal') {
            totaldiscounted = total - $(".nominal-discount").val().split('.').join('').match(/\d+/);
            totaldiscounted = totaldiscounted <= 0 ? 0 : totaldiscounted;
        } else if (type == 'persentase') {
            discountpercent = $(".percentage-discount").val().split('.').join('').match(/\d+/);
            totaldiscounted = total - (total * (discountpercent / 100));
        }
	} else {
		totaldiscounted = 0;
	}
}

$(document).ready(function() {
	$(".discount-check").change(function(){
		if ($(this).is(":checked")) {
			$('#discount-container').show(duration);
		} else {
			$('#discount-container').hide(duration);
			$(".percentage-discount").val("");
			$(".nominal-discount").val("");
			$("#fee-amount-discounted").text("");
		}
	});
	if ($(".discount-check").is(":checked")) {
	    $('#discount-container').show(duration);
	} else {
		$('#discount-container').hide(duration);
		$(".percentage-discount").val("");
		$(".nominal-discount").val("");
		$("#fee-amount-discounted").text("");
	}

	$("#discount-type input[type='radio']").change(function(){
		$("#fee-amount-discounted").text("");
		type = $("#discount-type input[type='radio']:checked").val();
		if (type == 'nominal') {
			$("#discount-percentage").hide(duration);
			$("#discount-amount").show(duration);
			$(".percentage-discount").val("");
		} else if (type == 'persentase') {
			$("#discount-percentage").show(duration);
			$("#discount-amount").hide(duration);
			$(".nominal-discount").val("");
		}
	});
	$("#fee-amount-discounted").text("");
	type = $("#discount-type input[type='radio']:checked").val();
	if (type == 'nominal') {
		$("#discount-percentage").hide(duration);
		$("#discount-amount").show(duration);
		$(".percentage-discount").val("");

		discountnominal = $("#discount-amount").val();
	} else if (type == 'persentase') {
		$("#discount-percentage").show(duration);
		$("#discount-amount").hide(duration);
		$(".nominal-discount").val("");

		discountpercent = $("#discount-percentage").val();
	} else {
		$("#discount-percentage").hide();
		$("#discount-amount").hide();
		$(".percentage-discount").val("");
		$(".nominal-discount").val("");
	}

	// display total fee
	$(".fee-item .checkbox").each(getTotalFee);
	amount = total.toString().replace(/(\d)(?=(\d{3})+(?!\d))/g, "$1.");
    $("#fee-amount").text(amount);

    $("form .fee-item input:checkbox").change(function() {
    	total = 0;
    	$(".fee-item .checkbox").each(getTotalFee);

    	amount = total.toString().replace(/(\d)(?=(\d{3})+(?!\d))/g, "$1.");
        $("#fee-amount").text(amount);

    	getTotalFeeDiscounted();
        totaldiscounted = totaldiscounted.toString().replace(/(\d)(?=(\d{3})+(?!\d))/g, "$1.");
        $("#fee-amount-discounted").text(totaldiscounted);
    });

    $("#fee-amount").click(function() {
        $(".pay-amount").val($(this).text());
    });
    // end of display total fee

    // find and display discounted fee
    getTotalFeeDiscounted();
    amountdiscounted = totaldiscounted.toString().replace(/(\d)(?=(\d{3})+(?!\d))/g, "$1.");
    $("#fee-amount-discounted").text(amountdiscounted == "0" ? "" : amountdiscounted);

    $(".nominal-discount").keyup(function() {
        discountnominal = $(this).val().split('.').join('').match(/\d+/);
        totaldiscounted = total - discountnominal;

        amountdiscounted = totaldiscounted.toString().replace(/(\d)(?=(\d{3})+(?!\d))/g, "$1.");
        $("#fee-amount-discounted").text(amountdiscounted);
    });
    $(".percentage-discount").keyup(function() {
        discountpercent = $(this).val().split('.').join('').match(/\d+/);
        totaldiscounted = total - (total * (discountpercent / 100));

        amountdiscounted = totaldiscounted.toString().replace(/(\d)(?=(\d{3})+(?!\d))/g, "$1.");
        $("#fee-amount-discounted").text(amountdiscounted);
    });

    $("#fee-amount-discounted").click(function() {
        $(".pay-amount").val($(this).text());
    });
    // end of find and display discounted fee

    $("#pay-form").submit(function() {
        var payamount = parseInt($(".pay-amount").val().split('.').join(''));

        total = 0;
        $(".fee-item .checkbox").each(getTotalFee);
        amount = total.toString().replace(/(\d)(?=(\d{3})+(?!\d))/g, "$1.");
        $("#fee-amount").text(amount);
        var feeamount = total;

        totaldiscounted = 0;
        getTotalFeeDiscounted();
        amountdiscounted = totaldiscounted.toString().replace(/(\d)(?=(\d{3})+(?!\d))/g, "$1.");
        $("#fee-amount-discounted").text(amountdiscounted == "0" ? "" : amountdiscounted);
        var feeamountdiscounted = totaldiscounted;

        var withdiscount = ($(".discount-check").is(":checked"));

        if (withdiscount) {
            if (payamount > feeamountdiscounted) {
                alert("{{ 'shortinfo.pay.notbiggerthan.fee.discounted'|trans }}");
                return false;
            } else if ((feeamount - feeamountdiscounted) <= 0) {
                alert("{{ 'shortinfo.discountamount.nozero'|trans }}");
                return false;
            } else if (payamount < feeamountdiscounted && $("form .fee-item input:checked").length > 1) {
                alert("{{ 'shortinfo.pay.lessthan.fee.oneitem'|trans }}");
                return false;
            }
        } else {
            if (payamount > feeamount) {
                alert("{{ 'shortinfo.pay.notbiggerthan.fee'|trans }}");
                return false;
            } else if (payamount < feeamount && $("form .fee-item input:checked").length > 1) {
                alert("{{ 'shortinfo.pay.lessthan.fee.oneitem'|trans }}");
                return false;
            } else if (payamount == 0 || $("form .fee-item input:checked").length < 1) {
            	alert("{{ 'shortinfo.pay.nozero'|trans }}");
            	return false;
            }
        }

        return true;
    });

});
</script>

{% endblock content %}
