{% extends 'FastSisdikBundle::layout.html.twig' %}

{% block page_heading %}{% trans from "headings" %}payment.registrationfee.transaction{% endtrans %}{% endblock %}
{% block content %}
<style type="text/css">
.extra-margin-top {
    margin-top: 1.5em;
}
.extra-margin-bottom {
    margin-bottom: 1em;
}
</style>

<dl>
    <dt>{{ 'label.yearentry.entry'|trans }}</dt>
    <dd>{% if siswa.tahun is not null %}{{ siswa.tahun.tahun }}{% endif %}</dd>
    <dt>{{ 'label.admissiongroup.entry'|trans }}</dt>
    <dd>{% if siswa.gelombang is not null %}{{ siswa.gelombang.nama }}{% endif %}</dd>
    <dt>{{ 'label.name.full'|trans }}</dt>
    <dd>{{ siswa.namaLengkap }}</dd>
    <dt>{{ 'label.application.number'|trans }}</dt>
    <dd>{{ siswa.nomorPendaftaran }}</dd>
</dl>

<div class="clearfix" style="margin-bottom: 2em;"></div>

<h4>{{ 'label.fee.registration.transaction'|trans }}</h4>

<dl>
    <dt>{{ 'label.fee.registration.entry'|trans }}</dt>
    <dd>
        <ul>
        {% for biaya in entity.daftarBiayaPendaftaran %}
        	<li>
                {% if biaya != '' %}
                    {% render url('fee_registration_info', {'id': biaya}) %}
                {% endif %}
            </li>
        {% endfor %}
        </ul>
    </dd>
{% if adaPotongan == 1 %}
    {% if jenisPotongan == 'nominal' %}
        <dt>{{ 'label.discount.amount'|trans }}</dt>
        <dd><span class="icon-gift" style="margin: 0;" title="{{ 'label.discount.fee'|trans }}"></span> {{ nominalPotongan|number_format(0, ',', '.') }}</dd>
    {% elseif jenisPotongan == 'persentase' %}
        <dt>{{ 'label.discount.percentage'|trans }}</dt>
        <dd><span class="icon-gift" style="margin: 0;" title="{{ 'label.discount.fee'|trans }}"></span> {{ persenPotongan }}% ({{ nominalPotongan|number_format(0, ',', '.') }})</dd>
    {% endif %}
{% endif %}
    <dt>{{ 'shortinfo.total.paid'|trans }}</dt>
    <dd>{{ currencySymbol(locale) }}. {{ totalNominalTransaksiSebelumnya|number_format(0, ',', '.') }}</dd>

    <dt>{{ 'label.payment.remains.total'|trans }}</dt>
    <dd>{{ currencySymbol(locale) }}. {{ (nominalBiaya - nominalPotongan - totalNominalTransaksiSebelumnya)|number_format(0, ',', '.') }}</dd>

{% for transaksi in transaksiPembayaran %}
    {% if loop.length > 1 %}
        <dt class="extra-margin-top">{{ 'label.payment.number'|trans }} #{{ loop.index }}</dt>
        <dd class="extra-margin-top">
            {{ transaksi.nomorTransaksi }}&nbsp;&nbsp;
            <a href="{{ path('payment_registrationfee_printreceipt', { 'sid': siswa.id, 'pid': entity.id, 'id': transaksi.id }) }}" title="{{ 'tip.print.receipt'|trans }}" class="icon-print"></a>
        </dd>
        <dt>{{ 'label.payment.date'|trans }} #{{ loop.index }}</dt>
        <dd>{{ transaksi.waktuSimpan|localeDate('long', 'medium') }}</dd>
        <dt>{{ 'label.pay.amount'|trans }} #{{ loop.index }}</dt>
        <dd>{{ currencySymbol(locale) }}. {{ transaksi.nominalPembayaran|number_format(0, ',', '.') }}</dd>
        <dt>{{ 'label.payment.description'|trans }} #{{ loop.index }}</dt>
        <dd class="extra-margin-bottom">{{ transaksi.keterangan }}</dd>
    {% else %}
        <dt class="extra-margin-top">{{ 'label.payment.number'|trans }}</dt>
        <dd class="extra-margin-top">
            {{ transaksi.nomorTransaksi }}&nbsp;&nbsp;
            <a href="{{ path('payment_registrationfee_printreceipt', { 'sid': siswa.id, 'pid': entity.id, 'id': transaksi.id }) }}" title="{{ 'tip.print.receipt'|trans }}" class="icon-print"></a>
        </dd>
        <dt>{{ 'label.payment.date'|trans }}</dt>
        <dd>{{ transaksi.waktuSimpan|localeDate('long', 'medium') }}</dd>
        <dt>{{ 'label.pay.amount'|trans }}</dt>
        <dd>{{ currencySymbol(locale) }}. {{ transaksi.nominalPembayaran|number_format(0, ',', '.') }}</dd>
        <dt>{{ 'label.payment.description'|trans }}</dt>
        <dd>{{ transaksi.keterangan }}</dd>
    {% endif %}
{% endfor %}
</dl>

<div class="clearfix extra-margin-bottom"></div>

{% if (nominalBiaya - nominalPotongan - totalNominalTransaksiSebelumnya) > 0 %}
    <a href="{{ path('payment_registrationfee_edit', { 'sid': siswa.id, 'id': entity.id }) }}" title="{{ 'tip.payment.registrationfee.mortgage'|trans }}">
        <span class="icon-shopping-cart"></span>
        {{ 'label.payment.addmortgage'|trans }}
    </a>

    <div class="clearfix extra-margin-bottom"></div>
{% endif %}

<ul class="pills">
    <li>
        <a href="{{ path('payment_registrationfee', { 'sid': siswa.id }) }}">{{ 'link.backto.registration.payment'|trans }}</a>
    </li>
</ul>

{% endblock content %}
