{% extends 'FastSisdikBundle::layout.html.twig' %}

{% block page_heading %}{% trans from "headings" %}laporan.transaksi.keuangan{% endtrans %}{% endblock %}

{% block content %}
<style type="text/css">
.control-group {
    display: inline-block;
    margin-right: 0.4em;
}
.ui-datepicker-month {
    font-size: 0.9em;
}
.ui-widget {
    font-family: Arial,sans-serif;
    font-size: 1em;
}
form .clearfix {
    margin-bottom: 5px;
}
.arrow-down-lanjut {
	width: 0;
	height: 0;
	border-left: 4px solid transparent;
	border-right: 4px solid transparent;
	border-top: 4px solid #555;
	display: inline-block;
	margin-left: 0.3em;
	vertical-align: middle;
}
#cari-error {
    margin-bottom: 5px;
    color: #ff0000;
}
#cari-error .help-inline {
    color: inherit;
    margin-left: 0;
    padding-left: 0;
}
.loading {
    {% image '@FastSisdikBundle/Resources/public/images/ajax-loader.gif' %}
    background: white url('{{ asset_url }}') left center no-repeat;
    {% endimage %}
}
#filename {
    line-height: 1.5em;
    min-width: 5em;
    min-height: 15px;
}
/* ringkasan */
#ringkasan {
    display: none;
}
#ringkasan .control-group {
    display: block;
}
#anchor-ringkasan {
    outline: none;
    text-decoration: none;
}
.anchor-ringkasan {
    color: #555;
    white-space: nowrap;
}
.anchor-ringkasan-sel {
    color: #999;
    white-space: nowrap;
}
.anchor-ringkasan, .anchor-ringkasan-sel {
    padding: 4px 8px;
    border: 1px solid transparent;
    border-radius: 5px;
}
.anchor-ringkasan:hover {
    background-color: #F8F8F8;
    background-image: -moz-linear-gradient(center top, #F8F8F8, #F1F1F1);
    border: 1px solid #C6C6C6;
    color: #222222;
    border-radius: 5px;
}
.anchor-ringkasan-sel {
    border: 1px solid rgb(215, 215, 215);
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.1) inset;
    background: -moz-linear-gradient(center top , rgb(238, 238, 238), rgb(224, 224, 224)) repeat scroll 0% 0% transparent;
    color: rgb(102, 102, 102);
    border-radius: 5px;
}
.anchor-ringkasan-sel:hover {
    color: #222;
}
#ringkasan .control-group {
    margin-right: 0.4em;
}
.label-ringkasan-teks {
    float: left;
}
#pemilih-ringkasan {
    margin-left: 15px;
    margin-right: 7px;
}
#pemilih-ringkasan:focus {
    outline: none;
}
#penanda-template {
	width: 7px;
	height: 7px;
	border-radius: 50%;
	background-color: #CCCCCC;
	display: inline-block;
	vertical-align: middle;
}
.pratinjau-loader {
    min-width: 15px;
    margin-left: 8px;
}
/* end of ringkasan */
</style>
{% javascripts '@FastSisdikBundle/Resources/public/js/libraries/jquery.dropkick-1.0.0.js' %}
<script type="text/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}

<div class="filter-section">
    <form method="GET" action="{{ path('laporan-transaksi-keuangan') }}" class="form-search form-inline" id="search-form">
        {{ form_row(searchform.dariTanggal) }}
        {{ form_row(searchform.hinggaTanggal) }}
        {{ form_row(searchform.searchkey) }}
        <div class="control-group">
            {% spaceless %}
            <div class="controls">
                <div class="input-prepend">
                    {{ form_widget(searchform.pembandingBayar) }}
                    {{ form_widget(searchform.jumlahBayar) }}
                </div>
            </div>
            {% endspaceless %}
        </div>
        {{ form_rest(searchform) }}
        {% if form_errors(searchform) %}
        <div id="cari-error">
            {{ form_errors(searchform) }}
        </div>
        {% endif %}
        <button type="submit" class="btn primary alternative icon search">{{ 'label.search'|trans }}</button>
        <button class="btn" type="reset" onclick="window.location.href='{{ path('laporan-transaksi-keuangan') }}'">{{ 'label.reset'|trans }}</button>
    </form>
</div>

<div class="clearfix"></div>

<div class="pull-left info-jumlah">
    {{ 'label.jumlah.transaksi.total'|trans }}: {{ transaksiTotal }}
</div>

<div class="pull-right">
    {% if tampilkanTercari %}<span class="info-jumlah">{{ 'label.jumlah.transaksi.tercari'|trans }}: {{ transaksiTercari }}</span>&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;{% endif %}
    <a href="{{ path(app.request.attributes.get('_route'), app.request.query.all) }}" title="{{ 'label.refresh.searchresult'|trans }}">{{ 'label.refresh'|trans }}<span class="icon-refresh" style="margin-left: 0.5em; vertical-align: middle;"></span></a>
</div>

<div class="clearfix">&nbsp;</div>

<table class="table zebra-striped bordered-table" id="no-more-tables">
    <thead>
        <tr>
            <th class="{% if pagination.isSorted('transaksi.waktuSimpan') %}sorted{% endif %}">
                {{ knp_pagination_sortable(pagination, 'label.waktu.transaksi'|trans, 'transaksi.waktuSimpan') }}
            </th>
            <th class="{% if pagination.isSorted('transaksi.nomorTransaksi') %}sorted{% endif %}">
                {{ knp_pagination_sortable(pagination, 'label.nomor.transaksi'|trans, 'transaksi.nomorTransaksi') }}
            </th>
            <th class="{% if pagination.isSorted('transaksi.nominalPembayaran') %}sorted{% endif %}">
                {{ knp_pagination_sortable(pagination, 'label.nominal.bayar'|trans, 'transaksi.nominalPembayaran') }}
            </th>
            <th>{{ 'label.item.biaya'|trans }}</th>
            <th>{{ 'label.actions'|trans }}</th>
        </tr>
    </thead>
    <tbody>
    {% for data in pagination %}
        <tr>
            <td data-title="{{ 'label.waktu.transaksi'|trans }}">{{ data.waktuSimpan|date("d/m/Y H:i:s") }}</td>
            <td data-title="{{ 'label.nomor.transaksi'|trans }}">{{ highlightResult(data.nomorTransaksi, searchkey)|raw }}</td>
            <td data-title="{{ 'label.nominal.bayar'|trans }}">{{ data.nominalPembayaran|number_format(0, ',', '.') }}</td>
            <td data-title="{{ 'label.item.biaya'|trans }}">
            {% for biaya in data.pembayaranPendaftaran.daftarBiayaPendaftaran %}
                {{ biaya.nama }}{% if not loop.last %}, {% endif %}
            {% endfor %}
            </td>
            <td data-title="{{ 'label.actions'|trans }}" class="row-actions">
            {% image '@FastSisdikBundle/Resources/public/images/jump-link.png' %}
                <a href="{{ path('payment_registrationfee_show', {'sid': data.pembayaranPendaftaran.siswa.id, 'id': data.pembayaranPendaftaran.id}) }}" title="{{ 'tip.lihat.transaksi.pembayaran'|trans }}" style="margin: 0 8px;" target="_blank">
            	    <img src="{{ asset_url }}" alt="{{ 'alt.lihat.transaksi.pembayaran'|trans }}" border="0" style="vertical-align: baseline;" />
        	    </a>
	        {% endimage %}
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

{{ knp_pagination_render(pagination) }}

<div class="row-fluid">
<div class="span6 export-section pull-left">
    <form method="GET" action="{{ path("laporan-transaksi-keuangan_export") }}" class="form-search form-inline" id="export-form">
        <button type="submit" class="btn success alternative icon share">{{ 'label.ekspor.ke.spreadsheet'|trans }}</button>
        <div id="filename"></div>
    </form>
</div>

<div class="span6 ringkasan-section">
    <div>
        <a href="" id="anchor-ringkasan" class="anchor-ringkasan" onclick="return false;">{{ 'label.ringkasan.laporan'|trans }}<span class="arrow-down-lanjut"></span></a>
        <div class="clearfix" style="margin-top: 1em;"></div>
        <div id="ringkasan">
            <form method="POST" action="{{ path("laporan-pendaftaran_summary") }}" id="summary-form">
                {{ form_label(summaryform.teks) }}
                {% image '@FastSisdikBundle/Resources/public/images/insert-text-abc.png' %}
                	<a href="" onclick="return false;" id="pemilih-ringkasan"><img src="{{ asset_url }}" style="vertical-align: middle" /></a><span id="penanda-template"></span>
                {% endimage %}
                <div class="clearfix" style="margin-bottom: 0;"></div>
                {{ form_widget(summaryform.teks) }}
                {{ form_help(summaryform.teks) }}

                {{ form_rest(summaryform) }}
                <button class="btn icon iinfo" id="report-preview">{{ 'label.pratinjau'|trans }}</button><span class="pratinjau-loader">&nbsp;&nbsp;&nbsp;</span>
                <div class="clearfix"></div>
                <span id="teks-terformat"></span>
                <div class="clearfix"></div>
                <button type="submit" class="btn primary alternative icon mail" id="report-sms">{{ 'label.kirim.sms'|trans }}</button>
                <button type="submit" class="btn success alternative icon printer" id="report-pdf">{{ 'label.cetak.pdf'|trans }}</button>
            </form>
        </div>
    </div>
</div>
</div>

<div class="clearfix"></div>
<script language="javascript" type="text/javascript">
var duration = 300;
var pencarianLanjutan = {% if pencarianLanjutan %}1{% else %}0{% endif %};

$(document).ready(function() {
	$(".pembanding-bayar").dropkick();

	$(".anchor-ringkasan").click(function(){
		if ($("#ringkasan").is(":visible")) {
			$("#ringkasan").hide(duration);
			$(this).removeClass("anchor-ringkasan-sel");
			$(this).addClass("anchor-ringkasan");
		} else {
			$("#ringkasan").show(duration, function() {
				$("html, body").animate({ scrollTop: $(document).height()-$(window).height() }, duration);
			});
			$(this).addClass("anchor-ringkasan-sel");
			$(this).removeClass("anchor-ringkasan");
		}
		return false;
	});

	$('.date').datepicker({
	    dateFormat: 'dd/mm/yy',
        changeYear: false,
        maxDate: 0
    });

    $("#export-form").submit(function() {
        var url = $(this).attr("action");
        $("#filename").html("");
        $("#filename").addClass("loading");
        $.post(url, $("#search-form").serialize(), function(response) {
            if (response.redirectUrl) {
            	window.location.href = response.redirectUrl;
            	$("#filename").html('<a href="' + response.redirectUrl + '">' + response.filename + '</a>'
                    	+ '<br>({{ 'label.klik.jika.tak.otomatis'|trans }})');
            	$("#filename").removeClass("loading");
            }
        });
        return false;
    });

    $("#report-preview").click(function() {
        var url = "{{ path('laporan-pendaftaran_format') }}";
        $(".pratinjau-loader").addClass("loading");
        $.get(url, {
                dariTanggal: "{% if searchdata.dariTanggal is not null %}{{ searchdata.dariTanggal|localeDate('long') }}{% endif %}",
                hinggaTanggal: "{% if searchdata.hinggaTanggal is not null %}{{ searchdata.hinggaTanggal|localeDate('long') }}{% endif %}",
                pembandingBayar: "{{ searchdata.pembandingBayar|raw }}",
                jumlahBayar: "{% if searchdata.jumlahBayar is not null %}{{ searchdata.jumlahBayar }}{% endif %}",
                transaksiTotal: "{{ transaksiTotal }}",
                transaksiTercari: "{{ transaksiTercari }}",
                tanggalSekarang: "{{ tanggalSekarang|localeDate('long') }}",
                teks: $(".ringkasan-teks").val()
            }, function(response) {
                if (response.teksterformat) {
                	$("#teks-terformat").html(response.teksterformat);
                	$(".teks-terformat").val(response.teksterformat);
                	$("html, body").animate({ scrollTop: $(document).height()-$(window).height() }, duration);
                } else {
                	$("#teks-terformat").html("{{ 'errorinfo.kesalahan.ketika.memformat.teks'|trans }}");
                }
            	$(".pratinjau-loader").removeClass("loading");
            }
        );
        return false;
    });

    $("#pemilih-ringkasan").click(function() {
        $(".ringkasan-teks").val(gantiTemplate());
        console.log(templateAktif);
        $("#penanda-template").css("background-color", gantiPenanda());
        return false;
    });

    $("#report-sms").click(function() {
        $(".output-ringkasan").val("sms");
        if ($(".nomor-ponsel").val() == "") {
            $(".nomor-ponsel").focus();
            return false;
        }
    });

    $("#report-pdf").click(function() {
        $(".output-ringkasan").val("pdf");
    });

    var summaryform = $("#summary-form");
    summaryform.submit(function() {
    	var url = "{{ path('laporan-pendaftaran_format') }}";
        $(".pratinjau-loader").addClass("loading");
        $.get(url, {
                dariTanggal: "{% if searchdata.dariTanggal is not null %}{{ searchdata.dariTanggal|localeDate('long') }}{% endif %}",
                hinggaTanggal: "{% if searchdata.hinggaTanggal is not null %}{{ searchdata.hinggaTanggal|localeDate('long') }}{% endif %}",
                pembandingBayar: "{{ searchdata.pembandingBayar|raw }}",
                jumlahBayar: "{% if searchdata.jumlahBayar is not null %}{{ searchdata.jumlahBayar }}{% endif %}",
                transaksiTotal: "{{ transaksiTotal }}",
                transaksiTercari: "{{ transaksiTercari }}",
                tanggalSekarang: "{{ tanggalSekarang|localeDate('long') }}",
                teks: $(".ringkasan-teks").val()
            }, function(response) {
            	$(".pratinjau-loader").removeClass("loading");
                if (response.teksterformat) {
                	$("#teks-terformat").html(response.teksterformat);
                	$(".teks-terformat").val(response.teksterformat);
                	$("html, body").animate({ scrollTop: $(document).height()-$(window).height() }, duration);
            	    summaryform[0].submit();
                } else {
                	$("#teks-terformat").html("{{ 'errorinfo.kesalahan.ketika.memformat.teks'|trans }}");
                }
            }
        );
        return false;
    });
});

var templateAktif = 0;
function gantiTemplate() {
	var string;

	templateAktif++;
	if (templateAktif == 0) {
		string = "";
	} else if (templateAktif == 1) {
		string = "Jumlah pendaftar hingga %tanggal-sekarang% adalah %jumlah-total%";
	} else if (templateAktif == 2) {
		string = "Jumlah pendaftar adalah %jumlah-tercari% dari %jumlah-total% siswa";
	} else if (templateAktif == 3) {
		string = "Jumlah pendaftar dari %sekolah-asal% sebanyak %jumlah-tercari% dari total %jumlah-total%";
	} else if (templateAktif == 4) {
		string = "Pendaftar yang telah membayar %jumlah-bayar% persen biaya pendaftaran adalah sebanyak %jumlah-tercari%";
	} else if (templateAktif == 5) {
		string = "Jumlah pendaftar yang dirujuk oleh %perujuk% sebanyak %jumlah-tercari% siswa";
	} else if (templateAktif == 6) {
		templateAktif = -1;
		string = "Transaksi dari tanggal %dari-tanggal% hingga %hingga-tanggal% " +
            		"yang berasal dari %sekolah-asal% dengan jumlah pembayaran %pembanding-bayar% %jumlah-bayar%%persen-bayar% " +
            		"yang dirujuk oleh %perujuk% berjumlah %jumlah-tercari% orang (total pendaftar %jumlah-total% orang)";
	}

	return string;
}

function gantiPenanda() {
	if (templateAktif == 0) {
		return "#CCCCCC";
	} else if (templateAktif == 1) {
		return "#DD5500";
	} else if (templateAktif == 2) {
	    return "#289312";
	} else if (templateAktif == 3) {
	    return "#DAD25A";
	} else if (templateAktif == 4) {
	    return "#2B50C4";
	} else if (templateAktif == 5) {
	    return "#43B7B9";
	} else if (templateAktif == -1) {
	    return "#DD52DF";
	}
}
</script>
{% endblock content %}