{% extends "FastSisdikBundle::layout.html.twig" %}

{% block page_heading %}{% trans from "headings" %}profile.edit{% endtrans %}{% endblock %}
{% block content %}
<h3 style="color: purple;">{{ app.user.username }}</h3>

<form action="{{ path('fos_user_profile_edit') }}" {{ form_enctype(form) }} method="POST" class="form-horizontal">
    {{ form_widget(form) }}
    <div class="form-group">
        <div class="col-sm-offset-4 col-sm-8 col-md-offset-4 col-md-7 col-lg-offset-3 col-lg-9">
            <button type="submit" class="btn primary">{{ 'label.submit.update'|trans }}</button>
        </div>
    </div>
</form>
{% endblock content %}
