{% extends 'FastSisdikBundle::layout.html.twig' %}

{% block page_heading %}{% trans from "headings" %}data.academicyear.list{% endtrans %}{% endblock %}

{% block content %}
<ul class="nav nav-pills">
    <li>
        <a href="{{ path('academicyear_new') }}" class="add-link-a">
            <i class="fa fa-plus-square fa-lg fa-fw"></i>{{ 'label.academicyear.add'|trans }}
        </a>
    </li>
</ul>

<div class="clearfix"></div>

<table class="table zebra-striped bordered-table" id="no-more-tables">
    <thead>
        <tr>
            <th class="{% if pagination.isSorted('t.nama') %}sorted{% endif %}">
                {{ knp_pagination_sortable(pagination, 'label.academicyear.name'|trans, 't.nama') }}
            </th>
            <th class="{% if pagination.isSorted('t.kode') %}sorted{% endif %}">
                {{ knp_pagination_sortable(pagination, 'label.code'|trans, 't.kode') }}
            </th>
            <th class="{% if pagination.isSorted('t.keterangan') %}sorted{% endif %}">
                {{ knp_pagination_sortable(pagination, 'label.description'|trans, 't.keterangan') }}
            </th>
            <th class="{% if pagination.isSorted('t.urutan') %}sorted{% endif %}">
                {{ knp_pagination_sortable(pagination, 'label.order'|trans, 't.urutan') }}
            </th>
            <th class="{% if pagination.isSorted('t.aktif') %}sorted{% endif %}">
                {{ knp_pagination_sortable(pagination, 'label.activeyear'|trans, 't.aktif') }}
            </th>
            <th>{{ 'label.actions'|trans }}</th>
        </tr>
    </thead>
    <tbody>
    {% for data in pagination %}
        <tr>
            <td data-title="{{ 'label.academicyear.name'|trans }}">{{ data.nama }}</td>
            <td data-title="{{ 'label.code'|trans }}">{{ data.kode }}</td>
            <td data-title="{{ 'label.description'|trans }}">{{ data.keterangan }}</td>
            <td data-title="{{ 'label.order'|trans }}">{{ data.urutan }}</td>
            <td data-title="{{ 'label.activeyear'|trans }}">
                {% if data.aktif == 1 %}
                    {% image '@FastSisdikBundle/Resources/public/images/check2.png' %}
                    <img src="{{ asset_url }}" border="0" height="25" style="vertical-align: middle;" />
                    {% endimage %}
                {% else %}
                    {% image '@FastSisdikBundle/Resources/public/images/cross.png' %}
                    <img src="{{ asset_url }}" border="0" height="25" style="vertical-align: middle; margin-right: 10px;" />
                    {% endimage %}
                    <a href="{{ path('academicyear_activate', {'id': data.id}) }}">{{ 'label.activate'|trans }}</a>
                {% endif %}
            </td>
            <td data-title="{{ 'label.actions'|trans }}" class="row-actions">
                <a href="{{ path('academicyear_show', {'id': data.id}) }}" title="{{ 'tip.detail'|trans }}"><i class="fa fa-arrow-right"></i></a>
                <a href="{{ path('academicyear_edit', {'id': data.id}) }}" title="{{ 'tip.edit'|trans }}"><i class="fa fa-pencil"></i></a>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<p style="font-style: italic;">* {{ 'shortinfo.onlyoneactive.academicyear'|trans }}</p>

{{ knp_pagination_render(pagination) }}
{% endblock content %}
