{% extends 'FastSisdikBundle::layout.html.twig' %}

{% block page_heading %}{% trans from "headings" %}reward.type.edit{% endtrans %}{% endblock %}

{% block content %}
<form action="{{ path('rewardtype_update', { 'id': entity.id, 'page': app.request.get('page') }) }}" method="post" {{ form_enctype(edit_form) }} class="form-horizontal">
    {{ form_widget(edit_form) }}
    <div class="form-group">
        <div class="col-sm-offset-4 col-sm-8 col-md-offset-4 col-md-7 col-lg-offset-3 col-lg-9">
            <button type="submit" class="btn primary">{{ 'label.submit.update'|trans }}</button>
        </div>
    </div>
</form>

<form id="delete-form" action="{{ path('rewardtype_delete', { 'id': entity.id, 'page': app.request.get('page') }) }}" method="post" class="form-inline pull-right">
    {{ form_widget(delete_form) }}
    <button type="submit" class="btn alternative icon danger remove">{{ 'label.delete'|trans }}</button>
</form>

<ul class="nav nav-pills">
    <li>
        <a href="{{ path('rewardtype') }}">{{ 'link.backtolist'|trans }}</a>
    </li>
</ul>
{% endblock content %}

{% block javascripts_custom %}
<script language="javascript" type="text/javascript">
$(document).ready(function() {
    $("#delete-form").submit(function(){
        var confirmtext = "{{ 'confirm.drop.reward.type'|trans({ '%rewardtype%': entity.nama }) }}";
        confirmtext = confirmtext.replace(/&#039;/g, "'");
        return confirmDropButton(confirmtext);
    });
});
</script>
{% endblock javascripts_custom %}
