{% extends 'LanggasSisdikBundle::layout.html.twig' %}

{% block page_heading %}{% trans from "headings" %}penahkikan.siswa{% endtrans %} {{ 'tahun'|trans }} {{ panitiaAktif[3] }}{% endblock %}

{% block content %}
<style type="text/css">
.form-inline .form-group {
    display: inline-block;
    margin-right: 0.4em;
    margin-bottom: 7px;
}
.ui-datepicker-month {
    font-size: 0.9em;
}
.ui-widget {
    font-family: Arial,sans-serif;
    font-size: 1em;
}
form .clearfix {
    margin-bottom: 5px;
}
.arrow-down-lanjut {
    width: 0;
    height: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 4px solid #555;
    display: inline-block;
    margin-left: 0.3em;
    vertical-align: middle;
}
#cari-lanjutan {
    display: none;
}
#anchor {
    outline: none;
    text-decoration: none;
}
.anchor-cari-lanjutan {
    color: #555;
    white-space: nowrap;
}
.anchor-cari-lanjutan-sel {
    color: #999;
    white-space: nowrap;
}
.anchor-cari-lanjutan, .anchor-cari-lanjutan-sel {
    padding: 4px 8px;
    border: 1px solid transparent;
    border-radius: 5px;
}
.anchor-cari-lanjutan:hover {
    background-color: #F8F8F8;
    background-image: -moz-linear-gradient(center top, #F8F8F8, #F1F1F1);
    border: 1px solid #C6C6C6;
    color: #222222;
    border-radius: 5px;
}
.anchor-cari-lanjutan-sel {
    border: 1px solid rgb(215, 215, 215);
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.1) inset;
    background: -moz-linear-gradient(center top , rgb(238, 238, 238), rgb(224, 224, 224)) repeat scroll 0% 0% transparent;
    color: rgb(102, 102, 102);
    border-radius: 5px;
}
.anchor-cari-lanjutan-sel:hover {
    color: #222;
}
#cari-lanjutan .control-group {
    margin-right: 0.8em;
}
#cari-lanjutan .kelengkapan-dokumen {
    border: 0px none;
    width: 3em;
    box-shadow: none;
}
#slider {
    display: inline-block;
    width: 100px;
    margin-right: 2em;
    font-size: 0.7em;
}
#slider .ui-slider-range { background: #729fcf; }
#blue .ui-slider-handle { border-color: #729fcf; }
.ui-autocomplete-loading {
{% image '@LanggasSisdikBundle/Resources/public/images/ajax-loader-circle-blue.gif' %}
    background: white url('{{ asset_url }}') right center no-repeat;
{% endimage %}
}

.input-group {
    max-width: 200px;
}
#custom-dropkick {
    padding: 0;
}
#custom-dropkick .dk_container {
    width: 30px;
}
#custom-dropkick .dk_toggle {
    max-width: 30px;
    border-bottom: 0;
    border-left: 0;
    border-top: 0;
    padding: 6px 4px;
}
.dk_options_inner {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.form-inline .input-group-addon {
    padding: 6px 8px 0;
}
.form-inline .checkbox input[type="checkbox"] {
    float: left;
    margin-right: 3px;
}
.form-inline #persen-bayar {
    display: inline;
    padding: 0;
    font-weight: normal;
    margin: 0;
}
.form-inline .checkbox-inline {
    padding: 0;
}
.form-inline .input-group-addon .checkbox {
    width: 2em;
}
</style>

<div class="filter-section">
    <form method="GET" action="{{ path('tahkik') }}" class="form-search form-inline" id="search-form">
        <div id="cari-standar">
            {{ form_row(searchform.gelombang) }}
            {{ form_row(searchform.dariTanggal) }}
            {{ form_row(searchform.hinggaTanggal) }}
            {{ form_row(searchform.searchkey) }}
            <div class="form-group">
                {% spaceless %}
                    <div class="input-group">
                        <div id="custom-dropkick" class="input-group-addon">{{ form_widget(searchform.pembandingBayar) }}</div>
                        {{ form_widget(searchform.jumlahBayar) }}
                        <span class="input-group-addon">{{ form_widget(searchform.persenBayar) }}</span>
                    </div>
                {% endspaceless %}
            </div>
            <a href="" id="anchor" class="anchor-cari-lanjutan" onclick="return false;">{{ 'label.pencarian.lanjutan'|trans }}<span class="arrow-down-lanjut"></span></a>
        </div>
        <div class="clearfix"></div>
        <div id="cari-lanjutan">
            {{ form_row(searchform.sekolahAsal) }}
            {{ form_row(searchform.namaSekolahAsal) }}
            {{ form_row(searchform.referensi) }}
            {{ form_row(searchform.namaReferensi) }}
            {{ form_row(searchform.jenisKelamin) }}
            {{ form_row(searchform.tertahkik) }}
{#             <br>#}
{#             {{ 'label.kelengkapan.dokumen'|trans }}{{ form_row(searchform.kelengkapanDokumen) }}#}
{#             <div id="slider"></div>#}
            {{ form_rest(searchform) }}
        </div>
        <button type="submit" class="btn primary alternative icon search">{{ 'label.search'|trans }}</button>
        <button class="btn" type="reset" onclick="window.location.href='{{ path('tahkik') }}'">{{ 'label.reset'|trans }}</button>
    </form>
</div>

<div class="clearfix" style="margin-top: 10px;"></div>

<div class="pull-left info-jumlah">
    {{ 'label.jumlah.pendaftar.total'|trans }}: {{ pendaftarTotal }}<br>
    {{ 'label.jumlah.pendaftar.tertahkik'|trans }}: {{ pendaftarTertahkik }}
</div>

<div class="pull-right">
    {% if tampilkanTercari %}<span class="info-jumlah">{{ 'label.jumlah.pendaftar.tercari'|trans }}: {{ pendaftarTercari }}</span>&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;{% endif %}
    <a href="{{ path(app.request.attributes.get('_route'), app.request.query.all) }}" title="{{ 'label.refresh.searchresult'|trans }}">{{ 'label.refresh'|trans }}<i class="fa fa-refresh fa-fw"></i></a>
</div>

<div class="clearfix">&nbsp;</div>

<form method="POST" action="{{ path('tahkik_update', {'idsiswa': idsiswa}) }}" class="form-inline" id="form-tahkik">
<table class="table zebra-striped bordered-table" id="no-more-tables">
    <thead>
        <tr>
            <th>{{ 'label.admissiongroup.entry'|trans }}, {{ 'label.application.number'|trans }}</th>
            <th class="{% if pagination.isSorted('siswa.namaLengkap') %}sorted{% endif %}">
                {{ knp_pagination_sortable(pagination, 'label.name.full'|trans, 'siswa.namaLengkap') }}
            </th>
            <th>{{ 'label.ortuwali.entri'|trans }}</th>
            <th>{{ 'label.paid.amount'|trans }}</th>
            <th class="row-actions">
                <input type="checkbox" value="-" id="checkbox-selector" />
            </th>
        </tr>
    </thead>
    <tbody>
    {% for data in pagination %}
        <tr>
            <td data-title="{{ 'label.admissiongroup.entry'|trans }}, {{ 'label.application.number'|trans }}">{% if data.gelombang %}{{ data.gelombang.nama }}, {% endif %}{{ highlightResult(data.nomorPendaftaran, searchkey)|raw }}</td>
            <td data-title="{{ 'label.name.full'|trans }}">
                {{ highlightResult(data.namaLengkap, searchkey)|raw }}
                {% image '@LanggasSisdikBundle/Resources/public/images/jump-link.png' %}
                <a href="{{ path('applicant_show', {'id': data.id}) }}" title="{{ 'tip.lihat.data.pendaftar'|trans }}" style="margin: 0 8px;" target="_blank">
                    <i class="fa fa-external-link"></i>
                </a>
                {% endimage %}
            </td>
            <td data-title="{{ 'label.ortuwali.entri'|trans }}">{{ highlightResult(data.orangtuaWali[0].nama, searchkey)|raw }}, {{ highlightResult(data.orangtuaWali[0].ponsel, searchkey)|raw }}</td>
            <td data-title="{{ 'label.paid.amount'|trans }}">
                {% set totalBayar = 0 %}
                {% set totalBiayaMasuk = 0 %}
                {% set totalPotongan = 0 %}
                {% set totalBiayaSisa = 0 %}
                {% set totalBiaya = 0 %}
                {% set biayaTersimpan = '' %}

                {% for pembayaran in data.pembayaranPendaftaran %}
                    {% set totalPotongan = totalPotongan + pembayaran.nominalPotongan + pembayaran.persenPotonganDinominalkan %}
                    {% for biaya in pembayaran.daftarBiayaPendaftaran %}
                        {% set totalBiayaMasuk = totalBiayaMasuk + biaya.nominal %}
                        {% set biayaTersimpan = biaya.biayaPendaftaran.id ~ ',' ~ biayaTersimpan %}
                    {% endfor %}
                    {% for transaksi in pembayaran.transaksiPembayaranPendaftaran %}
                        {% set totalBayar = totalBayar + transaksi.nominalPembayaran %}
                    {% endfor %}
                {% endfor %}

                {% if biayaTersimpan != '' %}
                    {% set remainInfo %}
                        {% render url('fee_registration_remains', {'tahun': data.tahun.id, 'gelombang': data.gelombang.id, 'usedfee': biayaTersimpan, 'json': 1}) %}
                    {% endset %}
                    {% set remainInfo = remainInfo|json_decode %}
                    {% set totalBiayaSisa = remainInfo.biaya %}
                {% else %}
                    {% set remainInfo %}
                        {% render url('fee_registration_totalinfo', {'tahun': data.tahun.id, 'gelombang': data.gelombang.id, 'json': 1}) %}
                    {% endset %}
                    {% set remainInfo = remainInfo|json_decode %}
                    {% set totalBiayaSisa = remainInfo.biaya %}
                {% endif %}
                {% set totalBiaya = totalBiayaSisa + (totalBiayaMasuk - totalPotongan) %}

                {{ totalBayar|number_format(0, ',', '.') }} &rarr;
                {% if totalPotongan > 0 %}
                <span class="icon-gift" style="margin: 0;"></span>
                {% endif %}
                {{ totalBiaya|number_format(0, ',', '.') }}
                <a href="{{ path('payment_registrationfee', {'sid': data.id}) }}" title="{{ 'tip.lihat.data.pembayaran'|trans }}" style="margin: 0 8px;" target="_blank">
                    <i class="fa fa-external-link"></i>
                </a>
            </td>
            <td data-title="{{ 'label.actions'|trans }}" class="row-actions">
                {{ form_widget(tahkikform['siswa_' ~ data.id]) }}
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

{{ form_rest(tahkikform) }}
<button type="submit" class="pull-right btn primary">{{ 'label.tahkikkan'|trans }}</button>
</form>

{{ knp_pagination_render(pagination) }}
{% endblock content %}

{% block javascripts_custom %}

{% javascripts '@LanggasSisdikBundle/Resources/public/js/libraries/jquery.dropkick-1.0.0.js' %}
<script type="text/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}

<script language="javascript" type="text/javascript">
var duration = 300;
var pencarianLanjutan = {% if pencarianLanjutan %}1{% else %}0{% endif %};

function bersihkanKetikPilih() {
    if ($(".nama-sekolah-asal").val() == "") {
        $(".id-sekolah-asal").val("");
    }
    if ($(".nama-referensi").val() == "") {
        $(".id-referensi").val("");
    }
}

$(document).ready(function() {
    var options1 = {
        minLength: 2,
        delay: 1000,
        source: function(request, response) {
            $.ajax({
                url: "{{ path("sekolahasal_ajax_ambilnama") }}",
                data: {filter: request.term},
                success: function(data) {
                    response( $.map(data, function(item) {
                        return {
                            label: item.label,
                            value: item.value,
                            id: item.id
                        }
                    }));
                }
            });
        },
        open: function(event, ui) {},
        search: function(event, ui) {
            $(".id-sekolah-asal").val("");
        },
        select: function(event, ui) {
              $(".id-sekolah-asal").val(ui.item.id);
        }
    };

    var options2 = {
        minLength: 2,
        delay: 1000,
        source: function(request, response) {
            $.ajax({
                url: "{{ path("referensi_ajax_ambilnama") }}",
                data: {filter: request.term},
                success: function(data) {
                    response( $.map(data, function(item) {
                        return {
                            label: item.label,
                            value: item.value,
                            id: item.id
                        }
                    }));
                }
            });
        },
        open: function(event, ui) {},
        search: function(event, ui) {
            $(".id-referensi").val("");
        },
        select: function(event, ui) {
            $(".id-referensi").val(ui.item.id);
        }
    };

    $(".nama-sekolah-asal").autocomplete(options1);

    $(".nama-referensi").autocomplete(options2);

    $(".nama-sekolah-asal").addClass("ui-autocomplete-loading");
    if ($(".id-sekolah-asal").val() != "") {
        $.ajax({
            url: "{{ path("sekolahasal_ajax_ambilnama") }}",
            data: {id: $(".id-sekolah-asal").val()},
            success: function(data) {
                $(".nama-sekolah-asal").val(data[0].value);
                  $(".nama-sekolah-asal").removeClass("ui-autocomplete-loading");
            }
        });
    } else {
        $(".nama-sekolah-asal").removeClass("ui-autocomplete-loading");
    }

    $(".nama-referensi").addClass("ui-autocomplete-loading");
    if ($(".id-referensi").val() != "") {
        $.ajax({
            url: "{{ path("referensi_ajax_ambilnama") }}",
            data: {id: $(".id-referensi").val()},
            success: function(data) {
                $(".nama-referensi").val(data[0].value);
                $(".nama-referensi").removeClass("ui-autocomplete-loading");
            }
        });
    } else {
        $(".nama-referensi").removeClass("ui-autocomplete-loading");
    }

    $(".pembanding-bayar").dropkick();

    $(".anchor-cari-lanjutan").click(function(){
        if ($("#cari-lanjutan").is(":visible")) {
            $("#cari-lanjutan").hide(duration);
            $(this).removeClass("anchor-cari-lanjutan-sel");
            $(this).addClass("anchor-cari-lanjutan");
        } else {
            $("#cari-lanjutan").show(duration);
            $(this).addClass("anchor-cari-lanjutan-sel");
            $(this).removeClass("anchor-cari-lanjutan");
        }
    });

    $('.date').datepicker({
        dateFormat: 'dd/mm/yy',
        changeYear: false,
        maxDate: 0
    });

    if (pencarianLanjutan != 0) {
        $("#cari-lanjutan").css("display", "block");
        $(".anchor-cari-lanjutan").addClass("anchor-cari-lanjutan-sel");
        $(".anchor-cari-lanjutan").removeClass("anchor-cari-lanjutan");
    }

    $("#search-form").submit(function() {
        bersihkanKetikPilih();
        return true;
    });

    $("#slider").slider({
        range: "min",
        value: 0,
        min: 0,
        max: 100,
        step: 25,
        slide: function(event, ui) {
            $(".kelengkapan-dokumen").val(ui.value + "%");
        }
    });
    $(".kelengkapan-dokumen").val($("#slider").slider("value") + "%");

    $("#checkbox-selector").change(function(){
        if ($(this).is(":checked")) {
            $('#no-more-tables').find(':checkbox').attr('checked', $(this).is(":checked"));
        } else {
            $('#no-more-tables').find(':checkbox').attr('checked', false);
        }
    });
});
</script>
{% endblock javascripts_custom %}
