{% extends 'FastSisdikBundle::layout.html.twig' %}

{% block page_heading %}{% trans from "headings" %}token.sekolah.edit{% endtrans %}{% endblock %}

{% block content %}
<form action="{{ path('token-sekolah_update', {'id': entity.id}) }}" method="post" {{ form_enctype(edit_form) }} class="form-horizontal">
    {{ form_widget(edit_form) }}
    <div class="form-group">
        <div class="col-sm-offset-4 col-sm-8 col-md-offset-4 col-md-7 col-lg-offset-3 col-lg-9">
            <button type="submit" class="btn primary">{{ 'label.submit.update'|trans }}</button>
        </div>
    </div>
</form>

{{ form_start(delete_form, {'attr': {'id': 'delete-form', 'class': 'form-horizontal'}}) }}
    <div class="form-group">
        <div class="col-sm-offset-4 col-sm-8 col-md-offset-4 col-md-7 col-lg-offset-3 col-lg-9">
{{ form_widget(delete_form) }}
        </div>
    </div>
{{ form_end(delete_form) }}

<ul class="nav nav-pills">
    <li>
        <a href="{{ path('token-sekolah') }}">{{ 'link.backtolist'|trans }}</a>
    </li>
</ul>
{% endblock content %}

{% block javascripts_custom %}
<script language="javascript" type="text/javascript">
$(document).ready(function() {
    $("#delete-form").submit(function(){
        var confirmtext = "{{ 'confirm.drop.token.sekolah'|trans({ '%sekolah%': entity.sekolah.nama }) }}";
        confirmtext = confirmtext.replace(/&#039;/g, "'");
        return confirmDropButton(confirmtext);
    });
});
</script>
{% endblock %}
