{% extends 'LanggasSisdikBundle::layout.html.twig' %}

{% block page_heading %}
{# {{ 'welcome'|trans({}, 'headings') }}#}
{% endblock %}

{% block content %}
<style type="text/css">
h3 {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 0;
    text-align: center;
}
.grafik-container-total {
    border: 1px solid #ddd;
    padding: 5px;
    margin: 0 auto;
    width: 430px;
    height: 215px;
}
#grafik-kehadiran-siswa-total {
    margin: 0 auto;
    width: 400px;
    height: 200px;
}
#grafik-kehadiran-siswa-total .legendLabel {
    padding: 4px;
}
@media screen and (max-width: 320px) {
    .grafik-container-total {
        width: 280px;
        height: 150px;
    }
    #grafik-kehadiran-siswa-total {
        width: 260px;
        height: 130px;
    }
}

.info-kehadiran-kelas {
    display: inline-block;
}
.grafik-container-perkelas {
    border: 1px solid #ddd;
    padding: 5px 5px 0;
    width: 220px;
    height: 110px;
    margin-right: 5px;
}
.grafik-kehadiran-siswa-perkelas {
    width: 200px;
    height: 95px;
}
.grafik-kehadiran-siswa-perkelas .legendLabel {
    padding: 2px;
}
.link-info-tabulasi {
}
.hari {
    margin: 0 2em;
}
</style>

<h3 style="margin-bottom: 0;">{{ 'informasi.kehadiran.siswa'|trans({}, 'headings')|desc("Informasi Kehadiran") }}</h3>
<h3 style="margin-top: 0;">
    <a href="{{ path('siswa__kehadiran_grafik', {'tanggal': tanggalSebelumnya}) }}"><i class="fa fa-arrow-circle-left"></i></a>
    <span class="hari">{{ tanggalTampil|localizeddate('full', 'none') }}</span>
    <a href="{{ path('siswa__kehadiran_grafik', {'tanggal': tanggalBerikutnya}) }}"><i class="fa fa-arrow-circle-right"></i></a>
</h3>

<h4 style="text-align: center;">{{ 'informasi.kehadiran.siswa.total'|trans({}, 'headings')|desc("Informasi Kehadiran Total") }}</h4>
<div class="grafik-container-total">
    <div id="grafik-kehadiran-siswa-total"></div>
</div>

{% for key,daftarKelas in daftarKelasPerTingkat %}
    {% for tingkat in daftarTingkat %}
        {% if tingkat.id == key %}<h4 style="margin-top: 10px;">{{ tingkat.nama }}</h4>{% endif %}
    {% endfor %}
    {% for kelas in daftarKelas %}
        <div class="info-kehadiran-kelas">
            <div class="nama-kelas">{{ kelas.nama }}</div>
            <div class="grafik-container-perkelas">
                <div class="grafik-kehadiran-siswa-perkelas" id="grafik-kehadiran-siswa-perkelas-{{ kelas.id }}"></div>
            </div>
            <span class="link-info-tabulasi"><a href="{{ path('kehadiran-siswa_edit') }}" class="lihat-tabulasi" data-tingkat="{{ kelas.tingkat.id }}" data-kelas="{{ kelas.id }}">lihat tabulasi</a></span>
        </div>
    {% endfor %}
    <div class="clearfix"></div>
{% endfor %}

<div style="display: none;">
    <form id="form-kehadiran" method="get" action="{{ path('kehadiran-siswa_edit') }}" {{ form_enctype(searchform) }} class="form-search form-inline">
        {{ form_widget(searchform) }}
    </form>
</div>

{% endblock content %}

{% block javascripts_custom %}
{% javascripts
    '@LanggasSisdikBundle/Resources/public/js/libraries/flot/jquery.flot.min.js'
    '@LanggasSisdikBundle/Resources/public/js/libraries/flot/jquery.flot.pie.min.js'
%}
<script type="text/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}

<script type="text/javascript">
function getLabelColor(key) {
    switch (key) {
        case 'a-hadir-tepat':
            return 'green';
        case 'b-hadir-telat':
            return 'magenta';
        case 'c-alpa':
            return 'red';
        case 'd-izin':
            return 'purple';
        case 'e-sakit':
            return 'orange';
        default:
            return 'red';
    }
}

$(function () {
    var dataGrafikTotal = [];
    var jumlahStatusKehadiran = {{ daftarStatusKehadiran|length }};

    {% for key,value in daftarStatusKehadiran %}
    dataGrafikTotal.push({
        label: "{{ value|trans }} ({{ kehadiranSiswaTotal[key] }})",
        data: {{ kehadiranSiswaTotal[key] }},
        color: getLabelColor("{{ key }}")
    });
    {% endfor %}

    $.plot($("#grafik-kehadiran-siswa-total"), dataGrafikTotal, {
        series: {
            pie: {
                show: true
            }
        },
        grid: {
            hoverable: true
        }
    });

    {% for daftarKelas in daftarKelasPerTingkat %}
        {% for kelas in daftarKelas %}
        var dataGrafikKelas_{{ kelas.id }} = [];
            {% for key,value in daftarStatusKehadiran %}
                dataGrafikKelas_{{ kelas.id }}.push({
                    label: "{{ value|trans }} ({{ kehadiranSiswaPerKelas[kelas.id][key] }})",
                    data: {{ kehadiranSiswaPerKelas[kelas.id][key] }},
                    color: getLabelColor("{{ key }}")
                });
            {% endfor %}

        $.plot($("#grafik-kehadiran-siswa-perkelas-{{ kelas.id }}"), dataGrafikKelas_{{ kelas.id }}, {
            series: {
                pie: {
                    show: true
                }
            },
            grid: {
                hoverable: true
            }
        });
        {% endfor %}
    {% endfor %}

    $(".lihat-tabulasi").click(function(){
        $("#sisdik_kehadiransiswasearch_tingkat").val($(this).attr("data-tingkat"));
        $("#sisdik_kehadiransiswasearch_kelas").val($(this).attr("data-kelas"));
        $("#form-kehadiran").submit();
        return false;
    });
});
</script>
{% endblock %}
