{% extends 'LanggasSisdikBundle::layout.html.twig' %}

{% block page_heading %}{% trans from "headings" %}reward.type.list{% endtrans %}{% endblock %}

{% block content %}
<ul class="nav nav-pills">
    <li>
        <a href="{{ path('rewardtype_new') }}" class="add-link-a">
            <i class="fa fa-plus-square fa-lg fa-fw"></i>{{ 'label.reward.type.add'|trans }}
        </a>
    </li>
</ul>

<div class="clearfix"></div>

<table class="table zebra-striped bordered-table" id="no-more-tables">
    <thead>
        <tr>
            <th class="{% if pagination.isSorted('jenisImbalan.nama') %}sorted{% endif %}">
                {{ knp_pagination_sortable(pagination, 'label.reward.type.name'|trans, 'jenisImbalan.nama') }}
            </th>
            <th class="{% if pagination.isSorted('jenisImbalan.keterangan') %}sorted{% endif %}">
                {{ knp_pagination_sortable(pagination, 'label.description'|trans, 'jenisImbalan.keterangan') }}
            </th>
            <th>{{ 'label.actions'|trans }}</th>
        </tr>
    </thead>
    <tbody>
    {% for data in pagination %}
        <tr>
            <td data-title="{{ 'label.reward.type.name'|trans }}">{{ data.nama }}</td>
            <td data-title="{{ 'label.description'|trans }}">{{ data.keterangan }}</td>
            <td data-title="{{ 'label.actions'|trans }}" class="row-actions">
                <a href="{{ path('rewardtype_show', {'id': data.id}) }}" title="{{ 'tip.detail'|trans }}"><i class="fa fa-arrow-right"></i></a>
                <a href="{{ path('rewardtype_edit', {'id': data.id}) }}" title="{{ 'tip.edit'|trans }}"><i class="fa fa-pencil"></i></a>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{{ knp_pagination_render(pagination) }}
{% endblock content %}
