{% extends 'LanggasSisdikBundle::layout.html.twig' %}

{% block page_heading %}{% trans from "headings" %}data.classguardian.list{% endtrans %}{% endblock %}

{% block content %}
<style type="text/css">
.control-group {
    display: inline-block;
    margin-right: 0.4em;
}
</style>

<div class="filter-section">
    <form method="GET" action="{{ path('data_classguardian') }}" class="form-search form-inline">
        {{ form_widget(searchform) }}
        <button type="submit" class="btn primary alternative icon search">{{ 'label.search'|trans }}</button>
        <button class="btn" type="reset" onclick="window.location.href='{{ path('data_classguardian') }}'">{{ 'label.reset'|trans }}</button>
    </form>
</div>

<ul class="nav nav-pills">
    <li>
        <a href="{{ path('data_classguardian_new') }}" class="add-link-a">
            <i class="fa fa-plus-square fa-lg fa-fw"></i>{{ 'label.classguardian.add'|trans }}
        </a>
    </li>
</ul>

<div class="clearfix"></div>

<table class="table zebra-striped bordered-table" id="no-more-tables">
    <thead>
        <tr>
            <th>{{ 'label.year.entry'|trans }}</th>
            <th>{{ 'label.class.entry'|trans }}</th>
            <th class="{% if pagination.isSorted('waliKelas.nama') %}sorted{% endif %}">
                {{ knp_pagination_sortable(pagination, 'label.classguardian.name'|trans, 'waliKelas.nama') }}
            </th>
            <th>{{ 'label.actions'|trans }}</th>
        </tr>
    </thead>
    <tbody>
    {% for data in pagination %}
        <tr>
            <td data-title="{{ 'label.year.entry'|trans }}">{{ data.tahunAkademik.nama }}</td>
            <td data-title="{{ 'label.class.entry'|trans }}">{{ data.kelas.nama }}</td>
            <td data-title="{{ 'label.classguardian.name'|trans }}">{{ data.nama }}</td>
            <td data-title="{{ 'label.actions'|trans }}" class="row-actions">
                <a href="{{ path('data_classguardian_show', {'id': data.id}) }}" title="{{ 'tip.detail'|trans }}"><i class="fa fa-arrow-right"></i></a>
                <a href="{{ path('data_classguardian_edit', {'id': data.id}) }}" title="{% trans %}tip.edit{% endtrans %}"><i class="fa fa-pencil"></i></a>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{{ knp_pagination_render(pagination) }}
{% endblock content %}
