{% extends 'LanggasSisdikBundle::layout.html.twig' %}

{% block page_heading %}{% trans from "headings" %}data.classguardian.creation{% endtrans %}{% endblock %}

{% block content %}
<style type="text/css">
.ui-widget {
    font-family: Arial,sans-serif;
    font-size: 0.9em;
}
.ui-autocomplete {
    max-height: 7.4em;
    overflow-y: auto;
    /* prevent horizontal scrollbar */
    overflow-x: hidden;
}
/* IE 6 doesn't support max-height
* we use height instead, but this forces the menu to always be this tall
*/
* html .ui-autocomplete {
    height: 7.4em;
}
.ui-autocomplete-loading {
{% image '@LanggasSisdikBundle/Resources/public/images/ajax-loader-circle-blue.gif' %}
    background: white url('{{ asset_url }}') right center no-repeat;
{% endimage %}
}
</style>
<form action="{{ path('walikelas_create') }}" method="post" {{ form_enctype(form) }} class="form-horizontal">
    {{ form_widget(form) }}
    <div class="form-group">
        <div class="col-sm-offset-4 col-sm-8 col-md-offset-4 col-md-7 col-lg-offset-3 col-lg-9">
            <button type="submit" class="btn primary">{{ 'label.submit.add'|trans }}</button>
        </div>
    </div>
</form>

<ul class="nav nav-pills">
    <li>
        <a href="{{ path('walikelas') }}">{{ 'link.backtolist'|trans }}</a>
    </li>
</ul>
{% endblock content %}

{% block javascripts_custom %}
<script language="javascript" type="text/javascript">
$(document).ready(function() {
    var url = "{{ path('data_class_ajax_updateclass') }}";
    $.get(url, {tahunAkademik: $(".selectyear").val()}, function(data) {
        var options = '';
        for (var i = 0; i < data.length; i++) {
            options += '<option value="' + data[i].optionValue + '">' + data[i].optionDisplay + '</option>';
        }
        $(".selectclass").html(options);
    });

    $(".selectyear").change(function() {
        // clear class select box content
        $(".selectclass").empty();
        $(".selectclass").html('<option>{{ 'alt.loading'|trans }}</option>');

        $.get(url, {tahunAkademik: $(this).val()}, function(data) {
            var options = '';
            for (var i = 0; i < data.length; i++) {
                options += '<option value="' + data[i].optionValue + '">' + data[i].optionDisplay + '</option>';
            }
            $(".selectclass").html(options);
        });
    });

    var options = {
        minLength: 2,
        delay: 1000,
        source: function(request, response) {
            $.ajax({
                url: "{{ path("walikelas_ambiluser") }}",
                data: {filter: request.term},
                success: function(data) {
                    response( $.map(data, function(item) {
                        return {
                            label: item.label,
                            value: item.value,
                            id: item.id
                        }
                    }));
                }
            });
        },
        open: function(event, ui) {
            $(".id-user").val("");
        },
        change: function(event, ui) {},
        search: function(event, ui) {
            $(".id-user").val("");
        },
        select: function(event, ui) {
            $(".id-user").val(ui.item.id);
        }
    };

    $(".nama-user").autocomplete(options);
});
</script>
{% endblock javascripts_custom %}
