{% extends 'FastSisdikBundle::layout.html.twig' %}

{% block page_heading %}{% trans from "headings" %}settings.school.edit{% endtrans %}{% endblock %}
{% block content %}
<form action="{{ path('settings_school_edit', {'id': id, 'page': page}) }}" {{ form_enctype(form) }} method="POST" class="form-horizontal">
    {{ form_widget(form) }}
    <div class="form-group">
        <div class="col-sm-offset-4 col-sm-8 col-md-offset-4 col-md-7 col-lg-offset-3 col-lg-9">
            <button type="submit" class="btn primary">{{ 'label.submit.update'|trans }}</button>
        </div>
    </div>
</form>

<ul class="nav nav-pills">
    <li>
        <a href="{{ path('settings_school_list') }}">{{ 'link.backtolist'|trans }}</a>
    </li>
</ul>
{% endblock content %}
