{% from 'MopaBootstrapBundle::flash.html.twig' import session_flash %}
{% extends 'LanggasSisdikBundle::layout.html.twig' %}

{% block page_heading %}{% trans from "headings" %}presence.student.list{% endtrans %}{% endblock %}

{% block content %}
<style type="text/css">
.control-group {
    display: inline-block;
    margin-right: 0.4em;
}
.nav .active > a {
}
.nav a:hover, .nav .active a:hover {
    color: inherit;
    text-decoration: none;
}
.nav > li > a:hover, .nav > li.active > a:hover {
    text-decoration: none;
    background-color: yellow;
}
.ui-datepicker-month {
    font-size: 0.9em;
}
.ui-widget {
    font-family: Arial,sans-serif;
    font-size: 1em;
}
#pesan-proses {
    line-height: 1.5em;
    min-height: 15px;
    min-width: 5em;
    color: #dd5500;
    margin-top: 0.5em;
    padding-top: 1em;
}
.loading {
    {% image '@LanggasSisdikBundle/Resources/public/images/ajax-loader.gif' %}
    background: white url('{{ asset_url }}') left top no-repeat;
    {% endimage %}
}
</style>

<div class="filter-section">
    <form method="get" action="{{ path('kehadiran-siswa_edit') }}" {{ form_enctype(searchform) }} class="form-search form-inline">
        {{ form_widget(searchform) }}
        <button type="submit" class="btn primary alternative icon log">{{ 'label.view'|trans }}</button>
        <button class="btn" type="reset" onclick="window.location.href='{{ path('kehadiran-siswa') }}'">{{ 'label.reset'|trans }}</button>
    </form>
</div>

<div class="clearfix" style="margin-top: 50px;"></div>

<div class="kehadiran-extra-section">
    <h4>Proses Kehadiran Manual:</h4>
    <form id="form-proses-kehadiran-manual" method="get" action="{{ path('kehadiran-siswa_manual') }}" class="form-search form-inline">
        <input id="proxy-url" type="hidden" name="proxyUrl" value="http://wakil-sisdik.local:8000/ambil-kehadiran-manual.php">
        <button id="tombol-proses-kehadiran-manual" type="submit" class="btn success alternative icon transfer">Proses Log Kehadiran Hari ini</button>
        <div id="pesan-proses"></div>
    </form>
</div>
{% endblock content %}

{% block javascripts_custom %}
<script language="javascript" type="text/javascript">
$(document).ready(function() {
    $('.date').datepicker({
        dateFormat: 'dd/mm/yy'
    });

    var url = "{{ path('data_class_ajax_updateclass_bylevel') }}";

    $.get(url, {tahunAkademik: {{ tahunAkademik.id }}, tingkat: $(".pilih-tingkat").val(), kelas: $(".pilih-kelas").val()}, function(data) {
        $(".pilih-kelas").empty();
        $(".pilih-kelas").html('<option>{{ 'alt.loading'|trans }}</option>');

        var options = '';
        for (var i = 0; i < data.length; i++) {
            options += '<option value="' + data[i].optionValue + '"'
                + (data[i].optionSelected == 'selected' ? 'selected="selected"' : '') + '>'
                + data[i].optionDisplay + '</option>';
        }
        $(".pilih-kelas").html(options);
    });

    $(".pilih-tingkat").change(function() {
        var kelasval = $(".pilih-kelas").val();
        $(".pilih-kelas").empty();
        $(".pilih-kelas").html('<option>{{ 'alt.loading'|trans }}</option>');

        $.get(url, {tahunAkademik: {{ tahunAkademik.id }}, tingkat: $(this).val(), kelas: kelasval}, function(data) {
            var options = '';
            for (var i = 0; i < data.length; i++) {
                options += '<option value="' + data[i].optionValue + '"'
                + (data[i].optionSelected == 'selected' ? 'selected="selected"' : '') + '>'
                + data[i].optionDisplay + '</option>';
            }
            $(".pilih-kelas").html(options);
        });
    });

    $("#form-proses-kehadiran-manual").submit(function() {
        var proxyUrl = $("#proxy-url").val(), prosesUrl = $(this).attr("action");

        $("#tombol-proses-kehadiran-manual").attr('disabled', 'disabled');
        $("#pesan-proses").html("");

        $("#pesan-proses").addClass("loading");
        $.get(proxyUrl, function(response) {
            var text = '';
            for (i = 0; i < response.pesan.length; i++) {
                text += response.pesan[i] + "<br>";
            }
            $("#pesan-proses").html(text);

            if (response.adaLogTerkirim) {
                $("#pesan-proses").addClass("loading");
                $.get(prosesUrl, function(response) {
                    for (i = 0; i < response.pesan.length; i++) {
                        text += response.pesan[i] + "<br>";
                    }

                    $("#pesan-proses").html(text);
                    $("#pesan-proses").removeClass("loading");
                    $("#tombol-proses-kehadiran-manual").removeAttr('disabled');
                });
            } else {
                $("#pesan-proses").removeClass("loading");
                $("#tombol-proses-kehadiran-manual").removeAttr('disabled');
            }
        });

        return false;
    });
});
</script>
{% endblock javascripts_custom %}
