{% extends 'FastSisdikBundle::layout.html.twig' %}

{% block page_heading %}{% trans from "headings" %}data.student.merge{% endtrans %}{% endblock %}

{% block content %}
<style type="text/css">
.download-section .control-group {
    display: inline-block;
    margin-right: 0.4em;
}
#filename {
    line-height: 1.5em;
    min-width: 5em;
    min-height: 15px;
}
.loading {
    {% image '@FastSisdikBundle/Resources/public/images/ajax-loader.gif' %}
    background: white url('{{ asset_url }}') left center no-repeat;
    {% endimage %}
}
.captcha_reload {
    margin-left: 0.5em;
    margin-right: 0.5em;
}
</style>

<form action="{{ path('siswa_mengimporgabung') }}" method="post" {{ form_enctype(form) }} class="form-horizontal">
    {{ form_errors(form) }}
    {{ form_widget(form) }}
    <div class="form-actions">
	    <button type="submit" class="btn primary">{{ 'label.merge'|trans }}</button>
    </div>
</form>

<div class="clearfix"></div>

<div class="download-section">
    <h4>{{ 'heading.download.data.formerge'|trans }}:</h4>
    <form method="post" action="{{ path('siswa_export') }}" id="export-form" class="form-inline">
        {{ form_widget(dlform) }}
        <button type="submit" class="btn success alternative icon log">{{ 'label.download'|trans }}</button>
        <div id="filename"></div>
    </form>
</div>

<div class="clearfix"></div>

<div class="knowledgebase">
{% image '@FastSisdikBundle/Resources/public/images/tip.png' %}
    <a href="{{ path('_index') }}" class="a-kb">
        <img src="{{ asset_url }}" alt="{{ 'alt.tip'|trans }}" border="0" class="img-kb">
        {{ 'link.student.merge'|trans({}, 'kb') }}
    </a>
{% endimage %}
</div>

<div class="clearfix"></div>

<ul class="pills">
    <li>
        <a href="{{ path('siswa') }}">{{ 'link.backtolist'|trans }} {{ 'label.student.entry'|trans }}</a>
    </li>
</ul>
<script language="javascript" type="text/javascript">
$(document).ready(function() {
    $("#export-form").submit(function() {
        var url = $(this).attr("action");
        $("#filename").html("&nbsp;");
        $("#filename").addClass("loading");
        $.post(url, $(this).serialize(), function(response) {
            if (response.redirectUrl) {
            	window.location.href = response.redirectUrl;
            	$("#filename").html('<a href="' + response.redirectUrl + '">' + response.filename + '</a>'
                    	+ '<br>({{ 'label.klik.jika.tak.otomatis'|trans }})');
            	$("#filename").removeClass("loading");
            }
        });
        return false;
    });
});
</script>
{% endblock content %}