{% extends 'FastSisdikBundle::layout.html.twig' %}

{% block page_heading %}{% trans from "headings" %}data.studentclass.import{% endtrans %}{% endblock %}

{% block content %}
<style type="text/css">
.filter-section .control-group {
    display: inline-block;
    margin-right: 0.4em;
}
</style>

<form action="{{ path('data_student_import_studentclass') }}" method="post" {{ form_enctype(form) }} class="form-horizontal">
    {{ form_errors(form) }}
    {{ form_widget(form) }}
	<div class="form-actions">
	    <button type="submit" class="btn primary">{{ 'label.import'|trans }}</button>
    </div>
</form>

<div class="clearfix"></div>

<div class="knowledgebase">
{% image '@FastSisdikBundle/Resources/public/images/tip.png' %}
    <a href="{{ path('_index') }}" class="a-kb">
        <img src="{{ asset_url }}" alt="{{ 'alt.tip'|trans }}" border="0" class="img-kb">
        {{ 'link.studentclass.import'|trans({}, 'kb') }}
    </a>
{% endimage %}
</div>

<div class="clearfix"></div>

<h3 style="margin-top: 1.4em;">{{ 'heading.download.selection'|trans }}</h3>
<div class="filter-section">
    <div class="searchform-container">
        <h4>{{ 'heading.classmapping.initialization'|trans }}:</h4>
        ({{ 'shortinfo.using.year'|trans }})
        <form method="post" action="{{ path('data_student_studentclass_templateinit') }}" class="form-search form-inline">
            {{ form_widget(dlform_initialization) }}
            <button type="submit" class="btn success alternative icon printer">{{ 'label.download'|trans }}</button>
        </form>
        
        <h4>{{ 'heading.classmapping.nextgrade'|trans }}:</h4>
        ({{ 'shortinfo.using.year.and.level'|trans }})
        <form method="post" action="{{ path('data_student_studentclass_templatemap') }}" class="form-search form-inline">
            {{ form_widget(dlform_classmap) }}
            <button type="submit" class="btn success alternative icon printer">{{ 'label.download'|trans }}</button>
        </form>
    </div>
</div>

<div class="clearfix"></div>

<ul class="pills">
    <li>
        <a href="{{ path('data_student') }}">{{ 'link.backtolist'|trans }} {{ 'label.student.entry'|trans }}</a>
    </li>
</ul>

<script language="javascript" type="text/javascript">
$(document).ready(function() {
	var url = "{{ path('data_class_ajax_updateclass') }}";
    $.get(url, {tahun: $(".selectyear").val()}, function(data) {
    	var options = '';
        for (var i = 0; i < data.length; i++) {
            options += '<option value="' + data[i].optionValue + '">' + data[i].optionDisplay + '</option>';
        }
        $(".selectclass").html(options);
    });
    
    $(".selectyear").change(function() {
        // clear class select box content
        $(".selectclass").empty();
        $(".selectclass").html('<option>{{ 'alt.loading'|trans }}</option>');

        $.get(url, {tahun: $(this).val()}, function(data) {
        	var options = '';
            for (var i = 0; i < data.length; i++) {
                options += '<option value="' + data[i].optionValue + '">' + data[i].optionDisplay + '</option>';
            }
            $(".selectclass").html(options);
        });
    });
});
</script>
{% endblock content %}