{% extends 'FastSisdikBundle::layout.html.twig' %}

{% block page_heading %}{% trans from "headings" %}data.student.list{% endtrans %}{% endblock %}

{% block content %}
<style type="text/css">
.control-group {
    display: inline-block;
    margin-right: 0.4em;
}
#filename {
    line-height: 1.5em;
    min-width: 5em;
    min-height: 15px;
}
.loading {
    {% image '@FastSisdikBundle/Resources/public/images/ajax-loader.gif' %}
    background: white url('{{ asset_url }}') left center no-repeat;
    {% endimage %}
}
</style>

<div class="filter-section">
    <form method="GET" action="{{ path('siswa') }}" class="form-search form-inline">
        {{ form_widget(searchform) }}
        <button type="submit" class="btn primary alternative icon search">{{ 'label.search'|trans }}</button>
        <button class="btn" type="reset" onclick="window.location.href='{{ path('siswa') }}'">{{ 'label.reset'|trans }}</button>
    </form>
</div>

<div class="row-fluid">
    <div class="span3">
    {% image '@FastSisdikBundle/Resources/public/images/forms/icon_plus.gif' %}
    	<a href="{{ path('siswa_new') }}" class="add-link-a">
    	    <img src="{{ asset_url }}" alt="{{ 'alt.add'|trans }}" border="0" width="21" height="21" style="vertical-align: middle;" />
    	    {{ 'label.student.add'|trans }}
    	</a>
    {% endimage %}
    </div>
    {% if is_expr_granted("hasRole('ROLE_ADMIN')") %}
    <div class="span3">
    {% image '@FastSisdikBundle/Resources/public/images/icon_import.png' %}
    	<a href="{{ path('siswa_import_student') }}" class="add-link-a">
    	    <img src="{{ asset_url }}" alt="{{ 'alt.import'|trans }}" border="0" width="21" height="21" style="vertical-align: middle;" />
    	    {{ 'label.student.import'|trans }}
    	</a>
    {% endimage %}
    </div>
    <div class="span3">
    {% image '@FastSisdikBundle/Resources/public/images/merge.png' %}
    	<a href="{{ path('siswa_merge_student') }}" class="add-link-a">
    	    <img src="{{ asset_url }}" alt="{{ 'alt.merge'|trans }}" border="0" width="21" height="21" style="vertical-align: middle;" />
    	    {{ 'label.student.merge'|trans }}
    	</a>
    {% endimage %}
    {% endif %}
    </div>
</div>

<div class="clearfix"></div>

<table class="table zebra-striped bordered-table" id="no-more-tables">
    <thead>
    	<tr>
    		<th>{{ 'label.number'|trans }}</th>
    		<th>{{ 'label.year.entry'|trans }}</th>
    		<th class="{% if pagination.isSorted('t.namaLengkap') %}sorted{% endif %}">
                {{ knp_pagination_sortable(pagination, 'label.name.full'|trans, 't.namaLengkap') }}
    	    </th>
    		<th class="{% if pagination.isSorted('t.nomorInduk') %}sorted{% endif %}">
                {{ knp_pagination_sortable(pagination, 'label.idnumber'|trans, 't.nomorInduk') }}
    	    </th>
    		<th class="{% if pagination.isSorted('t.jenisKelamin') %}sorted{% endif %}">
                {{ knp_pagination_sortable(pagination, 'label.gender'|trans, 't.jenisKelamin') }}
    	    </th>
    		<th>{{ 'label.mobilephone.parent'|trans }}</th>
    		<th>{{ 'label.actions'|trans }}</th>
    	</tr>
	</thead>
	<tbody>
    {% for data in pagination %}
        <tr>
    		<td data-title="{{ 'label.number'|trans }}">{{ pagination.paginationData.firstItemNumber + loop.index - 1 }}</td>
    		<td data-title="{{ 'label.year.entry'|trans }}">{% if data.tahun.tahun is defined %}{{ data.tahun.tahun }}{% endif %}</td>
    		<td data-title="{{ 'label.name.full'|trans }}">{{ data.namaLengkap }}</td>
    		<td data-title="{{ 'label.idnumber'|trans }}">{{ data.nomorInduk }}</td>
    		<td data-title="{{ 'label.gender'|trans }}">{% if data.jenisKelamin == 'L' %}{{ 'male'|trans }}{% elseif data.jenisKelamin == 'P' %}{{ 'female'|trans }}{% endif %}</td>
            <td data-title="{{ 'label.mobilephone.parent'|trans }}">
            {% if data.orangtuaWali %}
    		    {% for orangtua in data.orangtuaWali %}
    		        {% if orangtua %}
    		            {% if orangtua.aktif == 1 %}
        		            {{ orangtua.ponsel }}
    		            {% endif %}
    		        {% endif %}
    		    {% endfor %}
    		{% endif %}
    		</td>
    		<td data-title="{{ 'label.actions'|trans }}" class="row-actions">
        		<a href="{{ path('siswa_show', {'id': data.id}) }}" title="{{ 'tip.detail'|trans }}" class="icon-arrow-right"></a>
        		<a href="{{ path('siswa_edit', {'id': data.id}) }}" title="{% trans %}tip.edit{% endtrans %}" class="icon-edit info-tooltip"></a>
    		</td>
    	</tr>
    {% endfor %}
    </tbody>
</table>
{{ knp_pagination_render(pagination) }}

<div class="clearfix"></div>

{% if is_expr_granted("hasRole('ROLE_WAKIL_KEPALA_SEKOLAH')") %}
<div class="row-fluid">
    <div class="span4">
    {% image '@FastSisdikBundle/Resources/public/images/chair.png' %}
    	<a href="{{ path('penempatan-siswa-kelas') }}" class="add-link-a">
    	    <img src="{{ asset_url }}" alt="{{ 'alt.importclassmap'|trans }}" border="0" width="25" style="vertical-align: middle;" />
    	    {{ 'links.penempatan.siswa.kelas'|trans({}, 'navigations') }}
    	</a>
    {% endimage %}
    </div>
    <div class="span3">
    {% image '@FastSisdikBundle/Resources/public/images/user-gear.png' %}
    	<a href="{{ path('siswa_generate_username') }}" class="add-link-a">
    	    <img src="{{ asset_url }}" alt="{{ 'alt.student.generate.username'|trans }}" border="0" height="25" style="vertical-align: middle;" />
    	    {{ 'label.student.generate.username'|trans }}
    	</a>
    {% endimage %}
    </div>
</div>
{% endif %}

<div class="clearfix" style="margin-top: 3em;"></div>

<div class="filter-section">
    <h4>{{ 'heading.download.studentdata'|trans }}:</h4>
    <form method="post" action="{{ path('siswa_export') }}" id="export-form" class="form-search form-inline">
        {{ form_widget(dlform) }}
        <button type="submit" class="btn success alternative icon printer">{{ 'label.download'|trans }}</button>
        <div id="filename"></div>
    </form>
</div>
<script language="javascript" type="text/javascript">
$(document).ready(function() {
    $("#export-form").submit(function() {
        var url = $(this).attr("action");
        $("#filename").html("&nbsp;");
        $("#filename").addClass("loading");
        $.post(url, $(this).serialize(), function(response) {
            if (response.redirectUrl) {
            	window.location.href = response.redirectUrl;
            	$("#filename").html('<a href="' + response.redirectUrl + '">' + response.filename + '</a>'
                    	+ '<br>({{ 'label.klik.jika.tak.otomatis'|trans }})');
            	$("#filename").removeClass("loading");
            }
        });
        return false;
    });
});
</script>
{% endblock content %}
