{% extends 'FastSisdikBundle::layout.html.twig' %}

{% block page_heading %}{% trans from "headings" %}data.student.merge{% endtrans %}{% endblock %}

{% block content %}
<style type="text/css">
.filter-section .control-group {
    display: inline-block;
    margin-right: 0.4em;
}
.filter-section {
    margin-top: 2em;
}
</style>

<form action="{{ path('data_student_merge_student') }}" method="post" {{ form_enctype(form) }} class="form-horizontal">
    {{ form_errors(form) }}
    {{ form_widget(form) }}
    <div class="form-actions">
	    <button type="submit" class="btn primary">{{ 'label.merge'|trans }}</button>
    </div>
</form>

<div class="clearfix"></div>

<div class="knowledgebase">
{% image '@FastSisdikBundle/Resources/public/images/tip.png' %}
    <a href="{{ path('_index') }}" class="a-kb">
        <img src="{{ asset_url }}" alt="{{ 'alt.tip'|trans }}" border="0" class="img-kb">
        {{ 'link.student.merge'|trans({}, 'kb') }}
    </a>
{% endimage %}
</div>

<div class="clearfix"></div>

<div class="filter-section">
    <h4>{{ 'heading.download.data.formerge'|trans }}:</h4>
    <form method="post" action="{{ path('data_student_download_basicdata') }}" class="form-search form-inline">
        {{ form_widget(dlform) }}
        <button type="submit" class="btn success alternative icon printer">{{ 'label.download'|trans }}</button>
    </form>
</div>

<div class="clearfix"></div>

<ul class="pills">
    <li>
        <a href="{{ path('data_student') }}">{{ 'link.backtolist'|trans }} {{ 'label.student.entry'|trans }}</a>
    </li>
</ul>
{% endblock content %}