{% extends 'FastSisdikBundle::layout.html.twig' %}

{% block page_heading %}
    {{ 'data.student.detail'|trans({}, 'headings') }}
    <br /><span class="emphasis">{{ entity.namaLengkap }}{% if entity.nomorInduk is not null %}, {{ entity.nomorInduk }}{% endif %}</span>
{% endblock %}

{% block content %}
<div class="span9">
    <dl>
        <dt>{{ 'label.school'|trans }}</dt>
        <dd>{% if entity.sekolah is not null %}{{ entity.sekolah.nama }}{% endif %}</dd>
        <dt>{{ 'label.yearentry.entry'|trans }}</dt>
        <dd>{% if entity.tahunmasuk is not null %}{{ entity.tahunmasuk.tahun }}{% endif %}</dd>
        <dt>{{ 'label.admissiongroup.entry'|trans }}</dt>
        <dd>{% if entity.gelombang is not null %}{{ entity.gelombang.nama }}{% endif %}</dd>
        <dt>{{ 'label.name.full'|trans }}</dt>
        <dd>{{ entity.namaLengkap }}</dd>
        <dt>{{ 'label.idnumber'|trans }}</dt>
        <dd>{{ entity.nomorInduk }}</dd>
        <dt>{{ 'label.gender'|trans }}</dt>
        <dd>{% if entity.jenisKelamin == 'L' %}{{ 'male'|trans }}{% elseif entity.jenisKelamin %}{{ 'female'|trans }}{% endif %}</dd>
        <dt>{{ 'label.photo'|trans }}</dt>
        <dd><img src="/{{ entity.getWebPathThumbnail() }}" style="vertical-align: middle; padding: 8px 0;" /></dd>
        <dt>{{ 'label.religion'|trans }}</dt>
        <dd>{{ entity.agama|title }}</dd>
        <dt>{{ 'label.birthplace'|trans }}</dt>
        <dd>{{ entity.tempatLahir }}</dd>
        <dt>{{ 'label.birthday'|trans }}</dt>
        <dd>{{ entity.tanggalLahir|localeDate('long') }}</dd>
        <dt>{{ 'label.email'|trans }}</dt>
        <dd>{{ entity.email }}</dd>
        <dt>{{ 'label.nickname'|trans }}</dt>
        <dd>{{ entity.namaPanggilan }}</dd>
        <dt>{{ 'label.nationality'|trans }}</dt>
        <dd>{{ entity.kewarganegaraan }}</dd>
        <dt>{{ 'label.childno'|trans }}</dt>
        <dd>{{ entity.anakKe }}</dd>
        <dt>{{ 'label.brothers.num'|trans }}</dt>
        <dd>{{ entity.jumlahSaudarakandung }}</dd>
        <dt>{{ 'label.brothersinlaw.num'|trans }}</dt>
        <dd>{{ entity.jumlahSaudaratiri }}</dd>
        <dt>{{ 'label.orphanstatus'|trans }}</dt>
        <dd>{{ entity.statusOrphan }}</dd>
        <dt>{{ 'label.dailylanguage'|trans }}</dt>
        <dd>{{ entity.bahasaSeharihari }}</dd>
        <dt>{{ 'label.address'|trans }}</dt>
        <dd>{{ entity.alamat }}</dd>
        <dt>{{ 'label.postalcode'|trans }}</dt>
        <dd>{{ entity.kodepos }}</dd>
        <dt>{{ 'label.phone'|trans }}</dt>
        <dd>{{ entity.telepon }}</dd>
        <dt>{{ 'label.mobilephone.student'|trans }}</dt>
        <dd>{{ entity.ponselSiswa }}</dd>
        <dt>{{ 'label.livein.whilestudy'|trans }}</dt>
        <dd>{{ entity.sekolahTinggaldi }}</dd>
        <dt>{{ 'label.distance.toschool'|trans }}</dt>
        <dd>{{ entity.jarakTempat }}</dd>
        <dt>{{ 'label.how.toschool'|trans }}</dt>
        <dd>{{ entity.caraKesekolah }}</dd>
        <dt>{{ 'label.bodyweight'|trans }}</dt>
        <dd>{{ entity.beratbadan }}</dd>
        <dt>{{ 'label.bodyheight'|trans }}</dt>
        <dd>{{ entity.tinggibadan }}</dd>
        <dt>{{ 'label.bloodtype'|trans }}</dt>
        <dd>{{ entity.golongandarah }}</dd>
    </dl>

    <div class="clearfix"></div>

    <form id="delete-form" action="{{ path('data_student_deleteconfirm', { 'id': entity.id, 'page': app.request.get('page') }) }}" method="post" class="form-inline">
        {{ form_widget(delete_form) }}
        <div class="form-actions">
            <button type="submit" class="btn alternative icon danger remove">{{ 'label.delete'|trans }}</button>
        </div>
    </form>
</div>

<div class="span3">
    <div class="add-link pull-right">
    {% image '@FastSisdikBundle/Resources/public/images/forms/icon_plus.gif' %}
    	<a href="{{ path('data_student_new') }}" class="add-link-a">
    	    <img src="{{ asset_url }}" alt="{{ 'alt.add'|trans }}" border="0" width="21" height="21" style="vertical-align: middle;" />
    	    {{ 'label.student.add'|trans }}
    	</a>
    {% endimage %}
    </div>

    <div class="clearfix"></div>

	<h4 style="margin-top: 1em;">{{ 'heading.academicinfo'|trans }}</h4>
	{{ 'text.academicinfo'|trans }}<br />
    <ul class="pills">
        <li><a href="{{ path('data_studentclass', { 'siswa': entity.id }) }}">{{ 'link.classhistory'|trans }}</a></li>
    </ul>

	<h4>{{ 'heading.personalinfo'|trans }}</h4>
	{{ 'text.personalinfo'|trans }}<br />
	<ul class="pills">
    	<li><a href="#">info personal #1</a></li>
    	<li><a href="#">info personal #2</a></li>
    </ul>
</div>

<div class="clearfix"></div>

<ul class="pills">
    <li>
        <a href="{{ path('data_student', {'page': app.request.get('page')}) }}">{{ 'link.backtolist'|trans }}</a>
    </li>
    <li>
        <a href="{{ path('data_student_edit', { 'id': entity.id, 'page': app.request.get('page') }) }}">{{ 'link.edit'|trans }}</a>
    </li>
</ul>

<script language="javascript" type="text/javascript">
$(document).ready(function() {
	$("#delete-form").submit(function(){
		var confirmtext = "{{ 'confirm.drop.student'|trans({ '%student%': entity.namaLengkap }) }}";
		confirmtext = confirmtext.replace(/&#039;/g, "'");
		return confirmDropButton(confirmtext);
	});
});
</script>
{% endblock content %}
