{% extends 'FastSisdikBundle::layout.html.twig' %}

{% block page_heading %}{% trans from "headings" %}applicant.creation{% endtrans %}{% endblock %}

{% block content %}
<form action="{{ path('applicant_create') }}" method="post" {{ form_enctype(form) }} class="form-horizontal">
    {{ form_widget(form) }}
	<div class="form-actions">
	    <button type="submit" class="btn primary">{{ 'label.submit.add'|trans }}</button>
    </div>
</form>

<ul class="pills">
    <li>
        <a href="{{ path('applicant') }}">{{ 'link.backtolist'|trans }}</a>
    </li>
</ul>
{% endblock content %}