{% extends 'LanggasSisdikBundle::layout.html.twig' %}

{% block page_heading %}{% trans from "headings" %}attendancemachine.creation{% endtrans %}{% endblock %}

{% block content %}
<style type="text/css">
.form-horizontal .checkbox {
    padding-top: 0;
}
</style>

<form action="{{ path('attendancemachine_create') }}" method="post" {{ form_enctype(form) }} class="form-horizontal">
    {{ form_widget(form) }}
    <div class="form-group">
        <div class="col-sm-offset-4 col-sm-8 col-md-offset-4 col-md-7 col-lg-offset-3 col-lg-9">
            <button type="submit" class="btn primary">{{ 'label.submit.add'|trans }}</button>
        </div>
    </div>
</form>

<ul class="nav nav-pills">
    <li>
        <a href="{{ path('attendancemachine') }}">{{ 'link.backtolist'|trans }}</a>
    </li>
</ul>
{% endblock content %}
