{% extends 'FastSisdikBundle::layout.html.twig' %}

{% block page_heading %}{% trans from "headings" %}settings.school.edit{% endtrans %}{% endblock %}

{% block content %}
<style type="text/css">
.form-horizontal .help-block {
    margin-top: 0;
}
</style>

<form action="{{ path('settings_specsch_update') }}" method="post" {{ form_enctype(edit_form) }} class="form-horizontal">
    {{ form_widget(edit_form) }}
    <div class="form-group">
        <div class="col-sm-offset-4 col-sm-8 col-md-offset-4 col-md-7 col-lg-offset-3 col-lg-9">
            <button type="submit" class="btn primary">{{ 'label.submit.update'|trans }}</button>
        </div>
    </div>
</form>

<ul class="nav nav-pills">
    <li>
        <a href="{{ path('settings_specsch') }}">{{ 'link.backtodetail'|trans }}</a>
    </li>
</ul>
{% endblock content %}
