{% extends 'LanggasSisdikBundle::layout.html.twig' %}

{% block page_heading %}{% trans from "headings" %}detail.mesin.wakil{% endtrans %}{% endblock %}
{% block content %}
<ul class="nav nav-pills pull-right">
    <li>
        <a href="{{ path('mesin-wakil_new') }}" class="add-link-a">
            <i class="fa fa-plus-square fa-lg fa-fw"></i>{{ 'label.tambah.mesin.wakil'|trans }}
        </a>
    </li>
</ul>

<dl>
    <dt>{{ 'label.school'|trans }}</dt>
    <dd>{{ entity.sekolah.nama }}</dd>
    <dt>{{ 'label.url.kehadiran.manual'|trans }}</dt>
    <dd>{{ entity.urlKehadiranManual }}</dd>
    <dt>{{ 'label.url.jadwal.kehadiran'|trans }}</dt>
    <dd>{{ entity.urlJadwalKehadiran }}</dd>
    <dt>{{ 'label.url.kepulangan.manual'|trans }}</dt>
    <dd>{{ entity.urlKepulanganManual }}</dd>
    <dt>{{ 'label.url.jadwal.kepulangan'|trans }}</dt>
    <dd>{{ entity.urlJadwalKepulangan }}</dd>
</dl>

<div class="clearfix"></div>

{{ form_start(delete_form, {'attr': {'id': 'delete-form', 'class': 'form-inline pull-right'}}) }}
{{ form_widget(delete_form) }}
{{ form_end(delete_form) }}

<ul class="nav nav-pills">
    <li>
        <a href="{{ path('mesin-wakil') }}">{{ 'link.backtolist'|trans }}</a>
    </li>
    <li>
        <a href="{{ path('mesin-wakil_edit', {'id': entity.id}) }}">{{ 'link.edit'|trans }}</a>
    </li>
</ul>
{% endblock content %}

{% block javascripts_custom %}
<script language="javascript" type="text/javascript">
$(document).ready(function() {
    $("#delete-form").submit(function(){
        var confirmtext = "{{ 'confirm.drop.mesin.wakil'|trans({ '%sekolah%': entity.sekolah.nama }) }}";
        confirmtext = confirmtext.replace(/&#039;/g, "'");
        return confirmDropButton(confirmtext);
    });
});
</script>
{% endblock %}
